﻿<!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Giảng Dạy</a></li>
        <li><a href="#">Danh sách Lớp</a></li>

    </ol>
</section>
<!-- Main content -->

<div class="container-fluid lichthi">
    <div class="row">

        <div class="col-md-11">
            <div class="btn-group">
                <button type="button" class="btn btn-info">Chọn Học Kỳ</button>

               
                <select name="xxx" id="" ng-model="hocKy"
                        ng-options="item  for item in danhSachHocKy"
                        ng-change="getDanhSachlop()">
                </select>
              
            </div>
        </div>
      
    </div>
    <div class="row" style="margin-top:10px">
        
        <div class="col-md-11">
            <div class="btn-group">
                <button type="button" class="btn btn-info">In danh sách</button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-12">
            <div><p><b>ngày bắt đầu học kỳ(tuần 1)</b></p></div>



            <table class="table table-hover table_lichthi">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên môn học</th>
                        <th scope="col">Mã môn học</th>
                        <th scope="col">Lớp</th>
                        <th scope="col">Chuyên Nghành</th>
                        <th scope="col">SL</th>
                        <th scope="col">DS lớp</th>

                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in danhSachLop" ng-click="getDanhSachGiangDayTheoNhom(item.MaNhom)">
                        <th scope="row">1</th>
                        <td>{{item.TenMH}}</td>
                        <td>{{item.MaMH}}</td>
                        <td>{{item.TenLop}}</td>
                        <td></td>

                        <td>
                        </td>
                        <td></td>
                    </tr>

                </tbody>
            </table>
            
            <div><p><b>Danh sách lớp, lớp, khóa</b></p></div>
            <table class="table table-hover table_lichthi" >
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Mã học viên</th>
                        <th scope="col">Họ</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Phái</th>
                        <th scope="col">Khóa</th>
                        <th scope="col">Ngành</th>
                        <th scope="col">Mã bậc</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in danhSachGiangDayTheoNhom" >
                        <th scope="row">1</th>
                        <td>{{item.MaSoSV}}</td>
                        <td>{{item.HoLot}}</td>
                        <td>{{item.Ten}}</td>
                        <td></td>
                        <td>{{item.TenPhongKhoa}}</td>
                        <td>{{item.TenNganh}}</td>
                        <td></td>
                        <td>{{item.Email}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>