﻿<div class="container-fluid giangday">
    <div class="row">
        <div class="col-md-8" style="padding-left:0px!important;padding-right:0px!important">
            <div id="icon_giangday">
                <ul class="list-inline">
                    <li>
                        <a ui-sref="thoikhoabieu">
                            <div> <img src="../../../Assets/giaovien/img/TBK.jpg" alt="TBK" class="img-responsive"/></div>
                            <span>thời Khóa Biểu</span>
                        </a>

                    </li>
                    <li>
                        <a ui-sref="lichthi">
                            <div> <img src="../../../Assets/giaovien/img/LICHTHI.jpg" alt="TBK" class="img-responsive"/></div>
                            <span>Lịch thi</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="danhsachlop">
                            <div> <img src="../../../Assets/giaovien/img/DANHSACHLOP.jpg" alt="TBK" class="img-responsive"/></div>
                            <span>Danh sách lớp</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="khoiluonggiangday">
                            <div> <img src="../../../Assets/giaovien/img/KHOILUONGGD.jpg" alt="TBK" class="img-responsive"/></div>
                            <span>Khối lượng giảng dạy</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div> <img src="../../../Assets/giaovien/img/TBK.jpg" alt="TBK" class="img-responsive"/></div>
                            <span>Kinh phí thực hành - thí nghiệm</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="nhapdiem2">
                            <div> <img src="../../../Assets/giaovien/img/TBK.jpg" alt="TBK" class="img-responsive"/></div>
                            <span>Nhập điểm</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="dangkynghiday_daybu">
                            <div> <img src="../../../Assets/giaovien/img/TBK.jpg" alt="TBK" class="img-responsive"/></div>
                            <span>Đăng ký nghỉ dạy / Dạy bù</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div> <img src="../../../Assets/giaovien/img/TBK.jpg" alt="TBK" class="img-responsive"/></div>
                            <span>Cập nhập đề cương môn học</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div> <img src="../../../Assets/giaovien/img/TBK.jpg" alt="TBK" class="img-responsive" /></div>
                            <span>cập nhật thông tin giảng viên - hướng nghiên cứu</span>
                        </a>
                    </li>


                </ul>
            </div>
        </div>

        <div class="col-md-4" style="padding-left:0px!important;padding-right:0px!important">
            <div class="goiy">
                <a href="#">hướng dẫn nhập điểm trực tuyến</a>
            </div>
        </div>
    </div>
</div>

<!--  Begin embed angularJS  -->
