﻿<!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Giảng Dạy</a></li>
        <li><a href="#">lich thi</a></li>

    </ol>
</section>
<!-- Main content -->

<div class="container-fluid lichthi" style="margin-bottom:10px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i>Thứ <span>6</span>, Ngày <span>13-03-2020</span>,Tuần dương lịch <span>11</span>-tuần <span>6</span>Học kỳ <span>-2019</span></div>
            </div>
        </div>
    </div>
    
    <div class="container" style="background:#ffff">
        <div class="row" style="margin-bottom:10px;margin-top:10px">
            
                <div class="btn-group" style="margin-right:5px;margin-left:5px">
                    <button type="button" class="btn btn-info">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Nghỉ Dạy:
                    </button>
                </div>
            
            
                <div class="btn-group" style="margin-right:5px;margin-left:15px">
                    <button type="button" class="btn btn-info">Năm học 2019</button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
           
            
                <div class="btn-group" style="margin-right:5px">
                    <button type="button" class="btn btn-info">Học kỳ 2</button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            
           
                <div class="btn-group" style="margin-right:5px">
                    <button type="button" class="btn btn-info"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
           

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" ><i class="fa fa-times" aria-hidden="true"></i>Hủy nghỉ Dạy</button>
                </div>
                
            </div>
        </div>
        <div class="row" style="margin-top:5px">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Lớp</th>
                            <th scope="col">Tên MH</th>
                            <th scope="col">Phòng </th>
                            <th scope="col">Dãy</th>
                            <th scope="col">Thứ</th>
                            <th scope="col">Số tiết</th>
                            <th scope="col">Tiết</th>
                            <th scope="col">Giờ</th>
                            <th scope="col">Tuần Học</th>
                            <th scope="col">% ND</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>

                            <td colspan="10">Không tìm thấy dòng nào phù Hợp</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>đang xem 0 đến 0 trong tổng số mục</p>
            </div>
            <div class="col-md-2">
                <nav aria-label="Page navigation example ">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                        <li class="page-item"><a class="page-link" href="#">Tiếp</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-md-12">
                <div class="alert alert-primary" role="alert">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Để Đăng ký nghĩ Dạy/Dạy Thay,Dạy bù xi vui lòng chọn một lớp rồi nhấn nút "Đăng ký nghĩ dạy" hoặc "đăng ký dạy bù phía trên"
                </div>
            </div>
        </div>



    </div>
</div>