﻿<!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="lichthi">Xem lịch thi</a></li>

    </ol>
</section>


<!-- Main content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4  text-right ">

            <div class="form-input form-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chọn kiểu xem
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn" ng-click="showAlert()">Xem theo MSSV</a>
                        <a class="dropdown-item btn" ng-click="showmonhoc();getMonHoc()">Xem theo môn học</a>

                    </div>
                </div>

            </div>

        </div>


        <div class="input-group  col-md-6">
            <form class="" ng-show="myvalue">
                <div class="input-group ">
                    <div class="input-group-append">
                        <span class="input-group-text"><b>Xem theo mã số sinh viên: </b></span>
                    </div>

                    <input ng-model="mssv" ng-show="myvalue" type="text" class="form-control " placeholder="Nhập mã số sinh viên">
                    <div class="input-group-append">
                        <a ng-show="myvalue" ng-click="getThongTinCaNhan();getLichThi();clickshowall()" class="form-control btn btn-primary text-white"> Xem</a>

                    </div>

                </div>

            </form>
            <form class="" ng-show="myvaluemonhoc">
                <div class="input-group">
                    <div class="input-group-append">
                        <span class="input-group-text"><b>Xem theo môn học: </b></span>
                    </div>

                    <div class="input-group-append">
                        <select name="xxx" ng-model="tenMH" ng-show="myvaluemonhoc"
                                ng-options="item.TenMH  as item.TenMH  for item in allMonHoc">

                            <option disabled value="">Chọn môn học</option>

                        </select>



                    </div>  <div class="input-group-append">
                        <a ng-click="getLichThiMH(tenMH);clickshowallTTMH;clickshowalltheomon()" class=" form-control btn btn-primary text-white"> Xem</a>
                    </div>
                </div>

            </form>
        </div>






    </div>
    <div class="row" style="margin-bottom:2px">
        <div class="col-md-3 ">



            <!-- Split button -->

        </div>
        <div class="col-md-9 table-responsive" ng-show="showall">
            <table class="table table-striped table-bordered " style="width:50%!important;">
                <tbody ng-repeat="item in thongTincaNhan">
                    <tr>
                        <td style="text-align:left">Họ tên</td>
                        <th style="text-align:left">{{item.HoLot}} {{item.Ten}}</th>

                    </tr>
                    <tr>
                        <td style="text-align:left">Lớp</td>
                        <th style="text-align:left">{{item.TenLop}}</th>
                    </tr>
                    <tr>
                        <td style="text-align:left">Ngành</td>
                        <th style="text-align:left">{{item.TenNganh}}</th>
                    </tr>
                    <tr>
                        <td style="text-align:left">Khoa</td>
                        <th style="text-align:left">{{item.TenPhongKhoa}}</th>
                    </tr>
                    <tr>
                        <td style="text-align:left">Khóa</td>
                        <th style="text-align:left">{{item.NienKhoa}}</th>
                    </tr>
                    <tr>
                        <td style="text-align:left">Hệ đào tạo</td>
                        <th style="text-align:left">{{item.HeDaoTao}}</th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div ng-show="showall">
    <div class="container-fluid ">





        <div class="row" style="margin-top:30px">
            <div class="col-md-12 ">

                <div class="table-responsive">
                    <table class="table">
                        <tr ng-repeat="item in lichThi|limitTo:1">
                            <td colspan="8" style="text-align:center;font-size:20px;font-weight:bold;background:#F5F5F5">Học kỳ: {{item.HocKy}}, năm học {{item.NamHoc}}</td>
                        </tr>


                        <tr>
                            <th>STT</th>
                            <th style="text-align:left">Tên môn học</th>
                            <th style="text-align:left">Mã MH</th>
                            <th style="text-align:left">Giờ thi</th>
                            <th style="text-align:left">Ngày thi</th>
                            <th style="text-align:left">Phòng thi</th>
                            <th style="text-align:left">Lớp </th>
                            <th style="text-align:left">Chuyên ngành</th>

                        </tr>

                        <tbody ng-repeat="item in lichThi">
                            <tr>
                                <th>{{$index+1}}</th>
                                <td style="text-align:left"><a href="" ng-click="getTTMH(item.MaMH,item.MaNhom,item.MaLop)">{{item.TenMH}}</a></td>
                                <td style="text-align:left">{{item.MaMH}}</td>
                                <td style="text-align:left">{{item.GioThi}}</td>
                                <td style="text-align:left">{{item.NgayThi|date:'dd/MM/yyyy'}}</td>
                                <td style="text-align:left">{{item.TenPH}}</td>
                                <td style="text-align:left">{{item.TenLop}}</td>
                                <td style="text-align:left">{{item.TenNganh}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
             


        </div>

    </div>
</div>

<div >
    <div class="container-fluid ">





        <div class="row " style="margin-top:30px">
            <div class="col-md-12 table-responsive" ng-show="showtheomonhoc">


                <table class="table">
                    <tr ng-repeat="item in LichThiMH|limitTo:1">
                        <td colspan="8" style="text-align:center;font-size:20px;font-weight:bold">Học kỳ: {{hocKy}}, năm học {{namhoc}}</td>
                    </tr>


                    <tr>
                        <th style="text-align:center" scope="col">STT</th>
                        <th style="text-align:center" scope="col">Tên môn học</th>
                        <th style="text-align:center" scope="col">Mã MH</th>
                        <th style="text-align:center" scope="col">Giờ thi</th>
                        <th style="text-align:center" scope="col">Ngày thi</th>
                        <th style="text-align:center" scope="col">Phòng thi</th>
                        <th style="text-align:center" scope="col">Lớp </th>
                        <th style="text-align:center" scope="col">Chuyên ngành</th>

                    </tr>

                    <tbody ng-repeat="item in LichThiMH">
                        <tr>
                            <th>{{$index+1}}</th>
                            <td><a href="" ng-click="getTTMH(item.MaMH,item.MaNhom,item.MaLop)">{{item.TenMH}}</a></td>
                            <td>{{item.MaMH}}</td>
                            <td>{{item.GioThi}}</td>
                            <td>{{item.NgayThi|date:'dd/MM/yyyy'}}</td>
                            <td>{{item.TenPH}}</td>
                            <td>{{item.TenLop}}</td>
                            <td>{{item.TenNganh}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>
             


        </div>

    </div>
</div>



<br />
<br />

<div class="container-fluid" style="margin-top:20px">

    <div class="row" style="margin-top:10px;" ng-show="showallTTMH">
        <div class="col-md-12 table-responsive">
            <div><b><h3 class="text-center">THÔNG TIN CHI TIẾT MÔN HỌC</h3></b></div>


            <table class="table table-striped table-bordered ">
                <tbody ng-repeat="item in TTMH|limitTo:$index=1">
                    <tr>
                        <th>Mã môn học</th>
                        <td>{{item.MaMH}}</td>

                    </tr>
                    <tr>
                        <th width="020%">Tên môn học</th>
                        <td width="80%">{{item.TenMH}}</td>

                    </tr>


                    <tr>
                        <th>Số TC</th>
                        <td>{{item.SoTinChi}}</td>
                    </tr>
                    <tr>
                        <th>Số TCHP</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Mã lớp</th>
                        <td>{{item.MaLop}}</td>
                    </tr>

                    <tr>
                        <th>TH</th>
                        <td>{{item.SoGioThucHanh}}</td>
                    </tr>
                    <tr>
                        <th>Số tiết</th>
                        <td>{{item.SoTiet}}</td>
                    </tr>
                    <tr>
                        <th>Phòng thi</th>
                        <td>{{item.TenPH}}</td>
                    </tr>
                    <tr>
                        <th>Ngày thi</th>
                        <td>{{item.NgayThi|date:'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr>
                        <th>Giờ thi</th>
                        <td>{{item.GioThi}}</td>
                    </tr>
                    <tr>
                        <th>Chyên ngành</th>
                        <td>{{item.TenNganh}}</td>
                    </tr>



                </tbody>
            </table>

            <table class="table table-bordered table-hover">

                <thead>
                    <tr style="background:#74b9ff;">
                        <th width="10%" style="text-align:center">STT</th>
                        <th width="30%" style="text-align:center">MSSV</th>
                        <th width="60%" style="text-align:center">Họ và tên</th>


                    </tr>
                </thead>

                <tbody>

                    <tr ng-repeat="item in TTMH">
                        <td>{{$index+1}}</td>
                        <td>{{item.MaSoSV}}</td>
                        <td>{{item.HoLot}} {{item.Ten}}</td>



                    </tr>



                </tbody>

            </table>
        </div>
    </div>
    <!--<div class="row" style="margin-top:10px">

        <div class="col-md-12">
            <div class="btn-group">
                <button type="button" class="btn btn-info">xem ban in</button>
            </div>
        </div>
    </div>-->

</div>