﻿<!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Giảng Dạy</a></li>
        <li><a href="#">Thời Khóa Biểu</a></li>

    </ol>
</section>
<!-- Main content -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <!---label-->
            <label>Chọn Học Kỳ</label>
        </div>
        <div class="col-md-4 ">
            <div class="row">
                <div class="btn-group">
                    <button type="button" class="btn btn-info">học Kỳ 1 - Năm học 2018-2019</button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="filter">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">TKB theo tuần</button>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                        <button type="button" class="btn btn-info">chọn tuần</button>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                        <button type="button" class="btn btn-info">in TBK</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-7">
            <table style="border-bottom:solid #005c01 3px;border-top:solid #005c01 3px;width:70%;background:#a9a9a9" cellpadding="5px" >
                <thead>
                    <tr>
                        <th  colspan="2" style="border-right:solid 3px #005c01">Sáng</th>
                        <th  colspan="2" style="border-right:solid 3px #005c01">Chiều</th>
                        <th>Tối</th>
                        
                    </tr>
                </thead>
                <tbody class="TKBGV">
                    <tr>
                        <td>Tiết 2: 07:00-07:50</td>
                        <td>Tiết 5: 10:00-10:50</td>
                        <td>Tiết 8: 13:00-13:50</td>
                        <td>Tiết 11: 16:00-16:50</td>
                        <td>Tiết 14: 18:50-19:40</td>
                        
                    </tr>
                    <tr>
                        <td>Tiết 3: 08:00-08:50</td>
                        <td>Tiết 6: 11:00-11:50</td>
                        <td>Tiết 9: 14:00-14:50</td>
                        <td>Tiết 12: 17:00-17:50</td>
                        <td>Tiết 15: 19:40-20:30</td>
                    </tr>
                    <tr>
                        <td>Tiết 4: 09:00-09:50</td>
                        <td>Tiết 7: 12:00-12:50</td>
                        <td>Tiết 10: 15:00-15:50</td>
                        <td>Tiết 13: 18:00-18:50</td>
                        <td>Tiết 16: 20:30-21:30</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Example split danger button -->
            <div class="warning" style="margin:5px 0px">
                <b>( Lưu ý: tuần 1 tương ứng với tuần 1 của học kỳ, bắt đầu từ ngày 12/08/2019) </b><br />
                <b>...</b><br />
                <b style="color:red">( Dữ liệu được cập nhật vào lúc: 11:50 Ngày: 26/2/2020 ) </b>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered " style="text-align:center;width:90%;margin:auto">
                <thead>
                    <tr>
                        <td colspan="8" align="center" style="font-size:14px">Mã số: <span><b>KTH18TH2132</b></span>, Họ và tên: <span><b>DIỆP MINH LUẬN</b></span>, ngày sinh: <span><b>21/11/2000</b></span>, Lớp:<span><b>thudk12</b></span>, Ngành: <span><b>CNTT</b></span> </td>
                    </tr>
                </thead>
                <tbody id="TBK">
                    <tr style="text-align:center">
                        <th></th>
                        <th>Thứ Hai</th>
                        <th>Thứ Ba</th>
                        <th>Thứ Tư</th>
                        <th>Thứ Năm</th>
                        <th>Thứ Sáu</th>
                        <th>Thứ Bảy</th>
                        <th></th>
                    </tr>

                    <tr >
                        <td>Tiết 1  </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==2 && item.Tiet==1 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}} ,Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>

                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==3 && item.Tiet==1 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}} ,Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==4 && item.Tiet==1 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}} ,Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==5 && item.Tiet==1 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}} ,Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>

                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==6 && item.Tiet==1 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}} ,Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==7 && item.Tiet==1 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}} ,Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>

                        <td>Tiết 1</td>
                    </tr>
                    <tr>
                        <td>Tiết 2</td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==2 && item.Tiet==2 && item.SoTiet<=3 ||item.Thu==2 && item.Tiet==1 && item.SoTiet>=2 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>

                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==3 && item.Tiet==2 && item.SoTiet<=3 ||item.Thu==3 && item.Tiet==1 && item.SoTiet>=2 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==4 && item.Tiet==2 && item.SoTiet<=3 ||item.Thu==4 && item.Tiet==1 && item.SoTiet>=2 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==5 && item.Tiet==2 && item.SoTiet<=3 ||item.Thu==5 && item.Tiet==1 && item.SoTiet>=2 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==6 && item.Tiet==2 && item.SoTiet<=3 ||item.Thu==6 && item.Tiet==1 && item.SoTiet>=2 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==7 && item.Tiet==2 && item.SoTiet<=3 ||item.Thu==7 && item.Tiet==1 && item.SoTiet>=2 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>Tiết 2</td>
                    </tr>
                    <tr>
                        <td>Tiết 3</td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==2 && item.Tiet==3 && item.SoTiet<=2|| item.Thu==2 && item.Tiet==1 &&item.SoTiet>=3 && item.SoTiet<=4|| item.Thu==2 && item.Tiet==2 &&item.SoTiet>=2 && item.SoTiet<=3">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>

                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==3 && item.Tiet==3 && item.SoTiet<=2|| item.Thu==3 && item.Tiet==1 &&item.SoTiet>=3 && item.SoTiet<=4|| item.Thu==3 && item.Tiet==2 &&item.SoTiet>=2 && item.SoTiet<=3">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==4 && item.Tiet==3 && item.SoTiet<=2|| item.Thu==4 && item.Tiet==1 &&item.SoTiet>=3 && item.SoTiet<=4|| item.Thu==4 && item.Tiet==2 &&item.SoTiet>=2 && item.SoTiet<=3">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==5 && item.Tiet==3 && item.SoTiet<=2|| item.Thu==5 && item.Tiet==1 &&item.SoTiet>=3 && item.SoTiet<=4|| item.Thu==5 && item.Tiet==2 &&item.SoTiet>=2 && item.SoTiet<=3">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==6 && item.Tiet==3 && item.SoTiet<=2|| item.Thu==6 && item.Tiet==1 &&item.SoTiet>=3 && item.SoTiet<=4|| item.Thu==6 && item.Tiet==2 &&item.SoTiet>=2 && item.SoTiet<=3">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==7 && item.Tiet==3 && item.SoTiet<=2|| item.Thu==7 && item.Tiet==1 &&item.SoTiet>=3 && item.SoTiet<=4|| item.Thu==7 && item.Tiet==2 &&item.SoTiet>=2 && item.SoTiet<=3">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>Tiết 3</td>
                    </tr>
                    <tr>
                        <td>Tiết 4</td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==2 && item.Tiet==4 && item.SoTiet<=1||item.Thu==2 && item.Tiet==1 &&item.SoTiet==4 && item.SoTiet<=4||item.Thu==2 &&item.Tiet==2 &&item.SoTiet==3 && item.SoTiet<=3||item.Thu==2 &&item.Tiet==3 &&item.SoTiet==2 && item.SoTiet<=2">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>

                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==3 && item.Tiet==4 && item.SoTiet<=1||item.Thu==3 && item.Tiet==1 &&item.SoTiet==4 && item.SoTiet<=4||item.Thu==3 &&item.Tiet==2 &&item.SoTiet==3 && item.SoTiet<=3||item.Thu==3 &&item.Tiet==3 &&item.SoTiet==2 && item.SoTiet<=2">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==4 && item.Tiet==4 && item.SoTiet<=1||item.Thu==4 && item.Tiet==1 &&item.SoTiet==4 && item.SoTiet<=4||item.Thu==4 &&item.Tiet==2 &&item.SoTiet==3 && item.SoTiet<=3||item.Thu==4 &&item.Tiet==3 &&item.SoTiet==2 && item.SoTiet<=2">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==5 && item.Tiet==4 && item.SoTiet<=1||item.Thu==5 && item.Tiet==1 &&item.SoTiet==4 && item.SoTiet<=4||item.Thu==5 &&item.Tiet==2 &&item.SoTiet==3 && item.SoTiet<=3||item.Thu==5 &&item.Tiet==3 &&item.SoTiet==2 && item.SoTiet<=2">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==6 && item.Tiet==4 && item.SoTiet<=1||item.Thu==6 && item.Tiet==1 &&item.SoTiet==4 && item.SoTiet<=4||item.Thu==6 &&item.Tiet==2 &&item.SoTiet==3 && item.SoTiet<=3||item.Thu==6 &&item.Tiet==3 &&item.SoTiet==2 && item.SoTiet<=2">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==7 && item.Tiet==4 && item.SoTiet<=1||item.Thu==7 && item.Tiet==1 &&item.SoTiet==4 && item.SoTiet<=4||item.Thu==7 &&item.Tiet==2 &&item.SoTiet==3 && item.SoTiet<=3||item.Thu==7 &&item.Tiet==3 &&item.SoTiet==2 && item.SoTiet<=2">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>Tiết 4</td>
                    </tr>
                    <tr>
                        <td>Tiết 5</td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==2 && item.Tiet==5 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}} ,Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>

                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==3 && item.Tiet==5 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}} ,Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==4 && item.Tiet==5 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}} ,Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==5 && item.Tiet==5 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}} ,Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==6 && item.Tiet==5 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}} ,Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==7 && item.Tiet==5 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}} ,Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>Tiết 5</td>
                    </tr>
                    <tr>
                        <td>Tiết 6</td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==2 && item.Tiet==6 && item.SoTiet<=3 ||item.Thu==2 && item.Tiet==5 && item.SoTiet>=2 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==3 && item.Tiet==6 && item.SoTiet<=3 ||item.Thu==3 && item.Tiet==5 && item.SoTiet>=2 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==4 && item.Tiet==6 && item.SoTiet<=3 ||item.Thu==4 && item.Tiet==5 && item.SoTiet>=2 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==5 && item.Tiet==6 && item.SoTiet<=3 ||item.Thu==5 && item.Tiet==5 && item.SoTiet>=2 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==6 && item.Tiet==6 && item.SoTiet<=3 ||item.Thu==6 && item.Tiet==5 && item.SoTiet>=2 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==7 && item.Tiet==6 && item.SoTiet<=3 ||item.Thu==7 && item.Tiet==5 && item.SoTiet>=2 && item.SoTiet<=4">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>Tiết 6</td>
                    </tr>
                    <tr>
                        <td>Tiết 7</td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==2 && item.Tiet==7 && item.SoTiet<=2|| item.Thu==2 && item.Tiet==5 &&item.SoTiet>=3 && item.SoTiet<=4|| item.Thu==2 && item.Tiet==6 &&item.SoTiet>=2 && item.SoTiet<=3">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==3 && item.Tiet==7 && item.SoTiet<=2|| item.Thu==3 && item.Tiet==5 &&item.SoTiet>=3 && item.SoTiet<=4|| item.Thu==3 && item.Tiet==6 &&item.SoTiet>=2 && item.SoTiet<=3">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==4 && item.Tiet==7 && item.SoTiet<=2|| item.Thu==4 && item.Tiet==5 &&item.SoTiet>=3 && item.SoTiet<=4|| item.Thu==4 && item.Tiet==6 &&item.SoTiet>=2 && item.SoTiet<=3">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==5 && item.Tiet==7 && item.SoTiet<=2|| item.Thu==5 && item.Tiet==5 &&item.SoTiet>=3 && item.SoTiet<=4|| item.Thu==5 && item.Tiet==6 &&item.SoTiet>=2 && item.SoTiet<=3">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==6 && item.Tiet==7 && item.SoTiet<=2|| item.Thu==6 && item.Tiet==5 &&item.SoTiet>=3 && item.SoTiet<=4|| item.Thu==6 && item.Tiet==6 &&item.SoTiet>=2 && item.SoTiet<=3">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==7 && item.Tiet==7 && item.SoTiet<=2|| item.Thu==7 && item.Tiet==5 &&item.SoTiet>=3 && item.SoTiet<=4|| item.Thu==7 && item.Tiet==6 &&item.SoTiet>=2 && item.SoTiet<=3">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>Tiết 7</td>
                    </tr>
                    <tr>
                        <td>Tiết 8</td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==2 && item.Tiet==8 && item.SoTiet<=1||item.Thu==2 && item.Tiet==5 &&item.SoTiet==4 && item.SoTiet<=4||item.Thu==2 &&item.Tiet==6 &&item.SoTiet==3 && item.SoTiet<=3||item.Thu==2 &&item.Tiet==7 &&item.SoTiet==2 && item.SoTiet<=2">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==3 && item.Tiet==8 && item.SoTiet<=1||item.Thu==3 && item.Tiet==5 &&item.SoTiet==4 && item.SoTiet<=4||item.Thu==3 &&item.Tiet==6 &&item.SoTiet==3 && item.SoTiet<=3||item.Thu==3 &&item.Tiet==7 &&item.SoTiet==2 && item.SoTiet<=2">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==4 && item.Tiet==8 && item.SoTiet<=1||item.Thu==4 && item.Tiet==5 &&item.SoTiet==4 && item.SoTiet<=4||item.Thu==4 &&item.Tiet==6 &&item.SoTiet==3 && item.SoTiet<=3||item.Thu==4 &&item.Tiet==7 &&item.SoTiet==2 && item.SoTiet<=2">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==5 && item.Tiet==8 && item.SoTiet<=1||item.Thu==5 && item.Tiet==5 &&item.SoTiet==4 && item.SoTiet<=4||item.Thu==5 &&item.Tiet==6 &&item.SoTiet==3 && item.SoTiet<=3||item.Thu==5 &&item.Tiet==7 &&item.SoTiet==2 && item.SoTiet<=2">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==6 && item.Tiet==8 && item.SoTiet<=1||item.Thu==6 && item.Tiet==5 &&item.SoTiet==4 && item.SoTiet<=4||item.Thu==6 &&item.Tiet==6 &&item.SoTiet==3 && item.SoTiet<=3||item.Thu==6 &&item.Tiet==7 &&item.SoTiet==2 && item.SoTiet<=2">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="item in thoikhoabieu" ng-if="item.Thu==7 && item.Tiet==8 && item.SoTiet<=1||item.Thu==7 && item.Tiet==5 &&item.SoTiet==4 && item.SoTiet<=4||item.Thu==7 &&item.Tiet==6 &&item.SoTiet==3 && item.SoTiet<=3||item.Thu==7 &&item.Tiet==7 &&item.SoTiet==2 && item.SoTiet<=2">
                                {{item.TenMH}}, {{item.TenPH}},Tiết: {{item.Tiet}} , Số Tiết: {{item.SoTiet}}
                            </div>
                        </td>
                        <td>Tiết 8</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="bg-danger"><button type="button" class="btn btn-danger">Tuần đầu</button></th>
                        <th class="bg-danger"><button type="button" class="btn btn-danger">Tuần Trước</button></th>
                        <th class="bg-danger"><button type="button" class="btn btn-danger">Tuần kế</button></th>
                        <th class="bg-danger"><button type="button" class="btn btn-danger">Tuần Giữa</button></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


