﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">

        <li><a ui-sref="trangchu_sv"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="bangdiem">Bảng Điểm</a></li>


    </ol>
</section>
<!-- Main content -->
<!--<div id="printTable">-->
<div class="container-fluid print" >
    <div class="row " style="width:50%">
        <div class="col-md-12 col-sm-2 col-xs-2 ">
            <form class="">
                <div class="input-group" style="min-width:20px">

                    <div class="input-group-append">
                        <span class="input-group-text">
                            Chọn học kỳ
                        </span>
                    </div>
                    <div class="input-group-append">
                        <select style="min-width:200px" class="form-control" ng-model="hocKy" ng-options="item  as  'Học kỳ'+' '+item.HocKy + ', ' +'năm học' +' '+item.NamHoc  for item in HocKyNamHoc">
                            <option disabled value="">Chọn học kỳ muốn xem</option>
                        </select>
                    </div>
                    <div class="input-group-append">
                        <span style="min-width:20px" class=" btn input-group-text" ng-click="getHockynamhoc();clickbangdiem()">Xem</span>
                        <span style="min-width:20px" class=" btn input-group-text" ng-click="getAllBangDiem()">Xem tất cả</span>
                    </div>
                </div>
                    

            </form>


        </div>
    </div>
   
    <div style="margin-bottom:20px"></div>
    <div class="row ">

        <div class="col-md-8" style="">
            <table class="table table-striped table-bordered pull-right" style="border:solid #ddd 1px;max-width:600px" ng-repeat="item in thongTincaNhan">
                <thead>
                    <tr>
                        <td style="text-align:left">Mã số sinh viên</td>
                        <td><b>{{item.MaSoSV}}</b></td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left; ">Họ tên</td>
                        <td><b>{{item.HoLot}} {{item.Ten}}</b></td>

                    </tr>
                    <tr>
                        <td style="text-align:left; ">Lớp</td>
                        <td><b>{{item.TenLop}}</b></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; ">Ngành</td>
                        <td><b>{{item.TenNganh}}</b></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; ">Khoa</td>
                        <td><b>{{item.TenPhongKhoa}}</b></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; ">Khóa</td>
                        <td><b>{{item.NienKhoa}}</b></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; ">Hệ đào tạo</td>
                        <td><b>{{item.HeDaoTao}}</b></td>
                    </tr>
                    <tr>
                        <td>Niên khóa</td>
                        <td><b>{{item.NienKhoa}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <table class="table table-striped table-bordered" style="border:solid #ddd 1px">
                <thead>
                    <tr>
                        <th style="text-align:center" colspan="2">Chú thích</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >TC</td>
                        <td><b>Tín chỉ</b></td>

                    </tr>
                    <tr>
                        <td>CC</td>
                        <td><b>Chuyên cần</b></td>
                    </tr>
                    <tr>
                        <td>KT</td>
                        <td><b>Kiểm tra</b></td>
                    </tr>
                    <tr>
                        <td>TH</td>
                        <td><b>Thực hành</b></td>
                    </tr>
                    <tr>
                        <td>Se</td>
                        <td><b>Seminar</b></td>
                    </tr>
                    <tr>
                        <td>KQ</td>
                        <td><b>Kết quả</b></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container-fluid print">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-striped" style="width:90%!important;margin:auto" border="1" ng-show="showbangdiem">
                <thead>
                    <tr style="background:#74b9ff">
                        <th scope="col" colspan="16">Học kỳ {{hockynamhoc[0].HocKy}}, năm học {{hockynamhoc[0].NamHoc}}</th>
                    </tr>
                </thead>
                <tbody style="text-align:center" ng-model="hocKy">
                    <tr style="font-weight:bold">
                        <td>STT</td>
                        <td>Mã môn</td>
                        <td>Tên môn</td>
                        <td>TC</td>
                        <td>%CC </td>
                        <td>%KT </td>
                        <td>%TH </td>
                        <td>%Se </td>
                        <td>%Thi </td>
                        <td>Điểm CC</td>
                        <td>Điểm KT</td>
                        <td>Điểm TH</td>
                        <td>Điểm Se</td>
                        <td>Điểm Thi</td>
                        <td>Điểm TK</td>
                        <td>KQ</td>
                    </tr>
                    <tr ng-repeat="item in hockynamhoc ">
                        <td>{{$index+1}}</td>
                        <td>{{item.MaMH}}</td>
                        <td>{{item.TenMH}}</td>
                        <td>{{item.SoTinChi}}</td>
                        <td>{{item.TyLeChuyenCan}}</td>
                        <td>{{item.TyLeKiemTra}}</td>
                        <td>{{item.TyLeThucHanh}}</td>
                        <td>{{item.TyLeSeminar}}</td>
                        <td>{{item.TyLeThi}}</td>
                        <td>{{item.DiemChuyenCan}}</td>
                        <td>{{item.DiemKiemTra}}</td>
                        <td>{{item.DiemThucHanh}}</td>
                        <td>{{item.DiemSeminar}}</td>
                        <td>{{item.DiemThi}}</td>

                        <td>{{item.DiemTongKet}}</td>

                        <td><span ng-if="item.Dau==true">Đậu</span><span ng-if="item.Dau==false">-</span></td>
                    </tr>
                    <tr><td colspan="16" align="left">Tổng số tín chỉ học kỳ: <b>{{sumTinChiHK|number:2}}</b></td></tr>
                    <tr><td colspan="16" align="left">Điểm trung bình tích luỹ học kỳ: <b>{{sumTBHocKy|number:2}} </b></td></tr>
                  






                </tbody>
            </table>
            <table  class="table table-bordered " style="width:90%!important;margin:auto;margin-top:20px" border="1" ng-repeat="item1 in allbangdiem ">
                <thead>
                    <tr style="text-align:left;background:#74b9ff">
                        <th scope="col" colspan="16">Học kỳ: {{item1.HocKy}}, năm học: {{item1.NamHoc}}</th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    <tr style="font-weight:bold">
                        <td>STT</td>
                        <td>Mã môn</td>
                        <td>Tên môn</td>
                        <td>TC</td>
                        <td>%CC </td>
                        <td>%KT </td>
                        <td>%TH </td>
                        <td>%Se </td>
                        <td>%Thi </td>
                        <td>Điểm CC</td>
                        <td>Điểm KT</td>
                        <td>Điểm TH</td>
                        <td>Điểm Se</td>
                        <td>Điểm Thi</td>
                        <td>Điểm TK</td>
                        <td>KQ</td>
                    </tr>
                    <tr ng-repeat="item in item1.LayBangDiemTheoHocKy">
                        <td>{{$index+1}}</td>
                        <td>{{item.MaMH}}</td>
                        <td>{{item.TenMH}}</td>
                        <td>{{item.SoTinChi}}</td>
                        <td>{{item.TyLeChuyenCan}}</td>
                        <td>{{item.TyLeKiemTra}}</td>
                        <td>{{item.TyLeThucHanh}}</td>
                        <td>{{item.TyLeSeminar}}</td>
                        <td>{{item.TyLeThi}}</td>
                        <td>{{item.DiemChuyenCan}}</td>
                        <td>{{item.DiemKiemTra}}</td>
                        <td>{{item.DiemThucHanh}}</td>
                        <td>{{item.DiemSeminar}}</td>
                        <td>{{item.DiemThi}}</td>

                        <td>{{item.DiemTongKet}}</td>

                        <td><span ng-if="item.Dau==true">Đậu</span><span ng-if="item.Dau==false">-</span></td>
                    </tr>
                    <tr><td colspan="16" align="left">Tổng số tín chỉ học kỳ: <b>{{sumtchk(item1.HocKy,item1.NamHoc)|number:2}}</b></td></tr>
                    <tr><td colspan="16" align="left">Điểm trung bình tích luỹ học kỳ: <b>{{sumtbhk(item1.HocKy,item1.NamHoc,sumtchk(item1.HocKy,item1.NamHoc))|number:2}} </b></td></tr>
                  





                </tbody>
            </table>
            <table  ng-show="showbangdiemtatca" class="table table-bordered " style="width:90%!important;margin:auto;margin-top:20px" border="1">
                <tr>
                    <td colspan="5" align="left" style="background-color:#dce8df">Tổng số tín chỉ khóa học: <b> {{sumtc()|number:2}} </b></td>
                </tr>
                <tr>
                    <td colspan="5" align="left" style="background-color:#dce8df">Tổng điểm trung bình tích luỹ khóa học: <b>{{sumtb(sumtc())|number:2}} </b></td>
                </tr>
            </table>

        </div>


    </div>
</div>
<!--</div>-->


<div class="container-fluid" style="margin-top:20px">
    <div class="row">
        <div class="col-md-5">

            <div class="print">
                <button style="font-size:15px;font-weight:bold;color:red" id="basic"> <i class="fa fa-print" aria-hidden="true"></i>  In Bảng Điểm</button>
            </div>
        </div>

    </div>
</div>
<script>
    $('#basic').on("click", function () {
        $('.print').printThis({
            //  base: "app/conponents/hocphi/hocPhiView.html",
            //   importCSS: false,
            //   header: "<h1 class='text-center'>Thời khóa biểu</h1></br>",
            //     loadCSS: "../../../Assets/sinhvien/css/style.css",
            //      loadCSS: "../../../Assets/sinhvien/css/bootstrap.min.css",
            debug: false,               // show the iframe for debugging
            importCSS: true,            // import parent page css
            importStyle: false,         // import style tags
            printContainer: true,       // print outer container/$.selector
            loadCSS: null,

            pageTitle: "",              // add title to print page
            removeInline: false,        // remove inline styles from print elements
            removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
            printDelay: 333,            // variable print delay
            header: null,               // prefix to html
            footer: null,               // postfix to html
            base: null,            // preserve the BASE tag or accept a string for the URL
            formValues: true,           // preserve input/form values
            canvas: false,              // copy canvas content
            doctypeString: '<!DOCTYPE html>',       // enter a different doctype for older markup
            removeScripts: false,       // remove script tags from print content
            copyTagClasses: false,      // copy classes from the html & body tag
            beforePrintEvent: null,     // function for printEvent in iframe
            beforePrint: null,          // function called before iframe is filled
            afterPrint: null            // function called before iframe is removed
        });

    });



    //$('#advanced').on("click", function () {
    //  $('#kitty-one, #kitty-two, #kitty-three').printThis({
    //    importCSS: false,
    //    header: "<h1>Look at all of my kitties!</h1>",
    //    base: "https://jasonday.github.io/printThis/"
    //  });
    //});
</script>
<script src="../../../Assets/sinhvien/js/printThis.js"></script>