﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="xemdangkymonhoc">Thay đổi khung giờ học</a></li>


    </ol>
</section>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form class="form-horizontal table-responsive" novalidate name="frmAddProductCategory" role="form" ng-submit="AddDangKy_TamThoi()">
            <table class="table table-bordered table-hover" style="width:50%;margin:auto">

                <thead>
                    <tr style="background:#74b9ff; ">
                        <th width="7%" style="text-align:center">STT</th>
                        <th width="17%" style="text-align:center">Tiết</th>
                        <th width="17%" style="text-align:center">Giờ bắt đầu  </th>
                        <th width="17%" style="text-align:center">Giờ kết thúc</th>


                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in khungGio">
                        <td style="font-weight:bold">{{$index+1}}</td>
                        <td>{{item.Tiet}}</td>
                        <td>{{item.GioBatDau}}</td>
                        <td>{{item.GioKetThuc}}</td>


                    </tr>

                </tbody>



            </table>


            <br />


            <div class="center-block text-center">
                <button type="submit" class="btn btn-primary " style="background:#74b9ff;" ng-click="toggle();copykhunggio(khungGio)" ng-show="btnsua">Thay đổi khung giờ</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            </div>
        </form>
    </div>

    <div class="col-md-1"></div><br /><br />

   
</div>
<div class="container-fluid" style="margin-top:20px;margin-bottom:40px">
    <div class="col-md-6 input-group justify-content-center" style="margin:auto">
        <form class="" ng-show="show">

            <span class="input-group-text"><b>Thay đổi khung giờ học </b></span>

        </form>





    </div>




</div>
<div class="container-fluid" style="margin-top:20px;margin-bottom:40px">
    <div class="col-md-6 input-group justify-content-center" style="margin:auto">
        <form class="" ng-show="show">
           
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Tổng số tiết học trong ngày  </b></span>
                </div>

                <div class="input-group-append">
                    <select class="selectpicker form-control" ng-model="sotiet">
                        <option disabled value="">Chọn số tiết</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                    </select>

                </div>
                <div class="input-group-append">
                    <a ng-click="vonglaptiet(sotiet);clickchon()" class="form-control btn btn-primary text-white"> Sửa</a>

                </div>

            </div>

        </form>





    </div>




</div>
<div class="container-fluid" ng-show="showchon">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form class="form-horizontal table-responsive" novalidate name="fromkhunggio" role="form">
                <table class="table table-bordered table-hover" style="width:50%;margin:auto" id="myTable">

                    <thead>
                        <tr style="background:#74b9ff; ">
                            <th width="7%" style="text-align:center">STT</th>
                            <th width="17%" style="text-align:center">Tiết</th>
                            <th width="17%" style="text-align:center">Giờ bắt đầu  </th>
                            <th width="17%" style="text-align:center">Giờ kết thúc</th>



                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="item in solanlap">
                            <td style="font-weight:bold"> {{$index+1}}</td>
                            <td> Tiết {{$index+1}} </td>
                            <td>
                                <input type="text" class="form-control" required name="GioBatDau" ng-maxlength="5" ng-model="khungGiocopy[$index].GioBatDau " />
                                <!--<span ng-show="(compare(khungGiocopy[$index].GioBatDau,khungGiocopy[$index].GioKetThuc)===0)">Giờ kết thúc phải lớn hơn giờ bắt đầu</span>-->
                                <span ng-if="$index>0" ng-show="(compare(khungGiocopy[$index-1].GioKetThuc,khungGiocopy[$index].GioBatDau)===1)"><h6 style="color:red">Tiết sau phải có giờ bắt đầu lớn hơn giờ kết thúc của tiết trước</h6></span>
                                <span ng-if="$index>0" ng-show="(compare(khungGiocopy[$index-1].GioKetThuc,khungGiocopy[$index].GioBatDau)===0)"><h6 style="color:red">Tiết sau phải có giờ bắt đầu lớn hơn giờ kết thúc của tiết trước</h6></span>


                            </td>
                            <td>
                                <input type="text" class="form-control" ng-maxlength="5" required name="GioKetThuc" ng-model="khungGiocopy[$index].GioKetThuc" />
                                <!--<span ng-show="fromkhunggio.GioBatDau.$error.maxlength">chỉ được 5 ký tụ </span>-->
                                <!--<span ng-show="fromkhunggio.GioKetThuc.$invalid">Phải nhập giờ kết thúc</span>-->
                                <span ng-show="(compare(khungGiocopy[$index].GioBatDau,khungGiocopy[$index].GioKetThuc)===1)"><h6 style="color:red">Giờ kết thúc phải lớn hơn giờ bắt đầu</h6></span>
                                <span ng-show="(compare(khungGiocopy[$index].GioBatDau,khungGiocopy[$index].GioKetThuc)===0)"><h6 style="color:red">Giờ kết thúc phải lớn hơn giờ bắt đầu</h6></span>

                            </td>

                        </tr>







                    </tbody>



                </table>


                <br />

                <div class="input-group justify-content-center">


                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary " ng-disabled="fromkhunggio.$invalid" ng-click="checkkhungio();">Lưu</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger " ng-click="huy()" ng-show="btnhuy">Hủy</button>

                    </div>

                </div>


            </form>

        </div>
        <br />



    </div>
</div>
<div class="container-fluid" ng-show="showchon">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-5" style="margin:auto">
           
        </div>
        <div class="col-md-1"><div ng-model="copykhunggio"></div></div>
    </div>
</div>











