﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu_sv"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="viecphailam_sv">Việc phải làm</a></li>

    </ol>
</section>
<div class="container">
    <div class="col-md-12 table-responsive">
        
        <table class="table table-bordered table-hover ">
            <h6 style="color:red"><b>Những việc cần làm:</b></h6>
            <thead>
                <tr style="background:#74b9ff;">
                    <th width="70%" style="text-align:center">Mô tả công việc</th>
                    <th width="15%" style="text-align:center">Người nộp</th>
                    <th width="15%" style="text-align:center">Thời gian nộp</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in viecPhaiLam">
                    <td     >{{item.MoTa}}</td>
                    <td>  {{item.HoLot}} &nbsp;{{item.Ten}} </td>
                    <td>{{item.NgayHoanThanh|date:'dd/mm/yyyy'}}</td>
                </tr>

        </table>
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getViecPhaiLam(page)"></pager-directive>
        </div>
    </div>
    </br>

    <div class="text-center">
        <a ui-sref="viecdalam_sv" class="btn btn-primary text-center">Xem liệt kê những việc đã làm</a>
        </br>
        </br>

        <div class="btn-group ">
            <!--<button class="btn btn-primary center-block"> Chọn tất cả</button>-->
            <button class="btn btn-danger center-block"> Xóa </button>
            <!--<button class="btn btn-primary center-block"> Làm mới </button>-->
        </div>
    </div>

</div>
