﻿
<script src="../../../Assets/sinhvien/js/pages/ChangPass.js"></script>
<link href="../../../Assets/sinhvien/css/dangnhap.css" rel="stylesheet" />
<div class="container">
    <div class="row">

        <div class="col-md-12 khungdangnhap" style="margin-top:100px">
            <div class=" fadeInDown" style="margin:auto">
                <div id="formContent" style="margin:auto">
                    <!-- Tabs Titles -->
                    <!-- Icon -->
                    <div class="fadeIn first">
                        <div style="font-weight:bold;margin-top:10px">CỔNG THÔNG TIN</div><br />
                        <div style="font-weight:bold">GIẢNG VIÊN - SINH VIÊN</div>

                    </div>

                    <form>
                        <input type="password" id="login" class="fadeIn second  pass_show" ng-model="ChangePassword.OldPassword" name="login" placeholder="Nhập mật khẩu cũ">
                        <input type="password" id="password" class="fadeIn third  pass_show" name="login" ng-model="ChangePassword.NewPassword" placeholder="Nhập mật khẩu mới">
                        <input type="password" id="password" class="fadeIn third  pass_show" name="login" ng-model="ChangePassword.ConfirmPassword" placeholder="Nhập lại mật khẩu mới">
                        <button type="button" ng-click="update()" class="fadeIn fourth btn btn-primary">Đổi mật khẩu</button>
                    </form>
                    <div id="formFooter">
                        <a class="underlineHover" ui-sref="dangnhap">Trở về trang đăng nhập</a>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>





