﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="viecphailam">Việc phải làm</a></li>
        <li><a ui-sref="viecdalam">Việc đã làm</a></li>

    </ol>
</section>
<div class="container">
    <div class="col-md-12 " style="margin-top:5%">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <caption style="color:red;caption-side:top"><b>Liệt kê những việc đã làm:</b></caption>
                <thead>
                    <tr style="background:#74b9ff;">
                        <th width="5%" style="text-align:center"><input  type="checkbox" name="all" ng-model="selectedAll" ng-click="checkAll()" /></th>
                        <th width="35%">Mô tả công việc</th>
                        <th width="15%">Người nộp</th>
                        <th width="10%">Thời gian nộp</th>
                        <th width="10%">Thời gian xử lý</th>
                        <th width="15%">Trạng thái</th>
                        <!--<th width="10%"></th>-->
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in viecDaLam">
                        <td style="text-align:center"><input  type="checkbox" ng-model="selected" ng-checked="exist(item)" ng-click="toge(item)" /></td>
                        <td style="text-align:left">{{item.MoTa}}</td>
                        <td>{{item.HoTen}}   </td>
                        <td>  {{item.ThoiHanHoanThanh|date:" dd/mm/yyyy"}}  </td>
                        <td>31/01/2020 </td>
                        <td><span style="text-align:center" ng-if="item.DaHoanThanh==true">Đã xử lý</span>&nbsp;<span style="text-align:center" ng-if="item.DaHoanThanh==false">chưa xử lý</span> </td>
                        <!--<td>
                        <button class="btn btn-danger" ng-click="loadId(item.MaSoCongViec)">Xóa</button>

                    </td>-->

                    </tr>

            </table>
        </div>
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getViecDaLam(page)"></pager-directive>
        </div>
    </div>



    </br>

    <div class="text-center">
        <div class="btn-group ">
            <button class="btn btn-danger center-block" ng-click="DeleteAllViecDaLam()">Xóa  </button>
            <!--<button class="btn btn-primary center-block">Xóa </button>-->

        </div>
        </br>
        </br>
        <a ui-sref="viecphailam" class="btn btn-primary text-center">Trở lại trang việc phải làm</a>



    </div>

</div>
