﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="thongtincanhan"> Thông tin cá nhân</a></li>
        <li><a ui-sref="lylichcanhan"> Lý lịch cá nhâna</a></li>

    </ol>
</section>

<div class="container-fluid" style="margin-bottom:20px">
    <h1 style="margin-bottom:20px;text-align:center">Lý lịch cá nhân</h1>
    <div class="row">

        <div class="col-md-10" style="margin:auto">
            <div class="table-responsive">
                <table class="table  table-bordered chuphai">
                    <tr>

                        <td width="25%">
                            <b>Họ và tên:</b>
                            <span ng-show="hide">{{AllVienChucChitiet.HoTen}}</span>
                            <input ng-show="Edit" disabled ng-model="AllVienChucChitiet.HoTen" type="text" name="Hocten" />
                        </td>
                        <td width="25%" colspan="2">
                            <b>Số hiệu công chức:</b>
                            <input ng-show="Edit" disabled ng-model="AllVienChucChitiet.SHCC" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.SHCC}}</span>
                        </td>
                        <td width="30%" rowspan="6">

                            <img class="img-fluid" src="{{AllVienChucChitiet.Hinh}}" /><br />
                            <button style="margin-top:20px;margin-left:180px" class="btn btn-primary" ng-click="ChooseImage()"> <i class="fa fa-image"></i>Tải ảnh lên</button>



                        </td>

                    </tr>
                    <tr>

                        <td>
                            <b>Ngày sinh:</b>
                            <input ng-show="Edit" disabled ng-model="AllVienChucChitiet.NgaySinh" type="text" />
                            <span ng-show="hide">{{AllVienChucChitiet.NgaySinh|date:'dd/MM/yyyy'}}</span>
                        </td>
                        <td colspan="2">
                            <b>Phái:</b>

                            <input ng-show="Edit" disabled ng-model="AllVienChucChitiet.Phai" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.Phai}}</span>


                        </td>


                    </tr>
                    <tr>

                        <td>
                            <b>CMND:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.CMND" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.CMND}}</span>


                        </td>
                        <td colspan="2">
                            <b>Ngày Cấp:</b>

                            <input ng-show="Edit"  ng-model="AllVienChucChitiet.NgayCap|date:'dd/MM/yyyy'" ng-value="AllVienChucChitiet.NgayCap" type="date" style="height:22px" ng-model-options="{timezone:'UTC',}" />
                            <span ng-show="hide">{{AllVienChucChitiet.NgayCap|date: 'dd/MM/yyyy'}}</span>

                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Nơi cấp:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.NoiCap" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.NoiCap}}</span>

                        </td>
                        <td colspan="2">
                            <b>MST:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.MST" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.MST}}</span>



                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Quốc tịch:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.QuocTich" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.QuocTich}}</span>



                        </td>
                        <td colspan="2">
                            <b>Dân tộc:</b>&nbsp;
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.DanToc" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.DanToc}}</span>


                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Số tài khoản:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.SoTaiKhoan" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.SoTaiKhoan}}</span>

                        </td>
                        <td colspan="2"></td>


                    </tr>
                    <tr>

                        <td colspan="4">
                            <b>Ngân hàng:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.NganHang" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.NganHang}}</span>


                        </td>
                    </tr>
                    <tr>

                        <td colspan="4">
                            <b>Chi nhánh:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.ChiNhanh" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.ChiNhanh}}</span>

                        </td>
                    </tr>
                    <tr>


                        <td colspan="4">
                            <b>Khoa:</b>
                            Khoa Điện - Điện tử - Bộ Môn Điện Tử
                        </td>
                    </tr>
                    <tr>


                        <td colspan="4">
                            <b>Chức vụ:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.ChucVu" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.ChucVu}}</span>

                        </td>

                    </tr>
                    <tr>

                        <td colspan="4">
                            <b>Cơ quan công tác:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.CQCongTac" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.CQCongTac}}</span>

                        </td>
                    </tr>
                    <tr>

                        <td colspan="4">
                            <b>Địa chỉ công tác:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.DiaChiCQ" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.DiaChiCQ}}</span>

                        </td>
                    </tr>
                    <tr>

                        <td colspan="2">
                            <b>Website công tác:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.WebsiteCQ" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.WebsiteCQ}}</span>


                        </td>
                        <td colspan="2">
                            <b>Điện thoại CQ</b>

                            <input ng-show="Edit" ng-model="AllVienChucChitiet.DienThoaiCQ" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.DienThoaiCQ}}</span>


                        </td>
                    </tr>
                    <tr>

                        <td colspan="2">
                            <b>Lãnh đạo cơ quan:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.LanhDaoCQ" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.LanhDaoCQ}}</span>

                        </td>
                        <td colspan="2">
                            <b>ĐT Lãnh Đạo</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.DienThoaiLanhDao" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.DienThoaiLanhDao}}</span>

                        </td>
                    </tr>
                    <tr>

                        <td colspan="2">
                            <b>Năm bắt đầu công tác:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.NamBatDauCongTac" ng-value="AllVienChucChitiet.NamBatDauCongTac" style="height:22px" type="date" ng-model-options="{timezone:'UTC'}" />
                            <span ng-show="hide">{{AllVienChucChitiet.NamBatDauCongTac|date:'dd/MM/yyyy'}}</span>

                        </td>
                        <td colspan="2">
                            <b>Năm nghỉ hưu</b>

                            <input ng-show="Edit" ng-model="AllVienChucChitiet.NamNghiHuu" ng-value="AllVienChucChitiet.NamNghiHuu"  style="height:22px" type="date" ng-model-options="{timezone:'UTC'}" />
                            <span ng-show="hide">{{AllVienChucChitiet.NamNghiHuu|date:'dd/MM/yyyy'}}</span>
                        </td>

                    </tr>
                    <tr>

                        <td colspan="4">
                            <b>Địa chỉ riêng:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.DiaChi" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.DiaChi}}</span>

                        </td>

                    </tr>
                    <tr>

                        <td colspan="2">
                            <b>Điện thoại:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.DienThoai" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.DienThoai}}</span>

                        <td colspan="2">
                            <b>Fax:</b>&nbsp;
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.DienThoaiCQ" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.DienThoaiCQ}}</span>
                        </td>
                    </tr>
                    <tr>

                        <td colspan="4">
                            <b>Email chính:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.Email" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.Email}}</span>

                        </td>
                    </tr>
                    <tr>

                        <td colspan="4">
                            <b>Email phụ:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.Email" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.Email}}</span>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Xếp loại: </b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.HocVu" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.HocVu}}</span>


                        </td>
                        <td colspan="2">
                            <b>Năm đạt: </b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.NamDat" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.NamDat}}</span>

                        </td>
                        <td>
                            <b>Nước tốt nghiệp:</b>

                            <input ng-show="Edit" ng-model="AllVienChucChitiet.NuocTotNghiep" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.NuocTotNghiep}}</span>

                        </td>
                    </tr>
                    <tr>

                        <td colspan="4">
                            <b>Chuyên ngành:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.ChuyenNganh" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.ChuyenNganh}}</span>

                        </td>
                    </tr>
                    <tr>

                        <td colspan="4">
                            <b>Chuyên môn:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.ChuyenMonHienTai" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.ChuyenMonHienTai}}</span>

                        </td>
                    </tr>
                    <tr>

                        <td>

                            <b>học hàm:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.HocHam" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.HocHam}}</span>
                        </td>
                        <td colspan="3">
                            <b>Năm công nhận:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.NamCongNhan" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.NamCongNhan}}</span>

                        </td>
                    </tr>
                    <tr>


                        <td colspan="4">
                            <b>Chức danh:</b>
                            <input ng-show="Edit" ng-model="AllVienChucChitiet.ChucDanh" type="text" name="Hocten" />
                            <span ng-show="hide">{{AllVienChucChitiet.ChucDanh}}</span>


                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </div>
</div>

<div class="container-fluid">
    <h1 style="margin-bottom:20px;text-align:center">Trình độ ngoại ngữ</h1>
    <div class="row">

        <div class="col-md-10" style="margin:auto">
            <div class="table-responsive">
                <table class="table  table-bordered chu">
                    <tr style="background:#74b9ff">
                        <th style="width:5%">STT</th>
                        <th>Tên ngoại ngữ</th>
                        <th>Nghe</th>
                        <th>Nói</th>
                        <th>Viết</th>
                        <th>Đọc hiểu</th>
                        <th>Ghi Chú</th>

                    </tr>
                    <tr ng-repeat="item in AllTrinhDoNgoaiNgu">
                        <th>{{$index+1}}</th>

                        <td>
                            <input ng-show="Edit " ng-model="AllTrinhDoNgoaiNgu[$index].TenNgoaiNgu" type="text" name="Hocten" />
                            <span ng-show="hide">{{item.TenNgoaiNgu}}</span>

                        </td>
                        <td>
                            <input ng-show="Edit " ng-model="AllTrinhDoNgoaiNgu[$index].Nghe" type="text" name="Hocten" />
                            <span ng-show="hide">{{item.Nghe}}</span>

                        </td>

                        <td>


                            <input ng-show="Edit " ng-model="AllTrinhDoNgoaiNgu[$index].Noi" type="text" name="Hocten" />
                            <span ng-show="hide">{{item.Noi}}</span>

                        </td>
                        <td>
                            <input ng-show="Edit " ng-model="AllTrinhDoNgoaiNgu[$index].Viet" type="text" name="Hocten" />
                            <span ng-show="hide">{{item.Viet}}</span>
                        </td>
                        <td>
                            <input ng-show="Edit " ng-model="AllTrinhDoNgoaiNgu[$index].Doc" type="text" name="Hocten" />
                            <span ng-show="hide">{{item.Doc}}</span>
                        </td>
                        <td>
                            <input ng-show="Edit " ng-model="AllTrinhDoNgoaiNgu[$index].GhiChu" type="text" name="Hocten" />
                            <span ng-show="hide">{{item.GhiChu}}</span>
                        </td>

                    </tr>


                </table>
            </div>
        </div>


    </div>
</div>

<div class="container-fluid">
    <h1 style="margin-bottom:20px;text-align:center">Thời gian công tác</h1>
    <div class="row">

        <div class="col-md-10" style="margin:auto">
            <div class="table-responsive">
                <table class="table  table-bordered chu">
                    <tr style="background:#74b9ff">
                        <th width="5%">STT</th>
                        <th>Thời gian</th>
                        <th>Nơi công tác</th>
                        <th>Chức vụ</th>
                        <th>Chuyên môn</th>
                        <th>Địa chỉ</th>

                    </tr>
                    <tr ng-repeat="item in AllThoiGianCongTac">
                        <th>{{$index+1}}</th>

                        <td>
                            <input ng-show="Edit " style="height:22px" ng-model="AllThoiGianCongTac[$index].ThoiGian" ng-value="AllThoiGianCongTac[$index].ThoiGian" type="date" ng-model-options="{timezone:'UTC'}" />
                            <span ng-show="hide">{{item.ThoiGian|date:"dd/MM/yyyy"}}</span>

                        </td>

                        <td>

                            <input ng-show="Edit " ng-model="AllThoiGianCongTac[$index].NoiCongTac" type="text" />
                            <span ng-show="hide">{{item.NoiCongTac}}</span>


                        </td>
                        <td>
                            <input ng-show="Edit " ng-model="AllThoiGianCongTac[$index].ChucVu" type="text" />
                            <span ng-show="hide">{{item.ChucVu}}</span>


                        </td>
                        <td>
                            <input ng-show="Edit " ng-model="AllThoiGianCongTac[$index].ChuyenMon" type="text" />
                            <span ng-show="hide">{{item.ChuyenMon}}</span>

                        </td>
                        <td>
                            <input ng-show="Edit " ng-model="AllThoiGianCongTac[$index].DiaChi" type="text" />
                            <span ng-show="hide">{{item.DiaChi}}</span>

                        </td>

                    </tr>


                </table>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid" style="margin-bottom:20px">
    <h1 style="margin-bottom:20px;text-align:center">Quá trình đào tạo</h1>
    <div class="row">

        <div class="col-md-10" style="margin:auto">
            <div class="table-responsive">
                <table class="table  table-bordered chu">
                    <tr style="background:#74b9ff">
                        <th width="5%">STT</th>
                        <th>Bậc đào tạo</th>
                        <th>Hệ đào tạo</th>
                        <th>Ngành đào tạo</th>
                        <th>Nơi đào tạo</th>
                        <th>Quốc Gia</th>
                        <th>Tên luận án</th>
                        <th>Năm BD</th>
                        <th>Năm TN</th>
                        <th>Xếp loại tốt nghiệp</th>

                    </tr>
                    <tr ng-repeat="item in AllQuaTrinhDaoTao">
                        <th>{{$index+1}}</th>

                        <td>

                            <input ng-show="Edit " ng-model="AllQuaTrinhDaoTao[$index].BacDaoTao" type="text" />
                            <span ng-show="hide">{{item.BacDaoTao}}</span>

                        </td>

                        <td>


                            <input ng-show="Edit " ng-model="AllQuaTrinhDaoTao[$index].HeDaoTao" type="text" />
                            <span ng-show="hide">{{item.HeDaoTao}}</span>


                        </td>

                        <td>

                            <input ng-show="Edit " ng-model="AllQuaTrinhDaoTao[$index].NganhDaoTao" type="text" />
                            <span ng-show="hide">{{item.NganhDaoTao}}</span>

                        </td>
                        <td>
                            <input ng-show="Edit " ng-model="AllQuaTrinhDaoTao[$index].NoiDaoTao" type="text" />
                            <span ng-show="hide">{{item.NoiDaoTao}}</span>

                        </td>
                        <td>
                            <input ng-show="Edit " ng-model="AllQuaTrinhDaoTao[$index].QuocGia" type="text" />
                            <span ng-show="hide">{{item.QuocGia}}</span>

                        </td>
                        <td>
                            <input ng-show="Edit " ng-model="AllQuaTrinhDaoTao[$index].TenLuanAn" type="text" />
                            <span ng-show="hide">{{item.TenLuanAn}}</span>

                        </td>
                        <td>
                            <input ng-show="Edit " placeholder="dd-mm-yyyy" style="height:22px" ng-model="AllQuaTrinhDaoTao[$index].NamBD" ng-value="AllQuaTrinhDaoTao[$index].NamBD" type="date" ng-model-options="{timezone:'UTC'}" />
                            <span ng-show="hide">{{item.NamBD|date:'dd/MM/yyyy'}}</span>

                        </td>
                        <td>
                            <input ng-show="Edit " style="height:22px" ng-model="AllQuaTrinhDaoTao[$index].NamTN" type="date" ng-value="AllQuaTrinhDaoTao[$index].NamTN" ng-model-options="{timezone:'UTC'}" />
                            <span ng-show="hide">{{item.NamTN|date:'dd/MM/yyyy'}}</span>

                        </td>
                        <td>
                            <input ng-show="Edit " ng-model="AllQuaTrinhDaoTao[$index].XepLoaiTotNghiep" type="text" />
                            <span ng-show="hide">{{item.XepLoaiTotNghiep}}</span>

                        </td>

                    </tr>


                </table>
            </div>
        </div>

    </div>
</div>

<div class="center-block  text-center">
    <button type="submit" class="btn btn-primary " style="background:#74b9ff;" ng-click="mobang()">Thay đổi thông tin cá nhân</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



</div>
<div class="row" style="margin-top:10px" ng-show="save">
    <div class="col-md-5" style="margin-left:710px">
        <button type="button" class="btn btn-primary " ng-disabled="form.$invalid" ng-click="kiemtraloi()">Lưu</button>
        <!--<button type="button" class="btn btn-primary " ng-click="putupdateTrinhDoNgoaiNgu()">trình độ ngoại ngữ</button>
        <button type="button" class="btn btn-primary " ng-click="putupdateThoiGianCongTac()">thời gian cong tác</button>
        <button type="button" class="btn btn-primary " ng-click="putupdateQuaTrinhDaoTao()"> Quá trình đào tạo</button>-->
        <button type="submit" class="btn btn-danger" ng-show="closehuy" ng-click="huy()">Hủy</button>



    </div>

</div>
<!--pull-right-->