﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="thongtincanhan"> Thông tin cá nhân</a></li>
        <li><a ui-sref="quatrinhdaotao"> Quá trình đào tạo</a></li>

    </ol>
</section>
<div class="container-fluid bg-xam">
    </br>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

                <button type="button" class="btn btn-primary float-right">
                    <i class="fas fa-trash-alt">
                    </i> Xóa
                </button>
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary float-right">
                    <i class="fas fa-plus">
                    </i> Thêm đào tạo mới
                </button>
                <div class="modal " id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width:140% !important">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Thêm quá trình đào tạo</h4>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered chuphai">
                                        <tr>
                                            <th>Bậc đào tạo</th>
                                            <td>
                                                <select>
                                                    <option>Tiến sĩ</option>
                                                    <option>Thạc sĩ</option>
                                                    <option>Đại học</option>
                                                </select>
                                            </td>
                                            <td colspan="2">
                                                <b>Nghành</b> &nbsp;
                                                <select>
                                                    <option>Kỹ thuật thông tin và viễn thông</option>
                                                    <option>Kỹ thuật điện tử</option>
                                                    <option>Kỹ thuật điện - điện tử</option>
                                                    <option>Khác</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Nghành khác</th>
                                            <td colspan="3"><input type="text" placeholder="Tên nghành khác ghi theo bằng cấp" class="form-control" /></td>

                                        </tr>
                                        <tr>
                                            <th>Hệ đào tạo</th>
                                            <td>
                                                <select>
                                                    <option>CHính quy</option>
                                                    <option>2</option>
                                                </select>
                                            </td>
                                            <td>
                                                <b>Năm bắt đầu</b> &nbsp;
                                                <input type="text" size="3" />
                                            </td>
                                            <td>
                                                <b>Năm tốt nghiệp</b> &nbsp;
                                                <input type="text" size="3" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Nơi đào tạo</th>
                                            <td colspan="2"><input type="text" placeholder="Tên trường đào tạo" class="form-control" /></td>

                                        </tr>
                                        <tr>
                                            <th>Quốc gia</th>
                                            <td colspan="3">
                                                <select class="form-control">
                                                    <option>Việt Nam</option>
                                                    <option>France</option>
                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th>Tên LA</th>
                                            <td colspan="3"><input type="text" placeholder="Tên luận án - luận văn" class="form-control" /></td>

                                        </tr>

                                    </table>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>

               
                </div>



                </br>

                <table class="table table-hover table-bordered ">
                    <b>Quá trình đào tạo</b>

                    <thead class="bg-light">
                        <tr>
                            <th><i>Bậc đào tạo</i></th>
                            <th><i>Hệ ĐT</i></th>
                            <th><i>Nghành đào tạo</i></th>
                            <th><i>Nơi đào tạo</i></th>
                            <th><i>Quốc gia</i></th>
                            <th><i>Tên luận án</i></th>
                            <th><i>Năm BĐ</i></th>
                            <th><i>Năm TN</i></th>
                            <th></th>
                            <th></th>


                        </tr>
                    </thead>
                    <tbody style=" background-color: #ccffff">
                        <tr>
                            <td>Tiến sĩ</td>
                            <td>Chính quy</td>
                            <td>Kỹ thuật thông tin và viễn thông</td>
                            <td>Universite de Cergy-Pontoise</td>
                            <td>France</td>
                            <td>Một hướng mới tring thực thi phần cứng của bộ giải mã đảo bit ngẫu nhiên với độ phức tạp thấp</td>
                            <td>2014</td>
                            <td>2017</td>
                            <td><a class="btn btn-primary">Sửa</a></td>
                            <td>
                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                    <label class="custom-control-label" for="customCheck"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tiến sĩ</td>
                            <td>Chính quy</td>
                            <td>Kỹ thuật thông tin và viễn thông</td>
                            <td>Universite de Cergy-Pontoise</td>
                            <td>France</td>
                            <td>Một hướng mới tring thực thi phần cứng của bộ giải mã đảo bit ngẫu nhiên với độ phức tạp thấp</td>
                            <td>2014</td>
                            <td>2017</td>
                            <td><a class="btn btn-primary">Sửa</a></td>
                            <td>
                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                    <label class="custom-control-label" for="customCheck"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tiến sĩ</td>
                            <td>Chính quy</td>
                            <td>Kỹ thuật thông tin và viễn thông</td>
                            <td>Universite de Cergy-Pontoise</td>
                            <td>France</td>
                            <td>Một hướng mới tring thực thi phần cứng của bộ giải mã đảo bit ngẫu nhiên với độ phức tạp thấp</td>
                            <td>2014</td>
                            <td>2017</td>
                            <td><a class="btn btn-primary">Sửa</a></td>
                            <td>
                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                    <label class="custom-control-label" for="customCheck"></label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </br>
</div>



