﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="thongtincanhan"> Thông tin cá nhân</a></li>
        <li><a ui-sref="trinhdongoaingu"> Trình độ ngoại ngữ</a></li>

    </ol>
</section>
<div class="container-fluid bg-xam" >
    </br>
    
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">

                    <button type="button" class="btn btn-primary float-right">
                        <i class="fas fa-trash-alt">
                        </i> Xóa
                    </button>
                    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary float-right">
                        <i class="fas fa-plus">
                        </i> Thêm ngoại ngữ
                    </button>
                    <div class="modal " id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm chương trình tham gia</h4>
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="sel1">Tên ngoại ngữ:</label>
                                        <select class="form-control" id="sel1">
                                            <option>Chọn ngoại ngữ</option>
                                            <option>Anh</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="sel1">Nghe:</label>
                                        <select class="form-control" id="sel1">
                                            <option>Chọn mức độ</option>
                                            <option>Anh</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="sel1">Nói:</label>
                                        <select class="form-control" id="sel1">
                                            <option>Chọn mức độ</option>
                                            <option>Anh</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="sel1">Viết:</label>
                                        <select class="form-control" id="sel1">
                                            <option>Chọn mức độ</option>
                                            <option>Anh</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="sel1">Đọc hiểu tài liệu:</label>
                                        <select class="form-control" id="sel1">
                                            <option>Chọn mức độ</option>
                                            <option>Anh</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="sel1">Ghi chú:</label>
                                        <input type="text" name="sel1" />
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    </br>

                    <table class="table table-hover table-bordered ">
                        <b>Trình độ ngoại ngữ</b>

                        <thead class="bg-light">
                            <tr>
                                <th><i>TT</i></th>
                                <th><i>Nghe</i></th>
                                <th><i>Nói</i></th>
                                <th><i>Viết</i></th>
                                <th><i>Đọc hiểu tài liệu</i></th>
                                <th><i>Ghi chú</i></th>
                                <th></th>
                                <th></th>
                                <th></th>


                            </tr>
                        </thead>
                        <tbody style=" background-color: #ccffff">
                            <tr>
                                <td>1</td>
                                <td>Tiếng Anh</td>
                                <td>Tốt</td>
                                <td>Tốt</td>
                                <td>Tốt</td>
                                <td>Tốt</td>
                                <td></td>
                                <td><a class="btn btn-primary">Sửa</a></td>
                                <td>
                                    <div class="custom-control custom-checkbox ">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Tiếng Pháp</td>
                                <td>Tốt</td>
                                <td>Tốt</td>
                                <td>Khá</td>
                                <td>Tốt</td>
                                <td></td>
                                <td><a class="btn btn-primary">Sửa</a></td>
                                <td>
                                    <div class="custom-control custom-checkbox ">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
    </div>
    </br>

</div>
