﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="viecphailam">Việc phải làm</a></li>
        <li><a ui-sref="viecdalam">Việc đã làm</a></li>
        <li><a ui-sref="chitietviecdalam">Chi tiết việc đã làm</a></li>
        <li><a ui-sref="thongkevangmat">Thống kê vắng mặt</a></li>

    </ol>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="background:#74b9ff;">

                        <th width="40%">Môn học</th>
                        <th width="30%">Ngày vắng</th>
                        <th width="30%">Tổng số lần</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td style="text-align:left">Toán 1  </td>
                        <td>
                            <p>28/02/2020</p>
                            <p>31/10/2019</p>
                        </td>
                        <td> 2</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">Điện tử 1  </td>
                        <td>
                            <p>28/02/2020</p>
                        </td>
                        <td> 1</td>
                    </tr>
                    <tr>
                        <td style="text-align:left">Tin học ứng dụng 1  </td>
                        <td>
                            <p>28/02/2020</p>
                            <p>31/10/2019</p>
                            <p>31/10/2019</p>
                        </td>
                        <td> 3</td>
                    </tr>

                </tbody>

            </table>
        </div>
        <div class="col-md-4"></div>
    </div>    </br>

    <div class="text-center">

        <a ui-sref="viecphailam" class="btn btn-primary text-center">Trở lại trang việc phải làm</a>
    </div>
</div>