﻿ <!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="nhapnoidungdatabase">Nhập nội dung database</a></li>

    </ol>
</section>
<!-- Main content -->
<div class="container-fluid">
    <div class="col-md-12 input-group justify-content-center">
        <form class="">
            <div class="input-group ">
                <!--<div class="input-group-append">
                    <span class="input-group-text"><b>Chọn database: </b></span>
                </div>-->
                <!--<div class="input-group-append">
                    <select class="selectpicker form-control" ng-model="dbname"
                            ng-options="item  for item in listDatabase"
                            ng-change="getListTable();">
                        <option disabled value="">Chọn database</option>
                    </select>

                </div>&nbsp;&nbsp;-->

                <div class="input-group-append">
                    <span class="input-group-text"><b>Chọn bảng: </b></span>
                </div>
                <div class="input-group-append">
                    <select class="selectpicker form-control" ng-model="tablename"
                            ng-options="item  for item in listTable"
                            ng-change="moUpExcel();chuyentablename(tablename)">
                        <option disabled value="">Chọn bảng</option>
                    </select>

                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="input-group-append">
                    <input type="button" class="btn btn-primary" ng-click="getNoiDungBang(tablenamedachuyen)" value="Xem nội dung hiện tại của bảng" />
                </div>


            </div>

        </form>

    </div>
</div>
<br />
<br />
<br />
<div class="container" ng-show="upExcel">
    <div class="col-12 col-md-12 input-group justify-content-center">
        <form class="">
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Tải thông tin từ file Excel: </b></span>
                </div>

                <input type="file" custom-on-change="uploadFile" id="ngexcelfile" />
                <input type="button" class="btn btn-primary" value="Đọc dữ liệu" ng-click="READ(tablename);showbang1()" /> &nbsp;&nbsp;&nbsp;

                <input type="button" value="Cập nhật database " ng-disabled="bang1==false" class="btn btn-primary" ng-click="AddExcel(tablenamedachuyen)" />&nbsp;&nbsp;&nbsp;
                <!--<button class="btn btn-danger" ng-show="btnhuy" ng-click="HuyExcel()">Hủy</button>-->
            </div>
        </form>
    </div>

</div>

<br />
<br />
<div class="container-fluid">
    <div class="row" ng-show="noidungdatabase">
        <div class="col-md-12">

            <div class="table-responsive-xl table-responsive">

                <table border="1" class="table table-bordered table-hover tablesinhvien" width="100%">
                    <tr style="background:#74b9ff; ">
                        <th>STT</th>
                        <th style="text-align:center" ng-repeat="(key, val) in noiDungBang[0]">{{ key }}</th>
                    </tr>
                    <tr ng-repeat="row in noiDungBang">
                        <td>{{$index+1}}</td>
                        <td ng-repeat="column in row">
                            {{ column }}
                        </td>
                    </tr>
                </table>
            </div>

            <br />



        </div>


    </div>
</div>
<div class="container-fluid">
    <div class="row" ng-show="bang1">
        <div class="col-md-12" ng-if="SinhVienDauVaoExcel.length>0">

            <div class="table-responsive-xl table-responsive">

                <table border="1" class="table table-bordered table-hover tablesinhvien" width="100%">
                    <tr style="background:#74b9ff; ">
                        <th>STT</th>
                        <th style="text-align:center" ng-repeat="(key, val) in SinhVienDauVaoExcel[0]">{{ key }}</th>
                    </tr>
                    <tr ng-repeat="row in SinhVienDauVaoExcel">
                        <td>{{$index+1}}</td>
                        <td ng-repeat="column in row">
                            {{ column }}
                        </td>
                    </tr>
                </table>
            </div>

            <br />



        </div>


    </div>
</div>

