﻿<div class="platform ">
    <!--<div class="row" id="header">

        <div class=" col-12 col-md-12  " >
            <div class="btn-group"  style="position: absolute;bottom:10%;right: 5%;" role="group" aria-label="Basic example">
                <h4>{{authentication.userName}}</h4> &nbsp;&nbsp;
                <h4><a href="javascript:void(0)" ng-click="logOut()">Thoát</a></h4>
            </div>

        </div>

    </div>-->
    <!--<span ng-repeat="item in  authentication.nameRoles">
        {{item.Name}}&nbsp;||&nbsp;
    </span>-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5" style="margin: 5px 0px">
                <img src="../../../Assets/sinhvien/image/MekongName.png" class=".img-fluid img-responsive" alt="logo" style="z-index:10;width:100%;max-height:100%;display:block" />
            </div>
        </div>
    </div>

    <div class="container-fluid submenu">
        <div class=" row " style="height:100%">
            <div class="col-md-5 col-lg-6 hidden-xs col-xl-7"></div>
            <div class="col-md-7 col-lg-6 col-12 col-xs-12 mt-2 col-xl-5" style="height:100%">
                <span class="hidden-xs" style="margin-right:10px;line-height:40px;font-size:17px;font-weight:bold ;color:white">
                    Trang thông tin &nbsp;|
                </span>
                <span style="font-size:17px;font-weight:bold;color:white;margin-right:5px">{{authentication.fullName}} </span>
                <span style="font-size:17px;font-weight:bold;" ng-click="logOut()"><a href="javascript:void(0)">Đăng xuất</a></span>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
            <ul class="navbar-nav nav nav-tabs mr-auto activemenu" role="tablist">
                <li ng-if="(kiemtrarole('TrangChu')=='TrangChu')" role="presentation" ui-sref-active="active">
                    <a ui-sref="trangchu">
                        Trang Chủ
                    </a>
                </li>
                <li ng-if="(kiemtrarole('DangKyCongViec')=='DangKyCongViec')" role="presentation" ui-sref-active="active">
                    <a ui-sref="dangkycongviec">
                        Đăng Ký Công Việc
                    </a>
                </li>
                <li ng-if="(kiemtrarole('GiangDay')=='GiangDay')" role="presentation" ui-sref-active="active">
                    <a ui-sref="giangday">
                        Giảng Dạy
                    </a>
                </li>
                <li ng-if="(kiemtrarole('KhoaHocCongNghe')=='KhoaHocCongNghe')" role="presentation" ui-sref-active="active">
                    <a>
                        Khoa Học Công Nghệ
                    </a>
                </li>
                <li ng-if="(kiemtrarole('SauDaiHoc')=='SauDaiHoc')" role="presentation" ui-sref-active="active">
                    <a>
                        Sau Đại Học
                    </a>
                </li>
                <li ng-if="(kiemtrarole('NopDon')=='NopDon')" role="presentation" ui-sref-active="active">
                    <a>
                        Nộp Đơn
                    </a>
                </li>
                <li ng-if="(kiemtrarole('XemLichThi')=='XemLichThi')" role="presentation" ui-sref-active="active">
                    <a ui-sref="lichthi">
                        Xem Lịch Thi
                    </a>
                </li>
                <li ng-if="(kiemtrarole('InBangDiem')=='InBangDiem')" role="presentation" ui-sref-active="active">
                    <a ui-sref="inbangdiem">
                        In Bảng Điểm
                    </a>
                </li>

                <li ng-if="(kiemtrarole('XemThoiKhoaBieu')=='XemThoiKhoaBieu')" role="presentation" ui-sref-active="active">
                    <a ui-sref="xemthoikhoabieu">
                        Xem Thời Khóa Biểu
                    </a>
                </li>
                <li ng-if="(kiemtrarole('XemDKMH')=='XemDKMH')" role="presentation" ui-sref-active="active">
                    <a ui-sref="xemdangkymonhoc">
                        Xem ĐKMH
                    </a>
                </li>

                <li ng-if="(kiemtrarole('XemBangDiem')=='XemBangDiem')" role="presentation" ui-sref-active="active">
                    <a ui-sref="xembangdiem">
                        Xem Bảng Điểm
                    </a>
                </li>
                <li ng-if="(kiemtrarole('XemLichGacThi')=='XemLichGacThi')" role="presentation" ui-sref-active="active">
                    <a ui-sref="xemlichthigacthi">
                        Xem Lịch Gác Thi
                    </a>
                </li>
                <li ng-if="(kiemtrarole('XemHocPhi')=='XemHocPhi')" role="presentation" ui-sref-active="active">
                    <a ui-sref="xemhocphi">
                        Xem Học Phí
                    </a>
                </li>

                <li ng-if="(kiemtrarole('MoDangKyMonHoc')=='MoDangKyMonHoc')" role="presentation" ui-sref-active="active">
                    <a ui-sref="modangkymonhoc">
                        Mở Đăng Ký Môn Học
                    </a>
                </li>
                <li ng-if="(kiemtrarole('DatNgayCuaHocKy')=='DatNgayCuaHocKy')" role="presentation" ui-sref-active="active">
                    <a ui-sref="datngaycuahocky">
                        Đặt Ngày Của Học Kỳ
                    </a>
                </li>
                <li ng-if="(kiemtrarole('DatNgayNghi')=='DatNgayNghi')" role="presentation" ui-sref-active="active">
                    <a ui-sref="datngaynghi">
                        Đặt Ngày Nghỉ
                    </a>
                </li>
                <li ng-if="(kiemtrarole('XemLichGacThiCaNhan')=='XemLichGacThiCaNhan')" role="presentation" ui-sref-active="active">
                    <a ui-sref="xemlichgacthicanhan({Id: '{{authentication.userName}}'})">
                        Xem Lịch Gác Thi Cá Nhân
                    </a>
                </li>
                <li ng-if="(kiemtrarole('XemLichDay')=='XemLichDay')" role="presentation" ui-sref-active="active">
                    <a ui-sref="xemlichday({Id: '{{authentication.userName}}'})">
                        Xem Lịch Dạy
                    </a>
                </li>
                <li ng-if="(kiemtrarole('XemLichDayCaNhan')=='XemLichDayCaNhan')" role="presentation" ui-sref-active="active">
                    <a ui-sref="xemlichdaycanhan({msvc: '{{authentication.userName}}'})">
                        Xem Lịch Dạy Cá Nhân
                    </a>
                </li>
                <li ng-if="(kiemtrarole('XemThongTinSinhVienTrungTuyen')=='XemThongTinSinhVienTrungTuyen')" role="presentation" ui-sref-active="active">
                    <a ui-sref="xemthongtinsinhvientrungtuyen">
                        Xem thông tin sinh viên trúng tuyển
                    </a>
                </li>
                <li ng-if="(kiemtrarole('NhapThongTinSinhVienTrungTuyen')=='NhapThongTinSinhVienTrungTuyen')" role="presentation" ui-sref-active="active">
                    <a ui-sref="nhapsinhvientrungtuyen">
                        Nhập thông tin sinh viên trúng tuyển
                    </a>
                </li>
                <li ng-if="(kiemtrarole('ThayDoiKhungGioHoc')=='ThayDoiKhungGioHoc')" role="presentation" ui-sref-active="active">
                    <a ui-sref="thaydoikhunggiohoc({msvc: '{{authentication.userName}}'})">
                        Thay Đổi Khung Giờ Học
                    </a>
                </li>
                <li ng-if="(kiemtrarole('NhapNoiDungDatabase')=='NhapNoiDungDatabase')" role="presentation" ui-sref-active="active">
                    <a ui-sref="nhapnoidungdatabase">
                        Nhập nội dung database
                    </a>
                </li>
                <li ng-if="(kiemtrarole('Admin')=='Admin') " role="presentation" ui-sref-active="active">
                    <a ui-sref="application_groups">
                        Nhóm người dùng
                    </a>
                </li>
                <li ng-if="(kiemtrarole('Admin')=='Admin') " role="presentation" ui-sref-active="active">
                    <a ui-sref="application_roles">
                        Quyền
                    </a>
                </li>
                <li ng-if="(kiemtrarole('Admin')=='Admin') " role="presentation" ui-sref-active="active">
                    <a ui-sref="application_users">
                        Người dùng
                    </a>
                </li>

                <li ng-if="(kiemtrarole('NhapDiemTrucTuyen')=='NhapDiemTrucTuyen')" role="presentation" ui-sref-active="active">
                    <a ui-sref="nhapdiemtructuyen({msvc: '{{authentication.userName}}'})">
                        Nhập điểm trực tuyến
                    </a>
                </li>
                <li ng-if="(kiemtrarole('SuaDiem')=='SuaDiem')" role="presentation" ui-sref-active="active">
                    <a ui-sref="suadiem({msvc: '{{authentication.userName}}'})">
                        Sửa điểm
                    </a>
                </li>
                <li ng-if="(kiemtrarole('NhapDiem')=='NhapDiem')" role="presentation" ui-sref-active="active">
                    <a ui-sref="nhapdiem({msvc: '{{authentication.userName}}'})">
                        Nhập điểm
                    </a>
                </li>
                <li ng-if="(kiemtrarole('ThongTinCaNhan')=='ThongTinCaNhan')" role="presentation" ui-sref-active="active">
                    <a ui-sref="lylichcanhan">
                        Thông tin cá nhân
                    </a>
                </li>
                <li ng-if="(kiemtrarole('ThemThongTinVienChuc')=='ThemThongTinVienChuc')" role="presentation" ui-sref-active="active">
                    <a ui-sref="themthongtinvienchuc">
                        Thêm thông tin viên chức
                    </a>
                </li>
                <li ng-if="(kiemtrarole('XemDanhSachPhongHoc')=='XemDanhSachPhongHoc')" role="presentation" ui-sref-active="active">
                    <a ui-sref="xemdanhsachphonghoc">
                        Xem Danh Sách Phòng Học
                    </a>
                </li>
                <li ng-if="(kiemtrarole('XemThongTinSinhVien')=='XemThongTinSinhVien')" role="presentation" ui-sref-active="active">
                    <a ui-sref="xemthongtinsinhvien">
                        Xem Thông Tin Sinh Viên
                    </a>
                </li>
                <li ng-if="(kiemtrarole('SinhVien')=='SinhVien')" role="presentation" ui-sref-active="active">
                    <a ui-sref="trangchu_sv({Id: '{{authentication.userName}}'})">
                        Trang Chủ
                    </a>
                </li>

                <li ng-if="(kiemtrarole('SinhVien')=='SinhVien')" role="presentation" ui-sref-active="active">
                    <a ui-sref="dangkymonhoc">
                        Đăng Ký Môn Học
                    </a>
                </li>
                <li ng-if="(kiemtrarole('SinhVien')=='SinhVien')" role="presentation" ui-sref-active="active">
                    <a ui-sref="thoikhoabieu_sv">
                        Thời Khóa Biểu
                    </a>
                </li>
                <li ng-if="(kiemtrarole('SinhVien')=='SinhVien')" role="presentation" ui-sref-active="active">
                    <a ui-sref="lichthi_sv">
                        Lịch Thi
                    </a>
                </li>
                <li ng-if="(kiemtrarole('SinhVien')=='SinhVien')" role="presentation" ui-sref-active="active">
                    <a ui-sref="bangdiem({Id: '{{authentication.userName}}'})">
                        Bảng Điểm
                    </a>
                </li>
                <li ng-if="(kiemtrarole('SinhVien')=='SinhVien')" role="presentation" ui-sref-active="active">
                    <a ui-sref="hocphi">
                        Học Phí
                    </a>
                </li>
                <li ng-if="(kiemtrarole('SinhVien')=='SinhVien')" role="presentation" ui-sref-active="active">
                    <a ui-sref="chuongtrinhdaotao">
                        Chương Trình Đào Tạo
                    </a>
                </li>
                <li ng-if="(kiemtrarole('SinhVien')=='SinhVien')" role="presentation" ui-sref-active="active">
                    <a ui-sref="nopdon">
                        Nộp Đơn
                    </a>
                </li>
                <li ng-if="(kiemtrarole('SinhVien')=='SinhVien')" role="presentation" ui-sref-active="active">
                    <a ui-sref="thongtincanhan_sv({Id: '{{authentication.userName}}'})">
                        Thông Tin Cá Nhân
                    </a>
                </li>
                <li ng-if="(kiemtrarole('SinhVien')=='SinhVien')" role="presentation" ui-sref-active="active">
                    <a ui-sref="thongbao_sv">
                        Thông Báo
                    </a>
                </li>
                <li ng-if="(kiemtrarole('Admin')=='Admin')" role="presentation" ui-sref-active="active">
                    <a ui-sref="tinhhocphi">
                        Tính học phí
                    </a>
                </li>
                <li ng-if="(kiemtrarole('Admin')=='Admin')" role="presentation" ui-sref-active="active"><a ui-sref="taothoikhoabieu">Tạo thời khóa biểu</a></li>
                <li ng-if="(kiemtrarole('Admin')=='Admin')" role="presentation" ui-sref-active="active"><a ui-sref="taolichthi">Tạo lịch thi</a></li>
                <li ng-if="(kiemtrarole('SinhVien')=='SinhVien')" role="presentation" ui-sref-active="active"><a ui-sref="ctf">Ctf</a></li>

            </ul>


        </div>
    </nav>

    

    <!-- content -->
    <div class="content" ui-view>
        <div>

        </div>
        <div class="">

        </div>
        <div class="">

        </div>
    </div>


    <!-- content -->
    <div class="footer navbar-fixed-bottom">
        <div class="Designer">
            <a href="http://mekong-tech.com">Designed by <span>Mekong</span>-tech</a>
        </div>
    </div>

</div>
  


<script src="../../../Assets/sinhvien/js/activemenu.js"></script>