﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
    </ol>
</section>

<div class="container-fluid">
    <div class="row" ng-controller="trangChu_svController" style="font-family:'Times New Roman', Times, serif">

        <div class="col-md-4 col-6 col-sm-5 col-xl-3">
            <div id="viecphailam">
                <div style=""><a ui-sref="viecphailam_sv"><span id="sovieclam">{{demvieclamsinhvien}}</span><span class="vpl">Việc Phải Làm</span></a></div>

                <div><a ui-sref="dondanop_sv"><span id="sovieclam">{{demdonsinhvien}}</span><span>Đơn đã nộp</span></a></div>
            </div>

        </div>

        <div class="col-md-8 col-12 col-sm-7  col-xl-9 " style="margin-top: 10px;">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger"><b>Nhắc nhở:</b></li>
                <li class="list-group-item" ng-repeat="item in nhacNho">
                    <i class="fa fa-chevron-circle-right"> </i>&nbsp;&nbsp;
                    <a ui-sref="chitietnhacnho_sv({MaSoNN:{{item.MaSoNN}}})"> {{item.NoiDungNhac}}</a>
                </li>


            </ul>
            <div class="box-footer">
                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getNhacNho(page)"></pager-directive>
            </div>
        </div>


    </div>

    <div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success "><b>Thông báo:</b></li>
            <li class="list-group-item " ng-repeat="item in thongBao">
                <a ui-sref="thongbao_sv({MaSoTB:{{item.MaSoTB}}})"><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;{{item.NoiDung}} </a>
            </li>

        </ul>
    </div>
    <div class="box-footer">
        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getThongBao(page)"></pager-directive>
    </div>



    <div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success "><b>Tin Tức:</b></li>
            <li class="list-group-item" ng-repeat="item in tintuc"><i class="fa fa-chevron-circle-right"> </i>&nbsp;&nbsp; <a ui-sref="tintuc_sv({MaTinTuc:{{item.MaTinTuc}}})">{{item.NoiDung}} </a>  </li>
        </ul>
    </div>

    <div class="box-footer">
        <pager-directive page="{{page1}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{TotalCount}}" search-func="getTinTuc(page)"></pager-directive>
    </div>

</div>



