﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu_sv"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="viecphailam_sv">Đơn đã nộp</a></li>
        <li><a ui-sref="chitietdondanop_sv">Chi tiết đơn đã nộp</a></li>

    </ol>
</section>
<div class="container table-responsive">
    <table class="table table-bordered table-hover" >
        <thead>
            <tr style="background:#74b9ff"  >


                <th width="40%">Mô tả</th>
                <th width="15%">Người nộp</th>
                <th width="15%">Trạng thái</th>
                <th width="15%"> </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in chiTietDonDaNop">
                <td style="text-align:left"> {{item.NoiDung}} </td>
                <td>{{item.HoLot}}&nbsp;{{item.Ten}}</td>

                <td>{{item.DaXuLy}}</td>
                <td> </td>
               
            </tr>
        </tbody>

    </table>
    </br>
</div>
 </br>
<div class="container table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr style="background:#74b9ff;">

                <th width="30%"></th>
                <th width="30%"></th>
                <th width="40%">Ngày tạo/approve</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in chiTietDonDaNop">
                <td style="text-align:left">Người nộp  </td>
                <td>{{item.HoLot}}&nbsp;{{item.Ten}} </td>
                <td> {{item.NgayNop}}</td>
            </tr>
            <tr>
                <td style="text-align:left">Người xử lý   </td>
                <td> Họ tên (MSSV)  </td>
                <td> 22/02/2020, lúc 00:01:00 </td>
            </tr>
            <tr>
                <td style="text-align:left">Người xác nhận   </td>
                <td>Hệ thống </td>
                <td> 22/02/2020, lúc 00:01:00 </td>
            </tr>
           
        </tbody>

    </table>

   
                    
                
    </br>

    <div class="text-center">
        <a ui-sref="#" class="btn btn-primary text-center">Xem file đính kèm</a>
        </br>
        </br>
        <a ui-sref="dondanop_sv" class="btn btn-primary text-center">Trở lại trang đơn đã nộp</a>
    </div>
</div>