﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="viecphailam">Việc phải làm</a></li>
        <li><a ui-sref="chitietviecdalam">Chi tiết việc đã làm</a></li>

    </ol>
</section>
<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr style="background:#74b9ff">

                <th width="15%">Ngày không tham dự</th>
                <th width="40%">Mô tả</th>
                <th width="15%">Người nộp</th>

                <th width="15%">Ngày hoàn thành</th>
                <th width="15%">Trạng thái</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in chiTietViecDaLam">
                <td> 21/02/2020 </td>
                <td style="text-align:left">{{item.MoTa}}</td>

                <td> {{item.HoTen}}</td>
                <td>{{item.TrangThai}} </td>
                <td>
                    {{item.NgayHoanThanh}}
                </td>

            </tr>
        </tbody>

    </table>


    <div class="text-center">

        <a ui-sref="thongkevangmat" class="btn btn-primary text-center">Xem thống kê vắng mặt</a>
    </div>



    <table class="table table-bordered table-hover">
        <thead>
            <tr style="background:#74b9ff;">

                <th width="30%"></th>
                <th width="30%"></th>
                <th width="40%">Ngày tạo/approve</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td style="text-align:left">Người nộp  </td>
                <td>Hệ thống </td>
                <td> 22/02/2020, lúc 00:01:00 </td>
            </tr>
            <tr>
                <td style="text-align:left">Người xử lý   </td>
                <td> Họ tên (MSSV)  </td>
                <td> 22/02/2020, lúc 00:01:00 </td>
            </tr>
            <tr>
                <td style="text-align:left">Người nộp  </td>
                <td>Hệ thống </td>
                <td> 22/02/2020, lúc 00:01:00 </td>
            </tr>
            <tr>
                <td style="text-align:left">Người nộp  </td>
                <td>Hệ thống </td>
                <td> 22/02/2020, lúc 00:01:00 </td>
            </tr>
            <tr>
                <td style="text-align:left">Người nộp  </td>
                <td>Hệ thống </td>
                <td> 22/02/2020, lúc 00:01:00 </td>
            </tr>
            <tr>
                <td style="text-align:left">Người nộp  </td>
                <td>Hệ thống </td>
                <td> 22/02/2020, lúc 00:01:00 </td>
            </tr>

        </tbody>

    </table>


    <div>
        <table class="table table-bordered table-hover">


            <tbody>
                <tr>
                    <td>Lý do</td>
                    <td>
                        Tham dự seminar giới thiệu việc làm
                    </td>
                </tr>
                <tr>

                    <td colspan="2">
                        <a class="btn btn-primary text-center">Xem file đính kèm</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">

        <a ui-sref="viecphailam" class="btn btn-primary text-center">Trở lại trang việc phải làm</a>
    </div>

</div>
