﻿ <!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">

        <li><a ui-sref="trangchu_sv"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="hocphi">Học phí</a></li>


    </ol>
</section>
<!-- Main content -->
<div class="container-fluid print">
    <div class="row ">
        <div class="col-md-5 col-lg-4">
            <div class="input-group">

                <span class="input-group-text">Chọn học kỳ</span>

                <select class="form-control" ng-model="hocKyDaChon" ng-options=" 'Học kỳ ' +item.HocKy+', '  +' năm học ' +' '+item.NamHoc for item in hocKy "
                       >
                    <option disabled value="" >Chọn học kỳ muốn xem</option>

                </select>
                <span class="input-group-text btn" ng-click="getHocPhi(hocKyDaChon)">Xem</span>
            </div>
            <br />
        </div>
        </div>
     
    </div>
    
 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 " style="margin:auto" >

                    <table class="table table-striped table-bordered" >
                        <tbody ng-repeat="item in thongTincaNhan">
                            <tr>
                                <td scope="col">Mã số sinh viên</td>
                                <th>{{item.MaSoSV}}</th>

                            </tr>


                            <tr>
                                <td>Họ tên</td>
                                <th>{{item.HoLot}} {{item.Ten}}</th>
                            </tr>

                            <tr>
                                <td>Lớp</td>
                                <th>{{item.TenLop}}</th>
                            </tr>
                            <tr>
                                <td>Ngành</td>
                                <th>{{item.TenNganh}}</th>
                            </tr>

                            <tr>
                                <td>Khoa</td>
                                <th>{{item.TenPhongKhoa}}</th>
                            </tr>
                            <tr>
                                <td>Khóa</td>
                                <th>{{item.NienKhoa}}</th>
                            </tr>
                            <tr>
                                <td>Hệ đào tào</td>
                                <th>{{item.HeDaoTao}}</th>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>


            <div class="row ">
                <div class="col-md-5 " style="margin:auto">
                    <table class="table table-bordered" style="background:#74b9ff">

                        <tbody ng-repeat="item in hocPhi">
                            <tr>
                                <th style="text-align:center" scope="col" colspan="2">Học kỳ {{item.HocKy}}, năm học {{item.NamHoc}} </th>


                            </tr>


                            <tr style="text-align:left">
                                <td>Tổng số tín chỉ</td>
                                <th>{{item.TongSoTinChi}}</th>

                            </tr>
                            <tr style="text-align:left">
                                <td>Tổng số tín chỉ học phí </td>
                                <th>{{item.TongSoTinChiHocPhi}}</th>

                            </tr>

                            <tr style="text-align:left">
                                <td>Tổng số tiền học phí học kỳ</td>
                                <th>{{item.TongSoHocPhi|number}} VNĐ</th>
                            </tr>

                            <tr style="text-align:left">
                                <td>Số tiền đã đóng trong học kỳ</td>
                                <th>{{item.SoTienDaDong|number}} VNĐ</th>
                            </tr>
                            <tr style="text-align:left">
                                <td>Số tiền miễn giảm</td>
                                <th>{{item.SoTienMienGiam|number}} VNĐ</th>
                            </tr>
                            <tr style="text-align:left">
                                <td>Số tiền còn nợ</td>
                                <th>{{item.SoTienConNo|number}} VNĐ</th>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 ">
                    <table class="table table-striped table-bordered">
                        <tbody ng-repeat="item in thongTincaNhan">
                            <tr>
                                <th colspan="2">Thông tin tài khoản ngân hàng</th>
                            </tr>
                            <tr>
                                <td>Số tài khoản</td>
                                <th>{{item.SoTaiKhoan}}</th>
                            </tr>

                            <tr>
                                <td>Tên chủ tài khoản</td>
                                <th>{{item.TenChuTaiKhoan}}</th>
                            </tr>
                            <tr>
                                <td>Chi nhánh</td>
                                <th>{{item.ChiNhanh}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8"></div>
            </div>
               
           
        </div>
  
   

<script>
    $('#basic').on("click", function () {
        $('.print').printThis({
            //  base: "app/conponents/hocphi/hocPhiView.html",
            //   importCSS: false,
            //   header: "<h1 class='text-center'>Thời khóa biểu</h1></br>",
            //     loadCSS: "../../../Assets/sinhvien/css/style.css",
            //      loadCSS: "../../../Assets/sinhvien/css/bootstrap.min.css",
            debug: false,               // show the iframe for debugging
            importCSS: true,            // import parent page css
            importStyle: false,         // import style tags
            printContainer: true,       // print outer container/$.selector
            loadCSS: null,

            pageTitle: "",              // add title to print page
            removeInline: false,        // remove inline styles from print elements
            removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
            printDelay: 333,            // variable print delay
            header: null,               // prefix to html
            footer: null,               // postfix to html
            base: null,            // preserve the BASE tag or accept a string for the URL
            formValues: true,           // preserve input/form values
            canvas: false,              // copy canvas content
            doctypeString: '<!DOCTYPE html>',       // enter a different doctype for older markup
            removeScripts: false,       // remove script tags from print content
            copyTagClasses: false,      // copy classes from the html & body tag
            beforePrintEvent: null,     // function for printEvent in iframe
            beforePrint: null,          // function called before iframe is filled
            afterPrint: null            // function called before iframe is removed
        });

    });



                //$('#advanced').on("click", function () {
                //  $('#kitty-one, #kitty-two, #kitty-three').printThis({
                //    importCSS: false,
                //    header: "<h1>Look at all of my kitties!</h1>",
                //    base: "https://jasonday.github.io/printThis/"
                //  });
                //});
</script>
<script src="../../../Assets/sinhvien/js/printThis.js"></script>
