﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="xemthongtinsinhvien">Xem thông tin sinh viên</a></li>

    </ol>
</section>

<div class="container-fluid">
    <!--<div class="col-md-3"></div>-->

    <div class="col-md-12 input-group justify-content-center">
        <form class="">
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Mã số sinh viên: </b></span>
                </div>

                <input ng-model="sobaodanh" type="text" class="form-control " placeholder="Nhập mã số sinh viên">

                <div class="input-group-append">
                    <a ng-click="getAllThongTinSinhVien(sobaodanh)" class="form-control btn btn-primary text-white"> Xem</a>

                </div>

            </div>

        </form>

    </div>
</div>

<div class=" row"> <div class="col-md-6" style="margin:auto;margin-top:50px"> <h1 style="text-align:center">Lý lịch sinh viên </h1></div></div>
<!--<div class="container-fluid">
    <div class="row" style="margin-top:50px">
        <div class="col-md-11" style="margin:auto">
            <div class="table-responsive">
                <table class="table table-bordered chuphai">
                    <tr>
                        <td widtd="20%" class="text-right"><b>Số báo danh:</b></td>
                        <td widtd="30%"><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].SoBaoDanh" /></td>
                        <td widtd="10%" class="text-right"><b>Họ lót:</b></td>
                        <td widtd="25%"><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].HoLot" /></td>
                        <td widtd="10%" class="text-right"><b>Tên:</b></td>
                        <td widtd="25%"><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].Ten" /></td>


                    </tr>
                    <tr>
                        <td class="text-right"><b>Ngày sinh:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].NgaySinh" /></td>
                        <td class="text-right"><b>Phái:</b></td>
                        <td>

                            <input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].Phai" />
                        </td>

                        <td class="text-right"><b>Nơi sinh:</b></td>
                        <td><input disabled type="text" ng-model="ThongTinSinhVien[0].NoiSinh" class="form-control" /></td>

                    </tr>
                    <tr>
                        <td class="text-right"><b>Điểm môn 1:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].dm1" /></td>
                        <td class="text-right"><b>Điểm môn 2:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].dm2" /></td>
                        <td class="text-right"><b>Điểm môn 3:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].dm3" /></td>

                    </tr>
                    <tr>
                        <td class="text-right"><b>Điểm tổng cộng 0:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].dtc0" /></td>
                        <td class="text-right"><b>Điểm tổng cộng:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].dtc" /></td>
                        <td class="text-right"><b>Năm trúng tuyển:</b></td>
                        <td>  <input disabled type="text" class=" form-control" ng-model="ThongTinSinhVien[0].NamTrungTuyen" /></td>

                    </tr>
                    <tr>
                        <td class="text-right"><b>Huyện:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].Huyen" /></td>

                        <td class="text-right"><b>Dân tộc:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].DanToc" /></td>
                        <td class="text-right"><b>Số điện thoại 2:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].SoDienThoai2" /></td>

                    </tr>
                    <tr>
                        <td class="text-right"><b>Tôn giáo:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].Tongiao" /></td>
                        <td class="text-right"><b>Số điện thoại 1:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].SoDienThoai1" /></td>
                        <td class="text-right"><b>Địa chỉ liên hệ:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].DiaChiLienHe" /></td>

                    </tr>
                    <tr>
                        <td class="text-right"><b>Email:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].email" /></td>
                        <td class="text-right"><b>Hộ khẩu:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].HoKhau" /></td>
                        <td class="text-right" rowspan="2"><b style="line-height:83px">Ảnh 3x4:</b></td>
                        <td class="text-center" rowspan="2">
                            <span class="col-md-2" style="line-height:80px">
                                <button class=" btn btn-primary" name="image">   <i class="fa fa-image"></i> Tải ảnh lên</button>
                            </span>
                        </td>

                    </tr>
                    <tr>

                        <td class="text-right"><b>Tên cha:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].TenCha" /></td>
                        <td class="text-right"><b>Nghề nghiệp cha:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].NgheNghiepCha" /></td>



                    </tr>
                    <tr>
                        <td class="text-right"><b>Tên mẹ:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].TenMe" /></td>
                        <td class="text-right"><b>Nghề nghiệp mẹ:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].NgheNghiepMe" /></td>
                        <td class="text-right"><b>Năm tốt nghiệp THPT:</b></td>
                        <td>   <input disabled type="text" class=" form-control" ng-model="ThongTinSinhVien[0].NamTotNghiepTHPT" /></td>

                    </tr>


                    <tr>
                        <td widtd="20%" class="text-right"><b>Ngày nhập học:</b></td>
                        <td widtd="30%"><input disabled type="text" class="form-control" ng-value="ThongTinSinhVien[0].NgayNhapHoc|date:'dd/MM/yyyy'" /></td>
                        <td class="text-right"><b>Năm tốt nghiệp:</b></td>
                        <td>  <input disabled type="text" class=" form-control" ng-model="ThongTinSinhVien[0].NamTotNghiep" /></td>
                        <td class="text-right"><b>Nơi làm việc:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].NoiLamViec" /></td>



                    </tr>

                    <tr>
                        <td class="text-right"><b>Khu vực:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].KhuVuc" /></td>
                        <td class="text-right"><b>Ghi chú:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].Ghichu" /></td>
                        <td class="text-right"><b>Đối tượng:</b></td>
                        <td><input disabled type="text" class="form-control" ng-model="ThongTinSinhVien[0].DoiTuong" /></td>


                    </tr>
                    <tr>
                        <td class="text-center" colspan="2"><b>Đã tốt nghiệp: </b><input disabled type="checkbox" name="status" ng-model="ThongTinSinhVien[0].DaTotNghiep" ng-checked="ThongTinSinhVien.DaTotNghiep"></td>

                        <td class="text-center" colspan="2"><b>Tây nam bộ: </b><input disabled type="checkbox" name="status" ng-model="ThongTinSinhVien[0].TayNamBo" ng-checked="ThongTinSinhVien.TayNamBo"></td>
                        <td class="text-center" colspan="2"><b>Đã đóng tiền nhập học: </b><input disabled type="checkbox" name="status" ng-model="ThongTinSinhVien[0].DaDongTienNhapHoc" ng-checked="ThongTinSinhVien.DaDongTienNhapHoc"></td>

                    </tr>


                </table>
            </div>
        </div>

    </div>

</div>-->




<div class="container-fluid" style="margin:20px 0px">
   
    <div class="row">

        <div class="col-md-8" style="margin:auto">
            <div class="table-responsive">
                <table class="table  table-bordered chuphai">
                    <tr>

                        <td>
                            <b>Số báo danh:</b>
                            <span>{{ThongTinSinhVien[0].SoBaoDanh}}</span>
                        </td>



                    </tr>
                    <tr>
                        <td>
                            <b>Họ lót:</b>
                            <span>{{ThongTinSinhVien[0].HoLot}}</span>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Tên:</b>
                            <span>{{ThongTinSinhVien[0].Ten}}</span>
                        </td>



                    </tr>
                    <tr>
                        <td>
                            <b>Ngày sinh:</b>

                            <span>{{ThongTinSinhVien[0].NgaySinh}}</span>


                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Phái:</b>
                            <span>{{ThongTinSinhVien[0].Phai}}</span>


                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Nơi sinh:</b>

                            <span>{{ThongTinSinhVien[0].NoiSinh}}</span>

                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Điểm môn 1:</b>
                            <span>{{ThongTinSinhVien[0].dm1}}</span>

                        </td>

                    </tr>
                    <tr>
                        <td >
                            <b>Điểm môn 2:</b>
                            <span>{{ThongTinSinhVien[0].dm2}}</span>



                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Điểm môn 3:</b>
                            <span>{{ThongTinSinhVien[0].dm3}}</span>



                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Điểm tổng cộng:</b>
                            <span>{{ThongTinSinhVien[0].dtc}}</span>

                        </td>
                    </tr>

                    <tr>


                        <td  >
                            <b>Điểm tổng cộng 0:</b>&nbsp;
                            <span>{{ThongTinSinhVien[0].dtc0}}</span>


                        </td>
                    </tr>
                    <tr>


                        <td  >
                            <b>Năm trúng tuyển:</b>
                            <span>{{ThongTinSinhVien[0].NamTrungTuyen}}</span>
                        </td>
                    </tr>

                    <tr>


                        <td  >
                            <b>Dân tộc:</b>
                            <span>{{ThongTinSinhVien[0].DanToc}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Huyện:</b>
                            <span>{{ThongTinSinhVien[0].Huyen}}</span>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Số điện thoại 2:</b>
                            <span>{{ThongTinSinhVien[0].SoDienThoai2}}</span>

                        </td>
                    </tr>

                    <tr>


                        <td  >
                            <b>Tôn giáo:</b>
                            <span>{{ThongTinSinhVien[0].Tongiao}}</span>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Số điện thoại 1:</b>
                            <span>{{ThongTinSinhVien[0].SoDienThoai1}}</span>

                        </td>
                       
                    </tr>
                    <tr>
                        <td  >
                            <b>Địa chỉ liên hệ:</b>
                            <span>{{ThongTinSinhVien[0].DiaChiLienHe}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Email:</b>
                            <span>{{ThongTinSinhVien[0].email}}</span>

                        </td>
                    </tr>
                    <tr>

                        
                        <td  >
                            <b>Hộ khẩu:</b>
                            <span>{{ThongTinSinhVien[0].HoKhau}}</span>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Tên cha:</b>
                            <span>{{ThongTinSinhVien[0].TenCha}}</span>

                        </td>
                        
                    </tr>
                    <tr>
                        <td  >
                            <b>Nghề nghiệp cha:</b>
                            <span>{{ThongTinSinhVien[0].NgheNghiepCha}}</span>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Tên mẹ:</b>
                            <span>{{ThongTinSinhVien[0].TenMe}}</span>

                        </td>
                        
                    </tr>
                    <tr>
                        <td  >
                            <b>Nghề nghiệp mẹ:</b>
                            <span>{{ThongTinSinhVien[0].NgheNghiepMe}}</span>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Năm tốt nghiệp THPT:</b>
                            <span>{{ThongTinSinhVien[0].NamTotNghiepTHPT}}</span>

                        </td>
                       
                    </tr>
                    <tr>
                        <td  >
                            <b>Ngày nhập học:</b>
                            <span>{{ThongTinSinhVien[0].NgayNhapHoc|date:'dd/MM/yyyy'}}</span>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Năm tốt nghiệp:</b>
                            <span>{{ThongTinSinhVien[0].NamTotNghiep}}</span>

                        </td>
                        
                    </tr>
                    <tr>
                        <td  >
                            <b>Nơi làm việc:</b>
                            <span>{{ThongTinSinhVien[0].NoiLamViec}}</span>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Khu vực:</b>
                            <span>{{ThongTinSinhVien[0].KhuVuc}}</span>

                        </td>
                        
                    </tr>
                    <tr>
                        <td  >
                            <b>Ghi chú:</b>
                            <span>{{ThongTinSinhVien[0].Ghichu}}</span>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Đối tượng:</b>
                            <span>{{ThongTinSinhVien[0].DoiTuong}}</span>

                        </td>
                       
                    </tr>
                    <tr>
                        <td  >
                            <b>Đã tốt nghiệp:<input style="width:10%;margin:0px" type="checkbox" name="status" ng-model="ThongTinSinhVien[0].DaTotNghiep" ng-checked="ThongTinSinhVien.DaTotNghiep"></b>

                        </td>
                    </tr>
                    <tr>

                        <td>
                            <b>Tây nam bộ:</b>
                            <span><input style="width:10%;margin:0px" type="checkbox" name="status" ng-model="ThongTinSinhVien[0].TayNamBo" ng-checked="ThongTinSinhVien.TayNamBo"></span>

                        </td>
                        
                    </tr>
                    <tr>
                        <td  >
                            <b>Đã đóng tiền nhập học:</b>
                            <span><input style="width:10%;margin:0px" type="checkbox" name="status" ng-model="ThongTinSinhVien[0].DaDongTienNhapHoc" ng-checked="ThongTinSinhVien.DaDongTienNhapHoc"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
