﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="inbangdiem">In bảng điểm</a></li>


    </ol>
</section>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 input-group justify-content-center">


        </div>
        <div class="col-12 col-md-12 input-group justify-content-center">
            <form class="">
                <div class="input-group ">
                    <div class="input-group-append">
                        <span class="input-group-text"><b>Mã số sinh viên: </b></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nhập mã số sinh viên" ng-model="mssv">


                    <div class="input-group-append">
                        <a class="form-control btn btn-primary text-white" id="" ng-click="getBangDiem();getThongTinCaNhan();showbang()">Xem </a>

                    </div>
                    <div class="input-group-append">
                        <a class="form-control btn btn-primary text-white" id="basic">In bảng điểm </a>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container print" ng-show="bang1">

    <div class="row">
        <div class="col-6 col-6 text-center">
            <h3 class="text-danger">ĐẠI HỌC QUỐC GIA TP.HCM</h3>
            <h3>TRƯỜNG ĐẠI HỌC BÁCH KHOA</h3>
            <hr style="width:25%;background-color:black">
            <h4>Số: 13213/BDA</h4>

        </div>
        <div class="col-6 col-6 text-center">
            <h3>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h3>
            <h3>Độc Lập - Tự Do - Hạnh Phúc</h3>
            <hr style="width:25%;background-color:black">


        </div>

    </div>

    <H1 class="text-center text-danger">KẾT QUẢ ĐÀO TẠO </H1>
    </br>
    <div class="row " ng-repeat="item in thongTincaNhan">

        <div class="  col-sm-3 offset-sm-2 text-left  col-6 offset-1">
            <p>Mã số sinh viên: <b>{{item.MaSoSV}}</b></p>
            <p>Họ và tên: <b>{{item.HoLot}} {{item.Ten}}</b></p>
            <p>Ngày sinh: <b>{{item.NgaySinh}}</b></p>
        </div>


        <div class=" col-sm-2 offset-sm-3 text-left col-5">
            <p>Lớp:  <b>{{item.TenLop}}</b></p>
            <p>Nghành:  <b>{{item.TenNganh}}</b></p>
            <p>Khoa:  <b>{{item.TenPhongKhoa}}</b></p>


        </div>

    </div>

    <div class="container table-responsive ">
        <table class="table table-bordered " style="width:90%!important;margin:auto;margin-top:20px" border="1" ng-repeat="item1 in bangDiem ">
            <thead>
                <tr style="text-align:left;background:#e9ecef">
                    <th scope="col" colspan="5">Học kỳ: {{item1.HocKy}}, năm học: {{item1.NamHoc}}</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td width="5%">STT</td>
                    <td width="50%">Tên môn học</td>
                    <td width="15%">Số tín chỉ</td>
                    <td width="15%">Điểm môn học</td>
                    <td width="15%">Ghi Chú</td>



                </tr>
                <tr ng-repeat="item in item1.LayBangDiemTheoHocKy">

                    <td>{{$index+1}}</td>
                    <td class="text-left">{{item.TenMH}}</td>
                    <td>{{item.SoTinChi}}</td>
                    <td>{{item.DiemTongKet}}</td>
                    <td></td>
                </tr>
                <tr><td colspan="5" align="left">Tổng số tín chỉ học kỳ: <b>{{sumtchk(item1.HocKy,item1.NamHoc)}}</b></td></tr>
                <tr><td colspan="5" align="left">Điểm trung bình tích luỹ học kỳ: <b>{{sumtbhk(item1.HocKy,item1.NamHoc,sumtchk(item1.HocKy,item1.NamHoc))}} </b></td></tr>
                <tr ng-repeat-end=""><td colspan="5"></td></tr>



            </tbody>
        </table>
        <table class="table table-bordered " style="width:90%!important;margin:auto;margin-top:20px" border="1">
            <tr>
                <td colspan="5" align="left" style="background-color:#dce8df">Tổng số tín chỉ khóa học: <b> {{sumtc()}} </b></td>
            </tr>
            <tr>
                <td colspan="5" align="left" style="background-color:#dce8df">Tổng điểm trung bình tích luỹ khóa học: <b>{{sumtb(sumtc())}} </b></td>
            </tr>
        </table>

    </div>
    </br>
    </br>
    <div class="container">
        <div class="row ">


            <div class="col-sm-3 offset-sm-8 text-center ">

                <p>{{ngaythangnam}}</p>
                <p><b>TL.HIỆU TRƯỞNG</b></p>
                <P><b>TRƯỞNG PHÒNG ĐÀO TẠO</b></P>
                </br>
                </br>
                </br>
                </br>
                <P><B>TS.Lê Trung Trơn</B></P>

            </div>

        </div>
    </div>

</div>


<script>
    $('#basic').on("click", function () {
        $('.print').printThis({
            //  base: "app/conponents/hocphi/hocPhiView.html",
            //   importCSS: false,
            //   header: "<h1 class='text-center'>Thời khóa biểu</h1></br>",
            //     loadCSS: "../../../Assets/sinhvien/css/style.css",
            //      loadCSS: "../../../Assets/sinhvien/css/bootstrap.min.css",
            debug: false,               // show the iframe for debugging
            importCSS: true,            // import parent page css
            importStyle: false,         // import style tags
            printContainer: true,       // print outer container/$.selector
            loadCSS: null,

            pageTitle: "",              // add title to print page
            removeInline: false,        // remove inline styles from print elements
            removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
            printDelay: 333,            // variable print delay
            header: null,               // prefix to html
            footer: null,               // postfix to html
            base: null,            // preserve the BASE tag or accept a string for the URL
            formValues: true,           // preserve input/form values
            canvas: false,              // copy canvas content
            doctypeString: '<!DOCTYPE html>',       // enter a different doctype for older markup
            removeScripts: false,       // remove script tags from print content
            copyTagClasses: false,      // copy classes from the html & body tag
            beforePrintEvent: null,     // function for printEvent in iframe
            beforePrint: null,          // function called before iframe is filled
            afterPrint: null            // function called before iframe is removed
        });

    });



    //$('#advanced').on("click", function () {
    //  $('#kitty-one, #kitty-two, #kitty-three').printThis({
    //    importCSS: false,
    //    header: "<h1>Look at all of my kitties!</h1>",
    //    base: "https://jasonday.github.io/printThis/"
    //  });
    //});
</script>
<script src="../../../Assets/sinhvien/js/printThis.js"></script>
