﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu_sv"><i class="fa fa-home"></i> Trang chủ</a></li>

        <li><a ui-sref="tintuc_sv">Chi tiết tin tức</a></li>

    </ol>
</section>
<div class="container table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr style="background:#74b9ff">


                <th width="40%">Mô tả</th>
                <th width="15%">Người nộp</th>
                <th width="15%">Trạng thái</th>
                <th width="15%"> </th>
            </tr>
        </thead>

        <tbody ng-repeat="item in tintuc">
            <tr>
                <td style="text-align:left"> {{item.NoiDung}} </td>
                <td></td>

                <td></td>
                <td> </td>

            </tr>
        </tbody>

    </table>
    </br>
</div>