﻿<section class="content-header">
  
  <ol class="breadcrumb">
      <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
     
      <li class="active"><a ui-sref="application_users">Danh sách người dùng</a></li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <div class="col-md-12">
            <div class="col-md-6">
              <input type="text" id="txtSearch" ng-model="filterExpression" class="form-control" placeholder="Nhập từ khóa..." />
            </div>
            <div class="col-md-6">

              <button class="btn btn-success pull-right" ui-sref="add_application_user"><i class="fa fa-plus"></i> Thêm mới</button>
            </div>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Tên người dùng</th>
                <th>Tài khoản</th>
                <th>Email</th>
                <th style="width:10%"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in data | filter:filterExpression">
                <td><a ui-sref="edit_application_user({id:item.Id})">{{item.FullName}}</a></td>
                <td><a ui-sref="edit_application_user({id:item.Id})">{{item.UserName}}</a></td>
                <td>{{item.Email}}</td>
                <td>
                  <a ui-sref="edit_application_user({id:item.Id})" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                  <button class="btn btn-sm btn-danger" ng-click="deleteItem(item.Id)"><i class="fa fa-trash-o"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div ng-if="loading">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
              <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
            </div>
            <div class="col-xs-4"></div>
          </div>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
          <custom-pager page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></custom-pager>
        </div>
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->