﻿<section class="content-header">
    <h1>
        Thêm mới người dùng
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="application_users">Danh mục người dùng</a></li>
        <li class="active"><a ui-serf="add_application_user">Thêm mới</a></li>
    </ol>
</section>
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <input type="text" id="txtSearch" ng-model="msvc" class="form-control" placeholder="Nhập từ khóa..." />
                        </div>
                        <div class="col-md-1">

                            <button class="btn btn-success pull-right" ng-click="loadVienChuc()"> Tìm kiếm</button>
                        </div>
                    </div>
                </div><!-- /.box-header -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">{{VienChuc.HoTen}}</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" role="form" novalidate name="frmAddAccount" ng-submit="addAccount()">
                    <div class="box-body">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Họ tên người dùng</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" class="form-control"
                                           disabled ng-model="account.FullName" ng-value="VienChuc.HoTen">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tài khoản</label>
                                <div class="col-sm-10">
                                    <input type="text" name="userName" class="form-control"
                                           disabled ng-model="account.UserName" ng-value="VienChuc.MaSoVC">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mật khẩu</label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control"
                                           disabled ng-model="account.Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" name="email" class="form-control"
                                           disabled ng-model="account.Email" ng-value="VienChuc.Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Điện thoại</label>
                                <div class="col-sm-10">
                                    <input type="text" name="password" class="form-control"
                                           disabled ng-model="account.PhoneNumber" ng-value="VienChuc.DienThoai">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ngày sinh</label>
                                <div class="col-sm-10">
                                    <input type="text" name="birthDate" class="form-control"
                                           disabled ng-model="account.BirthDay" ng-value="VienChuc.NgaySinh">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nhóm quyền: </label>
                                <div class=" col-sm-10">
                                    <br />
                                    <label ng-repeat="group in groups">
                                        <input type="checkbox" checklist-model="account.Groups" checklist-value="group"> {{group.Name}} &nbsp;
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Giảng dạy: </label>
                                <div class=" col-sm-10">
                                    <div ng-repeat="role in roles| filter: { MucHienThi: 'GiaoVien' }| orderBy : 'Name'">
                                        <input type="checkbox" checklist-model="account.Roles" checklist-value="role"> <b>{{role.Description}}</b>
                                    </div><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phòng đào tạo: </label>
                                <div class=" col-sm-10">
                                    <div ng-repeat="role in roles| filter: { MucHienThi: 'PhongDaoTao' }| orderBy : 'Name'">
                                        <input type="checkbox" checklist-model="account.Roles" checklist-value="role"> <b>{{role.Description}} </b>
                                    </div><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phòng tài vụ: </label>
                                <div class=" col-sm-10">
                                    <div ng-repeat="role in roles| filter: { MucHienThi: 'PhongTaiVu' }| orderBy : 'Name'">
                                        <input type="checkbox" checklist-model="account.Roles" checklist-value="role"> <b>{{role.Description}} </b>
                                    </div><br />
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phòng quản trị thiết bị: </label>
                                <div class=" col-sm-10">
                                    <div ng-repeat="role in roles| filter: { MucHienThi: 'PQTTB' }| orderBy : 'Name'">
                                        <input type="checkbox" checklist-model="account.Roles" checklist-value="role"> <b>{{role.Description}} </b>
                                    </div><br />
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phòng tổ chức hành chính: </label>
                                <div class=" col-sm-10">
                                    <div ng-repeat="role in roles| filter: { MucHienThi: 'PhongToChucHanhChinh' }| orderBy : 'Name'">
                                        <input type="checkbox" checklist-model="account.Roles" checklist-value="role"> <b>{{role.Description}} </b>
                                    </div><br />
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">IT: </label>
                                <div class=" col-sm-10">
                                    <div ng-repeat="role in roles| filter: { MucHienThi: 'IT' }| orderBy : 'Name'">
                                        <input type="checkbox" checklist-model="account.Roles" checklist-value="role"> <b>{{role.Description}} </b>
                                    </div><br />
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Khác: </label>
                                <div class=" col-sm-10">
                                    <div ng-repeat="role in roles| filter: { MucHienThi: null }| orderBy : 'Name'">
                                        <input type="checkbox" checklist-model="account.Roles" checklist-value="role"> <b>{{role.Description}} </b>
                                    </div><br />
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <a ui-sref="application_users" class="btn btn-default">Hủy bỏ</a>
                                    <input type="submit" class="btn btn-primary" value="Lưu lại" />
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </form>
            </div><!-- /.box -->
        </div>
    </div>
</section>