﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>

        <li><a ui-sref="datngaynghi">Đặt ngày nghỉ</a></li>

    </ol>
</section>
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <form class="form-horizontal table-responsive" novalidate name="frmAddProductCategory" role="form" ng-submit="AddDangKy_TamThoi()">
                <table class="table table-bordered table-hover">
                    <p><b>Danh sách các ngày nghỉ:</b></p>
                    <thead>
                        <tr style="background:#74b9ff; ">
                            <th width="5%" style="text-align:center">STT</th>
                            <th width="20%" style="text-align:center">Tên ngày nghỉ  </th>
                            <th width="20%" style="text-align:center">Ngày bắt đầu nghỉ</th>
                            <th width="20%" style="text-align:center">Ngày kết thúc nghỉ</th>
                            <th width="20%" style="text-align:center">Năm học</th>
                            <th width="15%" style="text-align:center">Xóa</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in NgayLeThayDoi">
                            <td>{{$index +1}}</td>
                            <td>{{item.TenNgayNghi}}</td>
                            <td>{{item.NgayBatDauNghi|date: 'dd/MM/yyyy'}}</td>
                            <td>{{item.NgayKetThucNghi|date: 'dd/MM/yyyy'}}</td>
                            <td>{{item.NamHoc}}</td>
                            <td> <a class="btn  btn-lg btn-danger text-white" ng-click="deleteNgayLe(item.ID)"><i class="fa fa-trash-o"></i></a></td>




                    </tbody>



                </table>


                <br />


                <div class="center-block  text-center">
                    <button type="submit" class="btn btn-primary " style="background:#74b9ff;" ng-click="mobang()">Thêm ngày nghỉ</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                </div>
            </form>
        </div>


    </div>
</div>

    </br>
<div class="container" ng-show="themngaynghi">
    <div class="col-md-4 offset-md-4 input-group ">
        <form class="">
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Năm học: </b></span>
                </div>

                <div class="input-group-append">
                    <input type="text" disabled name="name" class="form-control" ng-model="namhoc" value="ăda" />

                </div>

            </div>
        </form>
    </div>
    <br />

    <div class="col-md-4 offset-md-4 input-group ">
        <form class="" novalidate name="form" role="form">
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Tên ngày nghỉ: </b></span>
                </div>


                <div class="input-group-append">
                    <input type="text" required name="name" class="form-control" ng-model="TenNgayNghi" />

                </div>


            </div>
            <span ng-show="form.name.$error.required" class="has-error text-left"> Phải nhập tên ngày nghỉ</span>
        </form>
    </div>
    <br />
    <div class="col-md-4 offset-md-4 input-group ">
        <form class="" novalidate name="form1" role="form">
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Ngày bắt đầu nghỉ: </b></span>
                </div>


                <div class="input-group-append">
                    <input type="date" required name="date" value="" class="form-control" ng-model="NgayBatDauNghi" ng-model-options="{timezone:'UTC'}" />

                </div>


            </div>
            <span ng-show="form1.date.$error.required" class="has-error text-left"> Phải chọn ngày bắt đầu nghỉ</span>
        </form>

    </div>

    <br />
    <div class="col-md-4 offset-md-4 input-group ">
        <form class="" novalidate name="form2" role="form">
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Ngày kết thúc nghỉ: </b></span>
                </div>


                <div class="input-group-append">
                    <input type="date" name="date" required value="" class="form-control" ng-model="NgayKetThucNghi" ng-model-options="{timezone:'UTC'}" />

                </div>
            </div>
            <span ng-show="form2.date.$error.required" class="has-error text-left">  Phải chọn ngày kết thúc nghỉ</span>
        </form>
    </div>
    <br />
    <div class="col-md-4 offset-md-4 input-group ">
        <form class="">
            <div class="input-group ">
                <div class="input-group-append">
                    <a ng-click="addNgayLe()" ng-disabled="form2.$invalid||form1.$invalid||form.$invalid" class="form-control btn btn-primary text-white"> Thêm</a>
                </div>
            </div>
        </form>
    </div>
</div>
