﻿ <!-- Content Header (Page header) -->

<section class="content-header">

    <ol class="breadcrumb">

        <li><a ui-sref="trangchu_sv"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="ctf">Ctf</a></li>


    </ol>
</section>
<!-- Main content -->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" ng-click="mytimeout();radom();" ng-show="showstart">
                Bắt đầu
            </button>
            <button class="btn btn-warning" ng-click="stop();" ng-show="showstop">
                Dừng lại
            </button>
            <button class="btn btn-success" ng-click="resum();" ng-show="showresum">
                Tiếp tục
            </button>
            <button class="btn btn-success" ng-click="getService();">
                CheckScore
            </button>
            <button class="btn btn-success" ng-click=" deleteService();">
                Reset
            </button>
        </div>
        <div class="col-md-12 text-center">

            <ul>
                
                <li style="display: inline-block; font-size: 1.5em;list-style-type: none; padding: 1em;text-transform: uppercase;">
                    <span style="display: block;font-size: 4.5rem;" id="minutes">
                        {{counter | secondsToDateTime | date:'mm'}} :
                    </span>Phút
                </li>
                <li style="display: inline-block;font-size: 1.5em;list-style-type: none;padding: 1em; text-transform: uppercase;">
                    <span style="display: block;font-size: 4.5rem;" id="seconds">
                        {{counter | secondsToDateTime | date:'ss'}}
                    </span>
                    Giây
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <h1 class="text-center">ROUND {{Round}}</h1>
            <div class="input-group justify-content-center">
                <div class="input-group-text">
                    <h6 class="text-center">Scoreboard</h6>
                </div> &nbsp; &nbsp;
                <div class="input-group-append">
                    <button class="btn btn-primary" ng-click="info=!info">Show/Hide Info</button>
                </div>
            </div>


        </div>

        <div class="col-md-12 mt-4" ng-show="info" >
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>#</th>

                        <th>Team</th>
                        <th>Score</th>
                        <th>
                            <p>Service 1</p>
                            <p style="font-size:x-small"></p>
                        </th>
                        <th>
                            <p>Service 2</p>
                            <p style="font-size:x-small"></p>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>

                        <td> <img width="20" height="20" src="../../../Assets/sinhvien/image/iconhack.jpg" /> Team 1</td>
                        <td>
                            <p style="color:red;font-size:large">Điểm TC: {{totalScoreAT1}}</p>
                            <p style="color:blue;font-size:large">Điểm PT: {{totalScoreDF1}}</p>
                        </td>
                        <td>
                            <p style="color:red;font-size:large">Điểm TC:{{Service1ATScoreTeam1}} </p>
                            <p style="color:blue;font-size:large">Điểm PT: {{Service1DFScoreTeam1}}</pstyle="color:red">
                        </td>
                        <td>
                            <p style="color:red;font-size:large">Điểm TC:{{Service2ATScoreTeam1}} </pstyle="color:red">
                            <p style="color:blue;font-size:large">Điểm PT: {{Service2DFScoreTeam1}}</p>
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>2</td>

                        <td> <img width="20" height="20" src="../../../Assets/sinhvien/image/iconhack.jpg" /> Team 2</td>
                        <td>
                            <p style="color:red;font-size:large">Điểm TC: {{totalScoreAT2}}</p>
                            <p style="color:blue;font-size:large">Điểm PT: {{totalScoreDF2}}</p>
                        </td>
                        <td>
                            <p style="color:red;font-size:large">Điểm TC:{{Service1ATScoreTeam2}} </p>
                            <p style="color:blue;font-size:large">Điểm PT: {{Service1DFScoreTeam2}}</p>
                        </td>
                        <td>
                            <p style="color:red;font-size:large">Điểm TC:{{Service2ATScoreTeam2}} </p>
                            <p style="color:blue;font-size:large">Điểm PT: {{Service2DFScoreTeam2}}</p>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

