﻿@inherits System.Web.Mvc.WebViewPage


<!DOCTYPE html>
<html lang="en" ng-app="platformTH_GV" ng-controller="rootController" data-ver="29.7">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mekong-tech platform</title>

    <!-- Bootstrap -->
    @*<link href="~/Assets/sinhvien/css/bootstrap.min.css" rel="stylesheet">*@

    <link href="~/Assets/giaovien/css/bootstrap.gv.css?v=29.7" rel="stylesheet" />
    <link href="~/Assets/giaovien/css/style.css?v=29.7" rel="stylesheet" />

    <link href="~/Assets/giaovien/css/bootstrap.min.css?v=29.7" rel="stylesheet" />


    <script src="~/Assets/giaovien/jshome/jquery.min.js?v=29.7"></script>
    <script src="~/Assets/giaovien/jshome/popper.min.js?v=29.7"></script>
    <script src="~/Assets/giaovien/jshome/bootstrap.min.js?v=29.7"></script>
    <link href="~/Assets/giaovien/libs/toastr/toastr.css?v=29.7" rel="stylesheet" />
    <link href="~/Assets/giaovien/css/yearpicker.css?v=29.7" rel="stylesheet" />
    <link href="~/Assets/giaovien/libs/chart.js-2.9.3/package/dist/Chart.css" rel="stylesheet" />
    
    <link href="~/Assets/giaovien/jshome/font-awesome.css" rel="stylesheet" />


    <!-- =======================================================
      Theme Name: mekong-platform truong hoc
      Author:Nghiale
    ======================================================= -->
</head>

<body>
    <div ui-view></div>
    <script src="~/Assets/giaovien/libs/angular/angular.js?v=29.7"></script>
    <script src="~/Assets/giaovien/libs/angular-ui-router/release/angular-ui-router.js?v=29.7"></script>
    <script src="~/app_giaovien/shared/modules/platformTH.common.js?v=29.7"></script>
    <script src="~/app_giaovien/shared/services/apiService.js?v=29.7"></script>
    <script src="~/app_giaovien/shared/services/authData.js?v=29.7"></script>
    <script src="~/app_giaovien/shared/services/authenticationService.js?v=29.7"></script>
    <script src="~/app_giaovien/shared/services/loginService.js?v=29.7"></script>
    <script src="~/app_giaovien/shared/app.js?v=29.7"></script>
    <script src="~/Assets/sinhvien/libs/angular-local-storage/dist/angular-local-storage.js?v=29.7"></script>

    <script src="~/app_giaovien/shared/filters/statusFilter.js?v=29.7"></script>
    <script src="~/app_giaovien/shared/services/notificationService.js?v=29.7"></script>
    <script src="~/app_giaovien/shared/directives1/fileNameDirective.js?v=29.7"></script>
    <script src="~/app_giaovien/shared/directives1/asDateDirective.js?v=29.7"></script>
    <script src="~/app_giaovien/shared/directives1/ngOnlyNumberApp.js?v=29.7"></script>
    <script src="~/app_giaovien/shared/directives1/integersOnly.js?v=29.7"></script>


    <script src="~/Assets/sinhvien/libs/bootbox/bootbox.js?v=29.7"></script>
    <script src="~/Assets/sinhvien/libs/ngBootbox/ngBootbox.js?v=29.7"></script>
    <script src="~/Assets/giaovien/jshome/angular.js?v=29.7"></script>
    <script src="~/Assets/giaovien/jshome/angular-animate.js?v=29.7"></script>
    <script src="~/Assets/giaovien/jshome/angular-sanitize.js?v=29.7"></script>
    <script src="~/Assets/giaovien/jshome/ui-bootstrap-tpls-2.5.0.js?v=29.7"></script>
    <script src="~/Assets/giaovien/jshome/angular-datepicker.js?v=29.7"></script>


    <script src="~/Assets/giaovien/libs/toastr/toastr.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/dangnhap/dangNhapController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/trangchu/rootController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/trangchu/trangChuController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/trangchu/trangChu_svController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/chitietdondanop/chiTietDonDaNop.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/chitietdondanop/chiTietDonDaNopController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/dondanop/donDaNop.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/dondanop/donDaNopController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/viecphailam/ViecPhaiLam.modules.js"></script>
    <script src="~/app_giaovien/conponents/viecphailam/viecPhaiLamController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/chitietviecdalam/chiTietViecDaLam.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/chitietviecdalam/chiTietViecDaLamController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/thongkevangmat/thongkevangmat.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/thongkevangmat/thongKeVangMatController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/dangkycongviec/dangkyCongViec.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/dangkycongviec/dangKyCongViecController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/dangkytrucbomon/dangKyTrucBoMon.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/dangkytrucbomon/dangKyTrucBoMonController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/thongtincanhan/thongTinCaNhan.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/thongtincanhan/lyLichCaNhanController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/thongtincanhan/quaTrinhDaoTaoController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/thongtincanhan/thoiGianCongTacController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/thongtincanhan/trinhDoNgoaiNguController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/thongtincanhan/thongTinCaNhanController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/giangday/giangday.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/giangday/dangKyNghiDay_DayBuController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/giangday/danhSachLopController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/giangday/giangDayController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/giangday/huyDayBuController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/giangday/huyNghiDayController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/giangday/khoiLuongGiangDayController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/giangday/nhapDiemController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/giangday/thoiKhoaBieuController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/inbangdiem/inBangDiem.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/inbangdiem/inBangDiemController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/chitietnhacnho/chiTietNhacNho.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/chitietnhacnho/chiTietNhacNhoController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/thongbao/thongBao.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/thongbao/thongBaoController.js?v=29.7"></script>
    <script src="~/app_giaovien/shared/directives1/pagerDirective.js"></script>
    <script src="~/app_giaovien/conponents/viecdalam/viecDaLam.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/viecdalam/viecDaLamController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/tintuc/tinTuc.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/tintuc/tinTucController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemthoikhoabieu/xemThoiKhoaBieu.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemthoikhoabieu/xemThoiKhoaBieuController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemlichdaycanhan/xemLichDayCaNhan.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemlichdaycanhan/xemLichDayCaNhanController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/xemdangkymonhoc/xemDangKyMonHoc.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemdangkymonhoc/xemDangKyMonHocController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/thaydoikhunggiohoc/thayDoiKhungGioHoc.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/thaydoikhunggiohoc/thayDoiKhungGioHocController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/xemhocphi/xemHocPhi.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemhocphi/xemHocPhiController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xembangdiem/xemBangDiem.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xembangdiem/xemBangDiemController.js?v=29.7"></script>


    <script src="~/app_giaovien/conponents/giangday/lichThiController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/modangkymonhoc/moDangKyMonHoc.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/modangkymonhoc/moDangKyMonHocController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/datngaycuahocky/datNgayCuaHocKy.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/datngaycuahocky/datNgayCuaHocKyController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/datngaynghi/datNgayNghi.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/datngaynghi/datNgayNghiController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/xemlichgacthicanhan/xemLichGacThiCaNhan.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemlichgacthicanhan/XemLichGacThiCaNhanController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemlichdaycanhan/xemLichDayCaNhan.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemlichdaycanhan/xemLichDayCaNhanController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemlichday/xemLichDay.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemlichday/xemLichDayController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/xemlichthigacthi/xemLichGacThi.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemlichthigacthi/xemLichGacThiController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/xemthongtinsinhvientrungtuyen/xemThongTinSinhVienTrungTuyen.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemthongtinsinhvientrungtuyen/xemThongTinSinhVienTrungTuyenController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/nhapsinhvientrungtuyen/nhapSinhVienTrungTuyen.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/nhapsinhvientrungtuyen/nhapSinhVienTrungTuyenController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/nhapnoidungdatabase/nhapNoiDungDatabase.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/nhapnoidungdatabase/nhapNoiDungDatabaseController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/application_groups/applicationGroups.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/application_groups/applicationGroupAddController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/application_groups/applicationGroupEditController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/application_groups/applicationGroupListController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/application_roles/applicationRoles.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/application_roles/applicationRoleAddController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/application_roles/applicationRoleEditController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/application_roles/applicationRoleListController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/application_users/applicationUsers.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/application_users/applicationUserAddController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/application_users/applicationUserEditController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/application_users/applicationUserListController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/nhapdiemtructuyen/nhapDiem.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/nhapdiemtructuyen/nhapDiemController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/nhapdiemtructuyen/nhapDiemGiuaKiController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/nhapdiemtructuyen/nhapDiemCuoiKiController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/suadiem/suaDiem.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/suadiem/suaDiemController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/nhapdiem/nhapDiem.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/nhapdiem/nhapDiemController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/nhapdiem/nhapDiemCuoiKiController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/nhapdiem/nhapDiemGiuaKiController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/themthongtinvienchuc/themThongTinVienChuc.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/themthongtinvienchuc/themThongTinVienChucController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/xemdanhsachphonghoc/xemDanhSachPhongHoc.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemdanhsachphonghoc/xemDanhSachPhongHocController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents/xemthongtinsinhvien/xemThongTinSinhVien.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/xemthongtinsinhvien/xemThongTinSinhVienController.js?v=29.7"></script>

    <!--Sinh vien-->
    <script src="~/app_giaovien/conponents_sv/dangkymonhoc/dangKyMonHoc.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/dangkymonhoc/dangKyMonHocController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/dangkymonhoc/checklist-model.js"></script>

    <script src="~/app_giaovien/conponents_sv/viecphailam/ViecPhaiLam.modules.js"></script>
    <script src="~/app_giaovien/conponents_sv/viecphailam/viecPhaiLam_svController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/dondanop/donDaNop.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/dondanop/donDaNop_svController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/chitietnhacnho/ChiTietNhacNho.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/chitietnhacnho/chiTietNhacNho_svController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/thongbao/thongBao.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/thongbao/thongBao_svController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/tintuc/tinTuc.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/tintuc/tinTuc_svController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/viecdalam/viecDaLam.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/viecdalam/viecDaLam_svController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/chitietdondanop/chiTietDonDaNop.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/chitietdondanop/chiTietDonDaNop_svController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/thoikhoabieu/thoiKhoaBieu.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/thoikhoabieu/thoiKhoaBieu_svController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/lichthi/lichThi.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/lichthi/lichThi_svController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/bangdiem/bangDiem.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/bangdiem/bangDiemController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/hocphi/hocPhi.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/hocphi/hocPhiController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/chuongtrinhdaotao/chuongTrinhDaoTao.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/chuongtrinhdaotao/chuongTrinhDaoTaoController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/nopdon/nopDon.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/nopDonController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donDangKyDuThiTotNghiepController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donDangKyThiLaiTotNghiepController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donDeNghiHoTroChiPhiHocTapController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donDeNghiKiemTraLaiController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donDeNghiKiemTraLaiKetQuaThiTotNghiepController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donDeNghiMienGiamHocPhiController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donDeNghiXetTotNghiep_HeNienCheController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donDeNghiXetTotNghiep_HeTinChiController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donXinBaoLuuKetQuaHocTapController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donXinCapBangDiemHocKyController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donXinCapBangDiemTotNghiepController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donXinCapGiayXacNhanHoanThanhKhoaHocController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donXinCapLaiGiayXacNhanTotNghiepTamThoiController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donXinChuyenTuLamKhoaLuan_DoAnSangHocMonThayTheTotController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donXinHoan_ChamNopHocPhiController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donXinMienHoc_MienThi_TamHoanCacHocPhan_GDTC_GDQPController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donXinMienHoc_MienThi_TamHoanCacHocPhan_TiengAnhController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donXinVangThiController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/donXinXacNhanDaNopHocPhiController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/phieuCauHoiDanhChoSinhVienController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/phieuDangKyHocPhanController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/nopdon/phieuYeuCauCapGiayXacNhanLaSinhVienCuaTruongController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/thongtincanhan/thongTinCaNhan.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/thongtincanhan/thongTinCaNhan_svController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/doimatkhau/doiMatKhau.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents_sv/doimatkhau/doiMatKhauController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/tinhhocphi/tinhHocPhi.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/tinhhocphi/tinhHocPhiController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/taothoikhoabieu/taoThoiKhoaBieu.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/taothoikhoabieu/taoThoiKhoaBieuController.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/taolichthi/taoLichThi.module.js?v=29.7"></script>
    <script src="~/app_giaovien/conponents/taolichthi/taoLichThiController.js?v=29.7"></script>

    <script src="~/app_giaovien/conponents_sv/ctf/ctf.module.js"></script>
    <script src="~/app_giaovien/conponents_sv/ctf/ctfController.js"></script>
    <!--  Begin embed angularJS  -->
    <script src="~/Assets/sinhvien/js/moment.js"></script>
    <script src="~/Assets/sinhvien/js/activemenu.js"></script>
    <script src="~/Assets/giaovien/js/yearpicker.js"></script>
    <script src="~/Assets/giaovien/jshome/xlsx.core.min.js"></script>
    <script src="~/Assets/giaovien/jshome/xls.core.min.js"></script>
    <script src="~/Assets/sinhvien/libs/checklist-model/checklist-model.js"></script>
    <script src="~/Assets/giaovien/jshome/underscore-min.js"></script>
    <script data-require="underscore.js" data-semver="1.8.3" src="~/Assets/giaovien/jshome/underscore-min.js"></script>
    <script src="~/Assets/giaovien/libs/chart.js-2.9.3/package/dist/Chart.js"></script>
    <script src="~/Assets/giaovien/libs/angular-chart.js-master/dist/angular-chart.js"></script>
    <script src="~/Assets/giaovien/libs/ckfinder/ckfinder.js"></script>
</body>
</html>

