﻿<section class="content-header">

<ol class="breadcrumb">
    <li><a ui-sref="trangchu_sv"><i class="fa fa-home"></i> Trang chủ</a></li>
    
    <li><a ui-sref="chitietnhacnho_sv">Chi tiết nhắc nhở</a></li>

</ol>
</section>
<div class="container table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr style="background:#74b9ff">


                <th width="40%">Mô tả</th>
                <th width="15%">Người nộp</th>
                <th width="15%">Trạng thái</th>
                <th width="15%"> </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in chitietnhacnho">
                <td style="text-align:left"> {{item.NoiDungNhac}} </td>
                <td></td>

                <td>{{item.DaXuLy}}</td>
                <td> </td>

            </tr>
        </tbody>

    </table>
    </br>
</div>