﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="xemdangkymonhoc">Xem đăng ký môn học</a></li>


    </ol>
</section>

<div class="container-fluid">
    <!--<div class="col-md-3"></div>-->
    <div class="row">
        <div class="col-md-2 col-xl-4 col-lg-2 col-4  text-right ">

            <div class="form-input form-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chọn kiểu xem
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <a class="dropdown-item btn" ng-click="showDKMH()">Xem đăng ký môn học đã có hiệu lực</a>
                        <a class="dropdown-item btn" ng-click="showDKMHTH()">Xem bảng đăng ký môn học tạm thời </a>

                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-10 col-lg-10 col-xl-6 col-12 hidden-xs input-group justify-content-center">
            <form class="" ng-show="search1">
                <div class="input-group ">
                    <div class="input-group-append">
                        <span class="input-group-text"><b>Xem đăng ký môn học đã có hiệu lực, nhập mã số sinh viên: </b></span>
                    </div>

                    <input ng-model="mssv" ng-change="getDSHocKy()" type="text" class="form-control " placeholder="Nhập mã số sinh viên">
                    <div class="input-group-append">
                        <select class="selectpicker form-control" ng-model="HocKy"
                                ng-options="item  as  'Học kỳ'+' '+item.HocKy + ', ' +'năm học' +' '+item.NamHoc  for item in dsHocKy|unique:['HocKy']">
                            <option disabled value="">Chọn học kỳ</option>
                        </select>

                    </div>
                    <div class="input-group-append">
                        <a ng-click="getDangKy(HocKy.HocKy,HocKy.NamHoc);showbang1();getThongTinCaNhan();" class="form-control btn btn-primary text-white"> Xem</a>

                    </div>

                </div>

            </form>

            <form class="" ng-show="search2">
                <div class="input-group ">
                    <div class="input-group-append">
                        <span class="input-group-text"><b>Xem đăng ký môn học tạm thời, nhập mã số sinh viên: </b></span>
                    </div>

                    <input ng-model="mssv" type="text" class="form-control " placeholder="Nhập mã số sinh viên ">

                    <div class="input-group-append">
                        <a ng-click="getdangKy_TamThoi();getThongTinCaNhan();showbang3()" class="form-control btn btn-primary text-white"> Xem</a>

                    </div>

                </div>

            </form>
        </div>
        <!--Resposive col-xs-->
        <div class="hidden-md hidden-lg hidden-xl col-12  input-group">
            <form class="" ng-show="search1">
                <div class="input-group ">
                    <div class="input-group-append">
                        <span class="input-group-text"><b>Xem đăng ký môn học đã có hiệu lực, nhập mã số sinh viên: </b></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="hidden-md hidden-lg hidden-xl col-12  input-group">
            <form class="" ng-show="search1">
                <div class="input-group ">


                    <input ng-model="mssv" ng-change="getDSHocKy()" type="text" class="form-control " placeholder="Nhập mã số sinh viên">
                    <div class="input-group-append">
                        <select class="selectpicker form-control" ng-model="HocKy"
                                ng-options="item  as  'Học kỳ'+' '+item.HocKy + ', ' +'năm học' +' '+item.NamHoc  for item in dsHocKy|unique:['HocKy']">
                            <option disabled value="">Chọn học kỳ</option>
                        </select>

                    </div>
                    <div class="input-group-append">
                        <a ng-click="getDangKy(HocKy.HocKy,HocKy.NamHoc);showbang1();getThongTinCaNhan();" class="form-control btn btn-primary text-white"> Xem</a>

                    </div>

                </div>

            </form>


        </div>
        <div class="hidden-md hidden-lg hidden-xl col-12  input-group">
            <form class="" ng-show="search2">
                <div class="input-group ">
                    <div class="input-group-append">
                        <span class="input-group-text"><b>Xem đăng ký môn học tạm thời, nhập mã số sinh viên: </b></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="hidden-md hidden-lg hidden-xl col-12  input-group">
            <form class="" ng-show="search2">
                <div class="input-group ">
                    <input ng-model="mssv" type="text" class="form-control " placeholder="Nhập mã số sinh viên ">
                    <div class="input-group-append">
                        <a ng-click="getdangKy_TamThoi();getThongTinCaNhan();showbang3()" class="form-control btn btn-primary text-white"> Xem</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
   
</div>
<br />
<div class="container-fluid" ng-show="bang3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form class="form-horizontal table-responsive" novalidate name="frmAddProductCategory" role="form" ng-submit="AddDangKy_TamThoi()">
                <table class="table table-bordered table-hover">
                    
                    <thead>
                        <tr style="background:#74b9ff; ">
                            <th width="7%" style="text-align:center">STT</th>
                            <th width="7%" style="text-align:center">Mã môn học  </th>
                            <th width="17%" style="text-align:center">Tên môn học</th>
                            <th width="5%" style="text-align:center">NMH</th>
                            <th width="5%" style="text-align:center">TTH</th>
                            <th width="5%" style="text-align:center">Số TC</th>
                            <th width="7%" style="text-align:center">Số TCHP</th>
                            <th width="10%" style="text-align:center">Học phí</th>
                            <th width="7%" style="text-align:center">Miễn giảm</th>
                            <th width="7%" style="text-align:center">Phải đóng</th>
                            <th width="7%" style="text-align:center">Trạng thái</th>
                            <th width="7%" style="text-align:center">Thứ</th>
                            <th width="9%" style="text-align:center">Xóa</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dangKy_TamThoi">
                            <td>{{$index +1}}</td>
                            <td>{{item.MaMH}}</td>
                            <td>{{item.TenMH}}</td>
                            <td>{{item.MaNhom}}</td>
                            <td>{{item.SoGioThucHanh}}</td>
                            <td>{{item.SoTinChi}}</td>
                            <td>{{item.MaSoSV}}</td>
                            <td> {{item.TongSoTienHocPhiHocKy|number}} VNĐ</td>
                            <td> {{item.MienGiam}}</td>
                            <td>{{item.PhaiDong}}</td>
                            <td>{{item.Dong | statusFilter}}</td>
                            <td>{{item.Thu}}</td>
                            <td> <a class="btn  btn-lg btn-danger text-white" ng-click="deleteDangKy(item.ID)"><i class="fa fa-trash-o"></i></a></td>

                        </tr>
                        <tr ng-repeat="item in dangKyTamThoi" style="background:#ada899">
                            <td>{{$index +1}}</td>
                            <td>{{item.MaMH}}</td>
                            <td>{{item.TenMH}}</td>
                            <td>{{item.MaNhom}}</td>
                            <td>{{item.SoGioThucHanh}}</td>
                            <td>{{item.SoTinChi}}</td>
                            <td></td>
                            <td> {{item.TongSoTienHocPhiHocKy|number}} VNĐ</td>
                            <td> {{item.MienGiam}}</td>
                            <td>{{item.PhaiDong}}</td>
                            <td>{{item.Dong | statusFilter}}</td>
                            <td>{{item.Thu}}</td>
                            <td> <a class="btn  btn-sm btn-danger">Mới thêm vào</a></td>
                        </tr>

                        <tr>
                            <th>Tổng: {{ (dangKy_TamThoi|total)+(user.roles|total) }}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align:center">{{ (dangKy_TamThoi|total:'SoTinChi')+(user.roles|total:'SoTinChi')}}</th>
                            <th style="text-align:center"></th>
                            <th style="text-align:center;font-size:x-small" >{{((dangKy_TamThoi|total:'TongSoTienHocPhiHocKy')+ (user.roles|total:'TongSoTienHocPhiHocKy'))|number }} VNĐ</th>
                            <th style="text-align:center"></th>
                            <th style="text-align:center"></th>
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>
                    </tbody>



                </table>


                <br />


                <div class="center-block  text-center">
                    <button type="submit" class="btn btn-primary " style="background:#74b9ff;" ng-show="user.roles!=null">Xác nhận đăng ký môn học</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary " style="background:#74b9ff;" ng-click="toggle()" ng-show="btnsua">Sửa đăng ký môn học</button>
                    <button type="button" class="btn btn-danger " ng-click="huy()" ng-show="btnhuy">Hủy</button>

                </div>
            </form>
        </div>


    </div>
</div>
</br>
<div class="container-fluid" ng-show="bang1">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <form class="form-horizontal table-responsive" novalidate name="frmAddProductCategory" role="form">
                <table class="table table-bordered table-hover">

                    <thead>
                        <tr ng-repeat="item in thongTincaNhan">
                            <td colspan="13" align="center">Mã số: <span style="font-weight:bold"><b>{{item.MaSoSV}}</b></span>, họ và tên: <span style="font-weight:bold"><b>{{item.HoLot}} {{item.Ten}}</b></span>, ngày sinh: <span style="font-weight:bold"><b>{{item.NgaySinh}}</b></span>, lớp:<span style="font-weight:bold"><b>{{item.TenLop}}</b></span>, ngành: <span style="font-weight:bold"><b>{{item.TenNganh}}</b></span>, khoa: <span style="font-weight:bold"><b>{{item.TenPhongKhoa}}</b></span></td>

                        </tr>
                        <tr> <td colspan="13"> Học kỳ hiện tại là:<b> {{HocKy.HocKy}}</b>, năm học hiện tại là: <b> {{HocKy.NamHoc}}</b></td> </tr>
                        <tr style="background:#74b9ff; ">
                            <th width="5%" style="text-align:center">STT</th>
                            <th width="7%" style="text-align:center">Mã môn học  </th>
                            <th width="17%" style="text-align:center">Tên môn học</th>
                            <th width="5%" style="text-align:center">NMH</th>
                            <th width="7%" style="text-align:center">TTH</th>
                            <th width="7%" style="text-align:center">Số TC</th>
                            <th width="7%" style="text-align:center">Số TCHP</th>
                            <th width="10%" style="text-align:center">Học phí</th>
                            <th width="7%" style="text-align:center">Miễn giảm</th>
                            <th width="7%" style="text-align:center">Phải đóng</th>
                            <th width="7%" style="text-align:center">Trạng thái</th>
                            <th width="7%" style="text-align:center">Thứ</th>
                            <th width="5%" style="text-align:center">Ghi chú</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dangKy">
                            <td>{{$index +1}}</td>
                            <td>{{item.MaMH}}</td>
                            <td><a href="" ng-click="getMonHoc(item.MaMH,item.MaNhom,item.MaLop);showbang2()">{{item.TenMH}}</a></td>
                            <td>{{item.MaNhom}}</td>
                            <td>{{item.SoGioThucHanh}}</td>
                            <td>{{item.SoTinChi}}</td>
                            <td>{{item.MaSoSV}}</td>
                            <td> {{item.TongSoTienHocPhiHocKy|number}} VNĐ</td>
                            <td> {{item.MienGiam}}</td>
                            <td>{{item.PhaiDong}}</td>
                            <td>{{item.Dong | statusFilter}}</td>
                            <td>{{item.Thu}}</td>
                            <td> </td>

                        </tr>


                       
                    
                      


                        <tr ng-show="total1">
                            <th>Tổng:  {{ dangKy|total }}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align:center">{{ (dangKy|total:'SoTinChi')+(user.roles|total:'SoTinChi')}}</th>
                            <th style="text-align:center"></th>
                            <th style="text-align:center;font-size:x-small"> {{(dangKy|total:'TongSoTienHocPhiHocKy')+ (user.roles|total:'TongSoTienHocPhiHocKy') |number}} VNĐ</th>
                            <th style="text-align:center"></th>
                            <th style="text-align:center"></th>
                            <th></th>
                            <th></th>
                            <th></th>

                        </tr>
                       

                    </tbody>



                </table>


                <br />



            </form>
        </div>


    </div>
</div>



<div class="container-fluid print " ng-show="bang2">


    <br /><br /><br /><br />

    <div class="container table-responsive">
        <h2 class="text-center">THÔNG TIN CHI TIẾT MÔN HỌC</h2>
        <br />
        <table class="table table-striped table-bordered ">
            <tbody ng-repeat="item in monHoc|limitTo:$index=1">
                <tr>
                    <th>Mã môn học</th>
                    <td>{{item.MaMH}}</td>

                </tr>
                <tr>
                    <th width="020%">Tên môn học</th>
                    <td width="80%">{{item.TenMH}}</td>

                </tr>


                <tr>
                    <th>Số TC</th>
                    <td>{{item.SoTinChi}}</td>
                </tr>
                <tr>
                    <th>Số TCHP</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Mã lớp</th>
                    <td>{{item.MaLop}}</td>
                </tr>

                <tr>
                    <th>TH</th>
                    <td>{{item.SoGioThucHanh}}</td>
                </tr>
                <tr>
                    <th>Số tiết</th>
                    <td>{{item.SoTiet}}</td>
                </tr>
                <tr>
                    <th>Phòng</th>
                    <td>{{item.TenPH}}</td>
                </tr>
                <tr>
                    <th>Thời gian học</th>
                    <td>{{item.NgayBatDau| date:'MM/dd/yyyy'}} -> {{item.NgayKetThuc| date:'MM/dd/yyyy'}}</td>
                </tr>
                <tr>
                    <th>Giảng viên</th>
                    <td>{{item.HoTen}}</td>
                </tr>


            </tbody>
        </table>


    </div>
    <div ng-click="showsinhvien()" ng-show="btnxemsinhvien">
        <br />
        <button class="btn btn-primary mx-auto d-block">Xem danh sách sinh viên </button>


    </div>




    <br /><br /><br /><br />
    <div class="container table-responsive" ng-show="bangsinhvien">
        <h2 class="text-center">DANH SÁCH SINH VIÊN</h2>
        <br />
        <table class="table table-bordered table-hover">

            <thead>
                <tr style="background:#74b9ff;">
                    <th width="5%" style="text-align:center">STT</th>
                    <th width="20%" style="text-align:center">MSSV</th>
                    <th width="75%" class="text-left" style="text-align:center">Họ và tên</th>


                </tr>
            </thead>

            <tbody>

                <tr ng-repeat="item in monHoc">
                    <td>{{$index+1}}</td>
                    <td>{{item.MaSoSV}}</td>
                    <td class="text-left">{{item.HoLot}} {{item.Ten}}</td>



                </tr>



            </tbody>

        </table>
    </div>
</div>



<br />
<br />
<br />
<br />


<script>
    $('#basic').on("click", function () {
        $('.print').printThis({
            //  base: "app/conponents/hocphi/hocPhiView.html",
            //   importCSS: false,
            //   header: "<h1 class='text-center'>Thời khóa biểu</h1></br>",
            //     loadCSS: "../../../Assets/sinhvien/css/style.css",
            //      loadCSS: "../../../Assets/sinhvien/css/bootstrap.min.css",
            debug: false,               // show the iframe for debugging
            importCSS: true,            // import parent page css
            importStyle: false,         // import style tags
            printContainer: true,       // print outer container/$.selector
            loadCSS: null,

            pageTitle: "",              // add title to print page
            removeInline: false,        // remove inline styles from print elements
            removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
            printDelay: 333,            // variable print delay
            header: null,               // prefix to html
            footer: null,               // postfix to html
            base: null,            // preserve the BASE tag or accept a string for the URL
            formValues: true,           // preserve input/form values
            canvas: false,              // copy canvas content
            doctypeString: '<!DOCTYPE html>',       // enter a different doctype for older markup
            removeScripts: false,       // remove script tags from print content
            copyTagClasses: false,      // copy classes from the html & body tag
            beforePrintEvent: null,     // function for printEvent in iframe
            beforePrint: null,          // function called before iframe is filled
            afterPrint: null            // function called before iframe is removed
        });

    });



            //$('#advanced').on("click", function () {
            //  $('#kitty-one, #kitty-two, #kitty-three').printThis({
            //    importCSS: false,
            //    header: "<h1>Look at all of my kitties!</h1>",
            //    base: "https://jasonday.github.io/printThis/"
            //  });
            //});
</script>
<script src="../../../Assets/sinhvien/js/printThis.js"></script>
