﻿<!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="xemlichgacthicanhan">Xem lịch gác thi cá nhân</a></li>

    </ol>
</section>
<!-- Main content -->

<div class="container-fluid" style="margin-bottom:30px">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-striped table-bordered " style="width:40%!important;margin:auto">
                <tbody ng-repeat="item in TTCN">
                    <tr>
                        <td align="left">Họ tên</td>
                        <th style="text-align:left">{{item.HoTen}}</th>

                    </tr>
                    <tr>
                        <td align="left">Mã số viên chức</td>
                        <th style="text-align:left">{{item.MaSoVC}}</th>
                    </tr>
                    <tr>
                        <td align="left">Khoa</td>
                        <th style="text-align:left">{{item.TenPhongKhoa}}</th>
                    </tr>
                    <tr>
                        <td align="left">Email</td>
                        <th style="text-align:left">{{item.Email}}</th>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="container-fluid " >



    <div class="row" style="margin-top:10px">
        <div class="col-md-4" style="margin:auto;margin-bottom:30px" >
            <div class="td font-weight-bold">
                <p>
                    <h1 class="text-center">
                        <span ng-repeat="item in LichGacThi| limitTo : 1 ">
                            Lịch gác thi học kỳ {{item.HocKy}}, năm học {{item.NamHoc}}
                        </span>
                    </h1>
                </p>
            </div>
        </div>

    </div>

    <div class="row" style="margin-top:10px" >
        <div class="col-md-12 table-responsive">
            <!--<div><p><b>Ngày bắt đầu học kỳ {{LichGacThi[0].HocKy}} </b></p></div>-->
            <table class="table table-hover table_lichthi" >
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên môn thi</th>
                        <th scope="col">Mã môn thi</th>
                        <th scope="col">Giờ gác thi</th>
                        <th scope="col">Ngày gác thi</th>
                        <th scope="col">Phòng thi</th>
                        <th scope="col">Lớp </th>
                        <th scope="col">Chyên ngành</th>
                        <th scope="col">Nơi lấy đề thi</th>



                    </tr>
                </thead>
                <tbody ng-repeat="item in LichGacThi">
                    <tr>
                        <th>{{$index+1}}</th>
                        <td>{{item.TenMH}}</td>
                        <td>{{item.MaMH}}</td>
                        <td>{{item.GioThi}}</td>
                        <td>{{item.NgayThi| date : 'dd/MM/yyyy'}}</td>
                        <td>{{item.TenPH}}</td>
                        <td>{{item.TenLop}}</td>
                        <td>{{item.TenNganh}}</td>
                        <td>{{item.NoiLayDeThi}}</td>
                    </tr>

                </tbody>
            </table>


        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row" style="margin-top:10px">

        <div class="col-md-12">
            <div class="btn-group">
                <button type="button" class="btn btn-info">xem ban in</button>
            </div>
        </div>
    </div>

</div>

