﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>

        <li><a ui-sref="datngaycuahocky">Đặt ngày của học kỳ</a></li>

    </ol>
</section>
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <form class="form-horizontal table-responsive" novalidate name="frmAddProductCategory" role="form" ng-submit="AddDangKy_TamThoi()">
                <table class="table table-bordered table-hover">
                    <p><b>Danh sách các ngày của các học kỳ:</b></p>
                    <thead>
                        <tr style="background:#74b9ff; ">
                            <th width="5%" style="text-align:center">STT</th>
                            <th width="20%" style="text-align:center">Học kỳ  </th>
                            <th width="20%" style="text-align:center">Năm học</th>
                            <th width="20%" style="text-align:center">Ngày bắt đầu</th>
                            <th width="20%" style="text-align:center">Ngày kết thúc</th>

                            <th width="15%" style="text-align:center">Xóa</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in hocKy">
                            <td>{{$index +1}}</td>
                            <td>{{item.HocKy}}</td>
                            <td>{{item.NamHoc}}</td>
                            <td>{{item.NgayBatDauHocKy|date: 'dd/MM/yyyy'}}</td>
                            <td>{{item.NgayKetThucHocKy|date: 'dd/MM/yyyy'}}</td>

                            <td> <a class="btn  btn-lg btn-danger text-white" ng-click="deleteHocKy(item.ID)"><i class="fa fa-trash-o"></i></a></td>




</tbody>



                </table>


                <br />


                <div class="center-block  text-center">
                    <button type="submit" class="btn btn-primary " style="background:#74b9ff;" ng-click="mobang()">Thêm học kỳ</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                </div>
            </form>
        </div>


    </div>
</div>
<br />
<br />
<div class="container" ng-show="themhocky">
    <div class="col-md-4 offset-md-4 input-group ">
        <form class="" novalidate name="form0" role="form">
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Học kỳ: </b></span>
                </div>

                <div class="input-group-append">
                    <select class="selectpicker form-control" name="date" required ng-model="HocKy">
                        <option disabled value="">Chọn học kỳ</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>

            </div>
            <span ng-show="form0.date.$error.required" class="has-error text-left"> Phải chọn học kỳ</span>

        </form>
    </div>
    <br />
    <!--<div class="col-md-4 offset-md-4 input-group ">
        <form class="">
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Năm học: </b></span>
                </div> &nbsp;&nbsp;
                <div class="input-group-append">
                    <span class="input-group-text"><b>Năm đầu: </b></span>
                </div>
                <input type="text" class="form-control " ng-model="namdau" ng-change="ghepchuoibatdau()" placeholder="Nhập năm đầu">
                &nbsp;&nbsp;
                <div class="input-group-append">
                    <span class="input-group-text"><b>Năm cuối: </b></span>
                </div>
                <input type="text" class="form-control " ng-model="namcuoi" ng-change="ghepchuoibatdau()" placeholder="Nhập năm cuối">
            </div>
        </form>
    </div>-->

    <div class="col-md-4 offset-md-4 input-group ">
        <form class="" novalidate name="form" role="form">
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Ngày bắt đầu: </b></span>
                </div>


                <div class="input-group-append">
                    <input type="date" name="date" value="" required class="form-control" ng-model="NgayBatDauHocKy" ng-model-options="{timezone:'UTC'}" />

                </div>


            </div>
            <span ng-show="form.date.$error.required" class="has-error text-left"> Phải chọn ngày bắt đầu</span>
        </form>
    </div>
    <br />
    <div class="col-md-4 offset-md-4 input-group ">
        <form class="" novalidate name="form1" role="form">
            <div class="input-group ">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Ngày kết thúc: </b></span>
                </div>


                <div class="input-group-append">
                    <input type="date" name="date" value="" required class="form-control" ng-model="NgayKetThucHocKy" ng-model-options="{timezone:'UTC'}" />

                </div>


            </div>
            <span ng-show="form1.date.$error.required" class="has-error text-left"> Phải chọn ngày kết thúc</span>
        </form>
    </div>
    <br />
    <div class="col-md-4 offset-md-4 input-group ">
        <form class="">
            <div class="input-group ">
                <div class="input-group-append">
                    <a ng-click="addHocKyHienTai()" ng-disabled="form0.$invalid||form1.$invalid||form.$invalid" class="form-control btn btn-primary text-white"> Thêm</a>
                </div>
            </div>
        </form>
    </div>
</div>
