﻿<!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="suadiem">Sửa điểm</a></li>

    </ol>
</section>
<!-- Main content -->

<div class="row print">

    <div class="col-md-4 col-4  text-right ">

        <div class="form-input form-group">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Chọn kiểu xem
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item btn" ng-click="showkhung1()">Sửa điểm giữa kỳ</a>
                    <a class="dropdown-item btn" ng-click="showkhung2()">Sửa điểm cuối kỳ</a>


                </div>
            </div>

        </div>

    </div>
    <div class="input-group  col-md-6 col-12 hidden-xs">
        <form class="" ng-show="khung1">
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Sửa điểm giữa kỳ: </b></span>
                </div>
                <input ng-model="mssv" type="text" class="form-control " placeholder="Nhập mã số sinh viên">&nbsp;
                <input ng-model="manhom" type="text" class="form-control " placeholder="Nhập mã nhóm môn học">&nbsp;
                <div class="input-group-append">
                    <a ng-click="getSuaDiemGiuaKi(mssv,manhom)" class=" form-control btn btn-primary text-white"> Tìm</a>
                </div>
            </div>

        </form>
        <form class="" ng-show="khung2">
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Sửa điểm cuối kỳ: </b></span>
                </div>
                <input ng-model="mssv" type="text" class="form-control " placeholder="Nhập mã số sinh viên">&nbsp;
                <input ng-model="manhom" type="text" class="form-control " placeholder="Nhập mã nhóm môn học">&nbsp;
                <div class="input-group-append">
                    <a ng-click="getSuaDiemCuoiKi(mssv,manhom)" class=" form-control btn btn-primary text-white"> Tìm</a>
                </div>
            </div>

        </form>

    </div>
    <div class="input-group  hidden-sm hidden-md hidden-lg col-12 justify-content-center">
        <form class="" ng-show="khung1">
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Sửa điểm giữa kỳ: </b></span>
                </div>
            </div>
            <div class="input-group">
                <input ng-model="mssv" type="text" class="form-control " placeholder="Nhập mã số sinh viên">&nbsp;


                <input ng-model="manhom" type="text" class="form-control " placeholder="Nhập mã nhóm môn học">&nbsp;
            </div>
            <div class="input-group">
                <div class="input-group-append">
                    <a ng-click="getSuaDiemGiuaKi(mssv,manhom)" class=" form-control btn btn-primary text-white"> Tìm</a>
                </div>
            </div>

        </form>
        <form class="" ng-show="khung2">
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><b>Sửa điểm cuối kỳ: </b></span>
                </div>
            </div>
            <div class="input-group">
                <input ng-model="mssv" type="text" class="form-control " placeholder="Nhập mã số sinh viên">&nbsp;
                <input ng-model="manhom" type="text" class="form-control " placeholder="Nhập mã nhóm môn học">&nbsp;
            </div>
            <div class="input-group">
                <div class="input-group-append">
                    <a ng-click="getSuaDiemCuoiKi(mssv,manhom)" class=" form-control btn btn-primary text-white"> Tìm</a>
                </div>
            </div>

        </form>

    </div>

</div>
<div class="container table-responsive" ng-show="bang1">
    <div ng-if="hienthongbao==true" class="text-center">
        <span>Không tìm thấy thông tin sinh viên</span>
    </div>
    <div ng-if="hienthongbao==false">
        <form name="form1" class="table-responsive">

            <table class="table table-bordered table-hover">

                <thead>
                    <tr style="background:#74b9ff;">
                        <th style="text-align:center">MSSV</th>
                        <th class="text-left" style="text-align:center">Họ và tên</th>
                        <th style="text-align:center">Tên môn</th>
                        <th style="text-align:center">Mã môn học</th>
                        <th style="text-align:center">Giáo viên</th>
                        <th width="15%" style="text-align:center">Thời gian học</th>
                        <th style="text-align:center">Phòng học</th>

                        <th width="10%" style="text-align:center">Điểm KT cũ</th>
                        <th width="10%" style="text-align:center">Điểm KT mới</th>



                    </tr>
                </thead>

                <tbody>

                    <tr ng-repeat="item in SuaDiemGiuaKi">

                        <td>{{item.MaSoSV}}</td>
                        <td class="text-left">{{item.HoLot}} {{item.Ten}}</td>
                        <td>
                            {{item.TenMH}}
                        </td>
                        <td>
                            {{item.MaMH}}
                        </td>
                        <td>
                            {{item.HoTen}}
                        </td>
                        <td>
                            {{item.NgayBatDau| date:'MM/dd/yyyy'}} -> {{item.NgayKetThuc| date:'MM/dd/yyyy'}}
                        </td>
                        <td>
                            {{item.TenPH}}
                        </td>
                        <td>
                            <span ng-if="TTMonHoc.TyLeKiemTra==0||TTMonHoc.TyLeKiemTra==null">-</span>
                            <span ng-if="TTMonHoc.TyLeKiemTra>0">{{item.DiemKiemTra}}</span>
                        </td>
                        <td>
                            <span ng-if="TTMonHoc.TyLeKiemTra==0||TTMonHoc.TyLeKiemTra==null">-</span>
                            <span ng-if="TTMonHoc.TyLeKiemTra>0">
                                <input name="item{{$index}}" class="form-control" type="text" ng-model="item.DiemKiemTraMoi" sb-precision='2' sb-min='0' sb-max='10' sb-max-precision='2' sb-number required />
                                <span ng-show="form1.item{{$index}}.$touched">
                                    <span ng-show="form1.item{{$index}}.$error['min-value']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải cao hơn hoặc bằng 0</span>
                                    <span ng-show="form1.item{{$index}}.$error['max-value']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải thấp hơn hoặc bằng 10</span>
                                    <span ng-show="form1.item{{$index}}.$error['number']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải là số</span>
                                    <span ng-show="form1.item{{$index}}.$error['max-precision']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm tối đa 2 số sau dấu thập phân</span>
                                    <span ng-show="form1.item{{$index}}.$error.required" style="background:red; color:white;font-size:xx-small">Điểm không được bỏ trống</span>

                                </span>
                            </span>
                        </td>



                    </tr>



                </tbody>

            </table>
        </form>
        <br />
        <div class="input-group justify-content-center">


            <div class="input-group-append">
                <button type="submit" class="btn btn-primary " ng-disabled="form1.$error['min-value']||form1.$error['max-value']||form1.$error['number']||form1.$error['max-precision']||form1.$error.required" ng-click="updateDiemGiuaKi();">Lưu</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger " ng-click="huy()">Hủy</button>

            </div>

        </div>
    </div>

</div>
<div class="container-fluid table-responsive " ng-show="bang2">
    <div ng-if="hienthongbao==true" class="text-center">
        <span>Không tìm thấy thông tin sinh viên</span>
    </div>
    <div ng-if="hienthongbao==false" class="table-responsive">
        <form name="form3" class="table-responsive">

            <table class="table table-bordered table-hover " width="100%">

                <thead>
                    <tr style="background:#74b9ff;">
                        <th style="text-align:center">MSSV</th>
                        <th width="7%" class="text-left" style="text-align:center">Họ và tên</th>
                        <th style="text-align:center">Tên môn</th>
                        <th style="text-align:center">Mã môn học</th>
                        <th style="text-align:center">Giáo viên</th>
                        <th width="11%" style="text-align:center">Thời gian học</th>
                        <th style="text-align:center">Phòng học</th>

                        <th style="text-align:center">Điểm CC cũ</th>
                        <th style="text-align:center">Điểm CC mới</th>
                        <th style="text-align:center">Điểm KT cũ</th>
                        <th style="text-align:center">Điểm TH cũ</th>
                        <th style="text-align:center">Điểm TH mới</th>
                        <th style="text-align:center">Điểm Se cũ</th>
                        <th style="text-align:center">Điểm Se mới</th>
                        <th style="text-align:center">Điểm Thi</th>
                        <th style="text-align:center">Điểm Thi mới</th>
                        <th width="5%" style="text-align:center">Điểm TK</th>
                        <th width="3%" style="text-align:center">KQ</th>



                    </tr>
                </thead>

                <tbody>

                    <tr ng-repeat="item in SuaDiemGiuaKi">

                        <td>{{item.MaSoSV}}</td>
                        <td class="text-left">{{item.HoLot}} {{item.Ten}}</td>
                        <td>
                            {{item.TenMH}}
                        </td>
                        <td>
                            {{item.MaMH}}
                        </td>
                        <td>
                            {{item.HoTen}}
                        </td>
                        <td>
                            {{item.NgayBatDau| date:'MM/dd/yyyy'}} -> {{item.NgayKetThuc| date:'MM/dd/yyyy'}}
                        </td>
                        <td>
                            {{item.TenPH}}
                        </td>
                        <td>
                            <span ng-if="TTMonHoc.TyLeChuyenCan==0||TTMonHoc.TyLeChuyenCan==null">-</span>
                            <span ng-if="TTMonHoc.TyLeChuyenCan>0">{{item.DiemChuyenCan}}</span>
                        </td>
                        <td>
                            <span ng-if="TTMonHoc.TyLeChuyenCan==0||TTMonHoc.TyLeChuyenCan==null">-</span>
                            <span ng-if="TTMonHoc.TyLeChuyenCan>0">
                                <input name="diemchuyencan{{$index}}" class="form-control" type="text" ng-model="item.DiemChuyenCanMoi" sb-precision='2' sb-min='0' sb-max='10' sb-max-precision='2' sb-number required />
                                <span ng-show="form3.diemchuyencan{{$index}}.$touched">

                                    <span ng-show="form3.diemchuyencan{{$index}}.$error['min-value']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải cao hơn hoặc bằng 0</span>
                                    <span ng-show="form3.diemchuyencan{{$index}}.$error['max-value']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải thấp hơn hoặc bằng 10</span>
                                    <span ng-show="form3.diemchuyencan{{$index}}.$error['number']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải là số</span>
                                    <span ng-show="form3.diemchuyencan{{$index}}.$error['max-precision']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm tối đa 2 số sau dấu thập phân</span>
                                    <span ng-show="form3.diemchuyencan{{$index}}.$error.required" style="background:red; color:white;font-size:xx-small">Điểm không được bỏ trống</span>

                                </span>
                            </span>
                        </td>
                        <td>
                            <span ng-if="TTMonHoc.TyLeKiemTra==0||TTMonHoc.TyLeKiemTra==null">-</span>
                            <span ng-if="TTMonHoc.TyLeKiemTra>0">{{item.DiemKiemTra}}</span>
                        </td>
                        <td>
                            <span ng-if="TTMonHoc.TyLeThucHanh==0||TTMonHoc.TyLeThucHanh==null">-</span>
                            <span ng-if="TTMonHoc.TyLeThucHanh>0">{{item.DiemThucHanh}}</span>
                        </td>
                        <td>
                            <span ng-if="TTMonHoc.TyLeThucHanh==0||TTMonHoc.TyLeThucHanh==null">-</span>
                            <span ng-if="TTMonHoc.TyLeThucHanh>0">
                                <input name="diemthuchanh{{$index}}" class="form-control" type="text" ng-model="item.DiemThucHanhMoi" sb-precision='2' sb-min='0' sb-max='10' sb-max-precision='2' sb-number required />
                                <span ng-show="form3.diemthuchanh{{$index}}.$touched">

                                    <span ng-show="form3.diemthuchanh{{$index}}.$error['min-value']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải cao hơn hoặc bằng 0</span>
                                    <span ng-show="form3.diemthuchanh{{$index}}.$error['max-value']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải thấp hơn hoặc bằng 10</span>
                                    <span ng-show="form3.diemthuchanh{{$index}}.$error['number']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải là số</span>
                                    <span ng-show="form3.diemthuchanh{{$index}}.$error['max-precision']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm tối đa 2 số sau dấu thập phân</span>
                                    <span ng-show="form3.diemthuchanh{{$index}}.$error.required" style="background:red; color:white;font-size:xx-small">Điểm không được bỏ trống</span>

                                </span>
                            </span>
                        </td>
                        <td>
                            <span ng-if="TTMonHoc.TyLeSeminar==0||TTMonHoc.TyLeSeminar==null">-</span>
                            <span ng-if="TTMonHoc.TyLeSeminar>0">{{item.DiemSeminar}}</span>
                        </td>
                        <td>
                            <span ng-if="TTMonHoc.TyLeSeminar==0||TTMonHoc.TyLeSeminar==null">-</span>
                            <span ng-if="TTMonHoc.TyLeSeminar>0">
                                <input name="diemseminar{{$index}}" class="form-control" type="text" ng-model="item.DiemSeminarMoi" sb-precision='2' sb-min='0' sb-max='10' sb-max-precision='2' sb-number required />
                                <span ng-show="form3.diemseminar{{$index}}.$touched">
                                    <span ng-show="form3.diemseminar{{$index}}.$error['min-value']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải cao hơn hoặc bằng 0</span>
                                    <span ng-show="form3.diemseminar{{$index}}.$error['max-value']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải thấp hơn hoặc bằng 10</span>
                                    <span ng-show="form3.diemseminar{{$index}}.$error['number']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải là số</span>
                                    <span ng-show="form3.diemseminar{{$index}}.$error['max-precision']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm tối đa 2 số sau dấu thập phân</span>
                                    <span ng-show="form3.diemseminar{{$index}}.$error.required" style="background:red; color:white;font-size:xx-small">Điểm không được bỏ trống</span>

                                </span>
                            </span>
                        </td>
                        <td>
                            <span ng-if="TTMonHoc.TyLeThi==0||TTMonHoc.TyLeThi==null">-</span>
                            <span ng-if="TTMonHoc.TyLeThi>0">{{item.DiemThi}}</span>
                        </td>
                        <td>
                            <span ng-if="TTMonHoc.TyLeThi==0||TTMonHoc.TyLeThi==null">-</span>
                            <span ng-if="TTMonHoc.TyLeThi>0">
                                <input name="diemthi{{$index}}" class="form-control" type="text" ng-model="item.DiemThiMoi" sb-precision='2' sb-min='0' sb-max='10' sb-max-precision='2' sb-number required />
                                <span ng-show="form3.diemthi{{$index}}.$touched">
                                    <span ng-show="form3.diemthi{{$index}}.$error['min-value']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải cao hơn hoặc bằng 0</span>
                                    <span ng-show="form3.diemthi{{$index}}.$error['max-value']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải thấp hơn hoặc bằng 10</span>
                                    <span ng-show="form3.diemthi{{$index}}.$error['number']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm phải là số</span>
                                    <span ng-show="form3.diemthi{{$index}}.$error['max-precision']" style="background:red; color:white;font-size:xx-small" class='error'>Lỗi: Điểm tối đa 2 số sau dấu thập phân</span>
                                    <span ng-show="form3.diemthi{{$index}}.$error.required" style="background:red; color:white;font-size:xx-small">Điểm không được bỏ trống</span>

                                </span>
                            </span>
                        </td>
                        <td>
                            <span ng-show="(!form3.diemchuyencan{{$index}}.$error.required)&&(!form3.diemthuchanh{{$index}}.$error.required)&&(!form3.diemseminar{{$index}}.$error.required)&&(!form3.diemthi{{$index}}.$error.required)">
                                {{(((item.DiemChuyenCanMoi * TTMonHoc.TyLeChuyenCan) + (item.DiemKiemTra * TTMonHoc.TyLeKiemTra) + (item.DiemThucHanhMoi * TTMonHoc.TyLeThucHanh) + (item.DiemSeminarMoi * TTMonHoc.TyLeSeminar) + (item.DiemThiMoi * TTMonHoc.TyLeThi))/100)|number:2}}
                            </span>
                        </td>
                        <td>
                            <span ng-show="(!form3.diemchuyencan{{$index}}.$error.required)&&(!form3.diemthuchanh{{$index}}.$error.required)&&(!form3.diemseminar{{$index}}.$error.required)&&(!form3.diemthi{{$index}}.$error.required)">
                                <span ng-if="(((item.DiemChuyenCanMoi * TTMonHoc.TyLeChuyenCan) + (item.DiemKiemTra * TTMonHoc.TyLeKiemTra) + (item.DiemThucHanhMoi * TTMonHoc.TyLeThucHanh) + (item.DiemSeminarMoi * TTMonHoc.TyLeSeminar) + (item.DiemThiMoi * TTMonHoc.TyLeThi))/100)>=TTMonHoc.DiemDau">Đậu</span><span ng-if="(((item.DiemChuyenCanMoi * TTMonHoc.TyLeChuyenCan) + (item.DiemKiemTra * TTMonHoc.TyLeKiemTra) + (item.DiemThucHanhMoi * TTMonHoc.TyLeThucHanh) + (item.DiemSeminarMoi * TTMonHoc.TyLeSeminar) + (item.DiemThiMoi * TTMonHoc.TyLeThi))/100)<TTMonHoc.DiemDau">Rớt</span>
                            </span>
                        </td>

                    </tr>



                </tbody>

            </table>
        </form>
        <br />
        <div class="input-group justify-content-center">


            <div class="input-group-append">
                <button type="submit" class="btn btn-primary " ng-disabled="form3.$error['min-value']||form3.$error['max-value']||form3.$error['number']||form3.$error['max-precision']||form3.$error.required" ng-click="updateDiemCuoiKi();">Lưu</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger " ng-click="huy()">Hủy</button>

            </div>

        </div>
    </div>

</div>

