* {
    margin: 0px;
    padding: 0px
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}
/*--------------header------*/
#header {
    margin-top: 3px;
    background: #74b9ff;
    padding: 10px;
    width: 100%;
    height: 100px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px
}

/*#header {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px
}*/

.platform {
    position: relative;
    min-height: 100%;
}

/*.submenu {
    width: 12%;
    position: absolute;
    height: 100%;
    left: 88%;
}

    .submenu label {
        padding: 10% 5%;
    }*/
@media only screen and (max-width: 1024px) {
    /* For laptop L: */
    [class*="col-"] {
        width: 100%;
    }

    .submenu .row .col-md-3 span:first-child {
        margin-left: 65%
    }

    .img-responsive {
        max-width: 50%;
    }

    #header {
        height: 100px;
    }
}

@media only screen and (max-width: 768px) {
    /* For table : */
    [class*="col-"] {
        width: 100%;
    }

    .submenu .row .col-md-3 span:first-child {
        margin-left: 60%
    }

    .img-responsive {
        max-width: 50%;
    }

    #header {
        height: 100px;
    }
}

@media only screen and (max-width: 375px) {
    /* For table : */
    [class*="col-"] {
        width: 100%;
    }

    .submenu .row .col-md-3 span:first-child {
        margin-left: 35%
    }

    .img-responsive {
        max-width: 100%;
    }

    #header {
        height: 100px;
    }

    .submenu .row .col-md-3 span {
        font-size: 12px
    }

    .navbar-header .navbar-toggle {
        position: absolute;
        top: -40px;
        margin: 2px 0px
    }

    .navbar {
        min-height: 0px;
        margin-bottom: 0px;
    }

    #viecphailam > div:first-child {
        margin-left: 15%
    }
}

@media only screen and (max-width: 414px) {
    /* For table : */
    [class*="col-"] {
        width: 100%;
    }

    .submenu .row .col-md-3 span:first-child {
        margin-left: 37%
    }

    .img-responsive {
        max-width: 100%;
    }

    #header {
        height: 100px;
    }

    .submenu .row .col-md-3 span {
        font-size: 12px
    }

    .navbar-header .navbar-toggle {
        position: absolute;
        top: -40px;
        margin: 2px 0px;
        margin-bottom: 0px
    }

    .navbar {
        position: absolute;
        min-height: 0px;
        margin-bottom: 0px;
        z-index: 20
    }

    #viecphailam > div:first-child {
        margin-left: 15%
    }
}
.submenu {
    width: 100%;
    position: relative;
    background: #74b9ff;
    height: 40px;
}

/*-----------------------------------------*/


body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
    color: #333;
    background-color: #ffff;
}

/*===========================
  Menu and Navigation
============================ */

.menu {
    font-size: 12px;
    float: center;
    text-transform: uppercase;
    font-weight: 300;
}

.content {
    height: auto !important;
    padding-bottom: 30px;
    font-size: 12px
}

.container-fluid {
    font-size: 12px
}

.menu ul.nav-tabs li {
    color: #000;
}


.footer {
    background: #74b9ff;
    margin-bottom: 5px;
    bottom: 0;
    width: 100%;
    height: 40px; /* Height of the footer */
    letter-spacing: 3px;
    text-align: center;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px
}

.footer {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px
}


.Designer {
    font-size: 12px;
    margin-bottom: 2px;
}

.text-center {
    text-align: center
}

.warning {
    margin-top: 10px /*warning bang diem*/
}

#TBK th:first-child {
    font-weight: bold;
    background: #fff;
    font-size: 14px
}

#TBK th:last-child {
    font-weight: bold;
    background: #fff;
    font-size: 14px
}

#TBK td:nth-child(1) {
    background: #74b9ff;
    font-weight: bold;
    font-size: 14px;
}

#TBK td:nth-child(8) {
    font-weight: bold;
    font-size: 14px;

}

#TBK tr:nth-child(1) {
    background: #74b9ff;
    font-weight: bold;
    font-size: 14px;
}



.filter {
    margin-top: 5px;
    margin-left: 90px
}

#single tr:nth-child(2n+1) {
    background: #74b9ff
}

#TBK tr th button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: #000
}

#TBK tr td {
    max-width: 10px;
    height: 36px;
}

.dropdown-menu li {
    width: auto
}

#viecphailam {
    display: flex;
}

    #viecphailam div {
        position: relative;
        margin: 0 5px;
		border-radius: 20px;
        border: solid 2px #000;					
    }

        #viecphailam div span {
            position: relative;
            display: block;
            width: 110px;
            height: 110px;
           					
            color: red;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 100px;
            z-index: 10;
        }

            #viecphailam div span:nth-child(2) {
                height: 40px;
                font-size: 12px;
                letter-spacing: 0.2em;
                font-weight: 900;
                z-index: 9;
                box-shadow: none;
                
                color: red;
            }

        #viecphailam div a {
            text-decoration: none;
        }

tr {
    text-align: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #74b9ff !important;
}

/*Chang password*/
button {
    height: 30px
}

.khungdangnhap {
    margin: auto
}

label {
    font-size: 14px
}

.table-striped td {
    text-align: left
}

th {
    font-size: 14px
}

.bg-danger button {
    font-size: 14px;
    font-weight: bold
}

.table {
    table-layout: fixed
}

td, th {
    overflow-wrap: break-word
}
.FGV td {
    border-right: solid 3px #005c01
}



.TKBGV td {
    padding: 4px;
    border-right: solid 3px #005c01
}


.stripe-1 {
    color: white;
    background: repeating-linear-gradient( 45deg, red, red 2px, #accf8f 2px, #accf8f 30px );
}
#summary {
    line-height: 1.5;
				 
}

    #summary ul li a:not(.show) {
        height: 20px !important;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

.mergetiet {
    vertical-align: middle;
    background-color: #accf8f;
    font-weight:bold;
    font-size:medium
}
.mergetiet1 {
    vertical-align: middle;
    background-color: #accf8f;
    font-weight: bold;
    font-size: 12px;
   
}
caption {
    caption-side: top;
}