﻿<!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a ui-sref="trangchu"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="xemlichday">Xem lịch dạy</a></li>
    </ol>
</section>
<!-- Main content -->
<div class="container-fluid" style="margin-bottom:30px">
    <div class="row">
        <div class="col-md-3" style="margin:auto">
            <form class="">
                <div class="input-group ">
                    <div class="input-group-append">
                        <span class="input-group-text"><b>Nhập mã số viên chức  </b></span>
                    </div>

                    <input ng-model="msvc" type="text" class="form-control " placeholder="Nhập mã số viên chức">
                    <div class="input-group-append">
                        <a ng-click="getlichGiangDay();showAll();getThongTinCaNhan()"  class="form-control btn btn-primary text-white"> Xem</a>

                    </div>

                </div>

            </form>

        </div>
    </div>

</div>
<div class="container-fluid" style="margin-bottom:30px" ng-show="showlichday">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-striped table-bordered " style="width:40%!important;margin:auto">
                <tbody ng-repeat="item in TTCN">
                    <tr>
                        <td align="left">Họ tên</td>
                        <th style="text-align:left">{{item.HoTen}}</th>

                    </tr>
                    <tr>
                        <td align="left">Mã số viên chức</td>
                        <th style="text-align:left">{{item.MaSoVC}}</th>
                    </tr>
                    <tr>
                        <td align="left">Khoa</td>
                        <th style="text-align:left">{{item.TenPhongKhoa}}</th>
                    </tr>
                    <tr>
                        <td align="left">Email</td>
                        <th style="text-align:left">{{item.Email}}</th>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>


<div class="container-fluid" ng-show="showlichday">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <form class="form-horizontal table-responsive" novalidate name="frmAddProductCategory" role="form">
                <table class="table table-bordered table-hover">

                    <thead>
                        <!--<tr >
                            <td colspan="13" align="center">Mã số: <span style="font-weight:bold"><b>{{item.MaSoSV}}</b></span>, họ và tên: <span style="font-weight:bold"><b>{{item.HoLot}} {{item.Ten}}</b></span>, ngày sinh: <span style="font-weight:bold"><b>{{item.NgaySinh}}</b></span>, lớp:<span style="font-weight:bold"><b>{{item.TenLop}}</b></span>, ngành: <span style="font-weight:bold"><b>{{item.TenNganh}}</b></span>, khoa: <span style="font-weight:bold"><b>{{item.TenPhongKhoa}}</b></span></td>

                        </tr>-->
                        <tr style="font-size:20px" ng-repeat="item in LichGiangDay| limitTo : 1"> <td colspan="15"> Học kỳ hiện tại là:<b> {{item.HocKy}}</b>, năm học hiện tại là: <b> {{item.NamHoc}}</b></td> </tr>
                        <tr style="background:#74b9ff; ">
                            <th width="5%" style="text-align:center">STT</th>
                            <th width="8%" style="text-align:center">Mã môn học  </th>
                            <th width="13%" style="text-align:center">Tên môn học</th>
                            <th width="5%" style="text-align:center">NMH</th>
                            <th width="7%" style="text-align:center">TTH</th>
                            <th width="7%" style="text-align:center">Số TC</th>
                            <th width="5%" style="text-align:center">Mã lớp</th>
                            <th width="7%" style="text-align:center">Sĩ số</th>
                            <th width="7%" style="text-align:center">Còn trống</th>
                            <th width="7%" style="text-align:center">TH</th>
                            <th width="7%" style="text-align:center">Thứ</th>
                            <th width="7%" style="text-align:center">Tiết BD</th>
                            <th width="5%" style="text-align:center">Số tiết</th>
                            <th width="5%" style="text-align:center">Phòng</th>
                            <th width="5%" style="text-align:center">Thời gian học</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in LichGiangDay">
                            <td style="font-weight:bold">{{$index +1}}</td>
                            <td>{{item.MaMH}}</td>
                            <td><a href="">{{item.TenMH}}</a></td>
                            <td>{{item.MaNhom}}</td>
                            <td>{{item.SoGioThucHanh}}</td>
                            <td>{{item.SoTinChi}}</td>
                            <td>{{item.MaLop}}</td>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td>{{item.Thu}}</td>
                            <td>{{item.Tiet}}</td>
                            <td> {{item.SoTiet}}</td>
                            <td>{{item.TenPH}} </td>
                            <td> {{item.NgayBatDau| date:'MM/dd/yyyy'}}</td>

                        </tr>







                      

                    </tbody>



                </table>


                <br />



            </form>
        </div>


    </div>
</div>

<!--<div class="container-fluid">
    <div class="row" style="margin-top:10px">

        <div class="col-md-12">
            <div class="btn-group">
                <button type="button" class="btn btn-info">xem ban in</button>
            </div>
        </div>
    </div>

</div>-->

