﻿﻿  <!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#" ui-sref="trangchu_sv"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a ui-sref="dangkymonhoc">Đăng ký môn học</a></li>

    </ol>
</section>
<!-- Main content -->

<div class="container-fluid">

    <div>
        <div ng-show="ThoiHanDangKyMonHoc[ThoiHanDangKyMonHoc.length-1].ChoPhep==true" class="alert alert-success">
            <p>Thời hạn đăng ký môn học từ ngày <b>{{ThoiHanDangKyMonHoc[ThoiHanDangKyMonHoc.length-1].NgayDau|date:'dd/MM/yyyy'}}</b> đến ngày <b>{{ThoiHanDangKyMonHoc[ThoiHanDangKyMonHoc.length-1].NgayCuoi|date:'dd/MM/yyyy'}}</b></p>
        </div>
        <div ng-show="ThoiHanDangKyMonHoc[ThoiHanDangKyMonHoc.length-1].ChoPhep==false" class="alert alert-danger">
            <strong>Đăng ký môn học đang đóng.</strong>
        </div>
    </div>
    <!--<div>
        <div ng-show="ngaydau-ngayHienTai<0 && ngayHienTai-ngaycuoi<0" class="alert alert-success">
            <p>Thời hạn đăng ký môn học từ ngày <b>{{ThoiHanDangKyMonHoc[0].NgayDau|date:'dd/MM/yyyy'}}</b> đến ngày <b>{{ThoiHanDangKyMonHoc[0].NgayCuoi|date:'dd/MM/yyyy'}}</b></p>
        </div>
        <div ng-show="ngaydau-ngayHienTai>0 && ngayHienTai-ngaycuoi<0" class="alert alert-danger">
            <strong>Đăng ký môn học đang đóng.</strong>
        </div>
    </div>-->

    <div class="row">

        <div class="col-md-12">
            <form class="form-horizontal" novalidate name="frmAddProductCategory" role="form" ng-submit="AddDangKy_TamThoi()">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <h6><b>Danh sách các môn học đã chọn:</b></h6>
                        <thead>
                            <tr style="background:#74b9ff; ">
                                <th width="7%" style="text-align:center">STT</th>
                                <th width="8%" style="text-align:center">Mã môn học  </th>
                                <th width="17%" style="text-align:center">Tên môn học</th>
                                <th width="10%" style="text-align:center">NMH</th>
                                <th width="5%" style="text-align:center">TTH</th>
                                <th width="5%" style="text-align:center">Số TC</th>
                                <th width="7%" style="text-align:center">Số TCHP</th>
                                <th width="9%" style="text-align:center">Học phí</th>
                                <th width="7%" style="text-align:center">Miễn giảm</th>
                                <th width="7%" style="text-align:center">Phải đóng</th>
                                <th width="7%" style="text-align:center">Trạng thái</th>
                                <th width="5%" style="text-align:center">Thứ</th>
                                <th width="6%" style="text-align:center">Tiết BĐ</th>
                                <th width="5%" style="text-align:center">Số tiết</th>
                                <th width="5%" style="text-align:center">Xóa</th>
                                <th width="9%" style="text-align:center">Ghi chú</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in dangKy_TamThoi">
                                <td>{{$index +1}}</td>
                                <td>{{item.MaMH}}</td>
                                <td>{{item.TenMH}}</td>
                                <td>{{item.MaNhom}}</td>
                                <td>{{item.SoGioThucHanh}}</td>
                                <td>{{item.SoTinChi}}</td>
                                <td>{{item.MaSoSV}}</td>
                                <td> {{item.TongSoTienHocPhiHocKy|number}}</td>
                                <td> {{item.MienGiam}}</td>
                                <td>{{item.PhaiDong}}</td>
                                <td>{{item.Dong | statusFilter}}</td>
                                <td>{{item.Thu}}</td>
                                <td>{{item.Tiet}}</td>
                                <td>{{item.SoTiet}}</td>
                                <td> <button type="button" class="btn  btn-lg btn-danger" ng-disabled="(ThoiHanDangKyMonHoc[ThoiHanDangKyMonHoc.length-1].ChoPhep==false)" ng-click="deleteDangKy(item.ID)"><i class="fa fa-trash"></i></button></td>
                                <td> </td>

                            </tr>
                            <tr ng-repeat="item in dangKyTamThoi" style="background:#ada899">
                                <td>{{$index +1}}</td>
                                <td>{{item.MaMH}}</td>
                                <td>{{item.TenMH}}</td>
                                <td>{{item.MaNhom}}</td>
                                <td>{{item.SoGioThucHanh}}</td>
                                <td>{{item.SoTinChi}}</td>
                                <td></td>
                                <td> {{item.TongSoTienHocPhiHocKy|number}}</td>
                                <td> {{item.MienGiam}}</td>
                                <td>{{item.PhaiDong}}</td>
                                <td>{{item.Dong | statusFilter}}</td>
                                <td>{{item.Thu}}</td>
                                <td>{{item.Tiet}}</td>
                                <td>{{item.SoTiet}}</td>
                                <td> <a class="btn  btn-sm btn-danger" ng-click="xoa($index)"><i class="fa fa-trash"></i></a></td>
                                <td> <a class="btn  btn-sm btn-danger">Mới thêm vào</a></td>
                            </tr>

                            <tr>
                                <th>Tổng: {{ (dangKy_TamThoi|total)+(user.roles|total) }}</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th style="text-align:center">
                                    {{ (dangKy_TamThoi|total:'SoTinChi')+(user.roles|total:'SoTinChi')}}
                                    <!--<input type="hidden" name="name" value="{{vuotsotinchi((dangKy_TamThoi|total:'SoTinChi')+(user.roles|total:'SoTinChi'))}}"  />-->
                                </th>
                                <th style="text-align:center"></th>
                                <th style="text-align:center; font-size:x-small">{{((dangKy_TamThoi|total:'TongSoTienHocPhiHocKy')+ (user.roles|total:'TongSoTienHocPhiHocKy'))|number }} VNĐ</th>
                                <th style="text-align:center"></th>
                                <th style="text-align:center"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>

                            </tr>
                        </tbody>



                    </table>
                </div>


                <br />

                <div class="center-block  text-center">
                    <button type="submit" class="btn btn-primary " style="background:#74b9ff;" ng-show="user.roles!=null">Xác nhận đăng ký môn học</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary " style="background:#74b9ff;" ng-click="toggle()" ng-show="btnsua" ng-disabled="(ThoiHanDangKyMonHoc[ThoiHanDangKyMonHoc.length-1].ChoPhep==false)">Sửa đăng ký môn học</button>
                    <button type="button" class="btn btn-danger " ng-click="huy()" ng-show="btnhuy">Hủy</button>

                </div>

            </form>
        </div>


    </div>

    </br>    </br></br></br>

    <div ng-show="myVar">
        <div class="row">
            <div class="col-md-4  hidden-xs" style="margin-top:10px">
                <form action="#">
                    <div class="input-group ">
                        <div class="input-group-append">
                            <span class="input-group-text  chunho"><b>Tìm theo môn học</b></span>
                        </div>

                        <input type="text" class="form-control chunho" placeholder="Nhập vào môn học" name="search" ng-model="temMH">
                        
                        <div class="input-group-append">
                            <button class="btn btn-primary chunho form-control" type="button" ng-click="getMonHocTheoTen()">Tìm</button>

                        </div>

                    </div>
                </form>
                
            </div>
            <div class="col-xs-6 hidden-sm hidden-md hidden-lg" style="margin-top:10px">
                <form action="#">
                    <div class="input-group ">
                        <div class="input-group-append">
                            <span class="input-group-text  chunho"><b>Tìm theo môn học</b></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <form action="#">
                    <div class=" input-group">
                        <input type="text" class="form-control chunho" placeholder="Nhập vào môn học" name="search" ng-model="temMH">

                        <div class="input-group-append">
                            <button class="btn btn-primary chunho form-control" type="button" ng-click="getMonHocTheoTen()">Tìm</button>

                        </div>
                    </div>
                </form>
            </div>



            <div class="col-md-8  hidden-xs" style="margin-top:10px">
                <form class="">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text"><b>Tìm theo điều kiện</b></span>
                        </div>

                        <div class="input-group-append">
                            <select class="selectpicker form-control" ng-model="daluachon"
                                    ng-options="x    for x in luachon">
                            </select>

                        </div>

                        <div class="input-group-append" ng-if="daluachon=='Lớp'">


                            <select class="selectpicker form-control" ng-model="$parent.tenLop">

                                <option disabled value="">Chọn: Lớp</option>
                                <option ng-repeat="item in Lop">{{item.TenLop}}</option>
                            </select>

                        </div>
                        <div class="input-group-append" ng-if="daluachon=='Ngành'">


                            <select class="selectpicker form-control" ng-model="$parent.tenNganh">

                                <option disabled value="">Chọn: Ngành</option>
                                <option ng-repeat="item in Nganh">{{item.TenNganh}}</option>



                            </select>

                        </div>

                        <div class="input-group-append" ng-if="daluachon=='Khoa'">


                            <select class="selectpicker form-control" ng-model="$parent.tenPhongKhoa">

                                <option disabled value="">Chọn: Khoa</option>
                                <option ng-repeat="item in Khoa">{{item.TenPhongKhoa}}</option>



                            </select>

                        </div>


                        <div class="input-group-append">
                            <button class="btn btn-primary form-control" type="button" ng-click="getDanhSachMonHocLop();getDanhSachMonHocNganh();getDanhSachMonHocKhoa()"> Tìm</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-xs-12  hidden-sm hidden-md hidden-lg" style="margin-top:10px">
                <form class="">
                    <div class="input-group-append">
                        <span class="input-group-text"><b>Tìm theo điều kiện</b></span>
                    </div>

                </form>
            </div>
            <div class="col-xs-6  hidden-sm hidden-md hidden-lg">

                <div class="input-group-append">
                    <select class="selectpicker form-control" ng-model="daluachon"
                            ng-options="x    for x in luachon">
                    </select>

                </div>


            </div>
            <div class="col-xs-12  hidden-sm hidden-md hidden-lg">



                <div class="input-group-append" ng-if="daluachon=='Lớp'">


                    <select class="selectpicker form-control" ng-model="$parent.tenLop">

                        <option disabled value="">Chọn: Lớp</option>
                        <option ng-repeat="item in Lop">{{item.TenLop}}</option>
                    </select>

                </div>
                <div class="input-group-append" ng-if="daluachon=='Ngành'">


                    <select class="selectpicker form-control" ng-model="$parent.tenNganh">

                        <option disabled value="">Chọn: Ngành</option>
                        <option ng-repeat="item in Nganh">{{item.TenNganh}}</option>



                    </select>

                </div>

                <div class="input-group-append" ng-if="daluachon=='Khoa'">


                    <select class="selectpicker form-control" ng-model="$parent.tenPhongKhoa">

                        <option disabled value="">Chọn: Khoa</option>
                        <option ng-repeat="item in Khoa">{{item.TenPhongKhoa}}</option>



                    </select>

                </div>

            </div>
            <div class="col-xs-12  hidden-sm hidden-md hidden-lg">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="getDanhSachMonHocLop();getDanhSachMonHocNganh();getDanhSachMonHocKhoa()"> Tìm</button>
                </div>
            </div>
        </div> <br />
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <h5><b>Danh sách các môn học:</b></h5>
                <thead>
                    <tr style="background:#74b9ff;">
                        <th width="5%" style="text-align:center">Mã môn</th>
                        <th width="10%" style="text-align:center">Tên môn</th>
                        <th width="5%" style="text-align:center">NMH</th>
                        <th width="5%" style="text-align:center">TTH</th>
                        <th width="6%" style="text-align:center">Số TC</th>
                        <th width="6%" style="text-align:center">Số TCHP</th>
                        <th width="6%" style="text-align:center">Mã lớp</th>
                        <th width="5%" style="text-align:center">Sĩ số</th>
                        <th width="6%" style="text-align:center">Còn trống</th>
                        <th width="4%" style="text-align:center">TH</th>
                        <th width="6%" style="text-align:center">Thứ</th>
                        <th width="6%" style="text-align:center">Tiết BĐ</th>
                        <th width="5%" style="text-align:center">Số tiết</th>
                        <th width="5%" style="text-align:center">Phòng</th>
                        <th width="14%" style="text-align:center">Thời gian học</th>
                        <th width="6%" style="text-align:center">Chọn</th>
                    </tr>
                </thead>

                <tbody>

                    <tr ng-repeat="item in danhSachMonHocLop" ng-hide="((checkdacomonhoc(item.MaMH,item.Thu,item.Tiet,item.Sotiet)).indexOf(1)>-1)">
                        <td>{{item.MaMH}}</td>
                        <td>{{item.TenMH}}</td>
                        <td>{{item.MaNhom}}</td>
                        <td>{{item.SoGioThucHanh}}</td>
                        <td>{{item.SoTinChi}}</td>
                        <td></td>
                        <td>{{item.MaLop}}</td>
                        <td></td>
                        <td> </td>
                        <td>{{item.SoGioThucHanh}}</td>
                        <td>{{item.Thu}}</td>
                        <td>{{item.Tiet}}</td>
                        <td>{{item.SoTiet}}</td>
                        <td>{{item.TenPH}}</td>
                        <td>{{item.NgayBatDau| date:'dd/MM/yyyy'}} -> {{item.NgayKetThuc| date:'MM/dd/yyyy'}}</td>
                        <td><input type="checkbox" checklist-model="user.roles" ng-click="check();vuotsotinchi(item.MaMH,item.Thu,item.Tiet,item.Sotiet)" checklist-value="item" ng-model="justanothercheckedvar"></td>

                    </tr>
                    <tr ng-repeat="item in danhSachMonHocNganh" ng-hide="(checkdacomonhoc(item.MaMH,item.Thu,item.Tiet,item.Sotiet)).indexOf(1)>-1">
                        <td>{{item.MaMH}}</td>
                        <td>{{item.TenMH}}</td>
                        <td>{{item.MaNhom}}</td>
                        <td>{{item.SoGioThucHanh}}</td>
                        <td>{{item.SoTinChi}}</td>
                        <td></td>
                        <td>{{item.MaLop}}</td>
                        <td></td>
                        <td> </td>
                        <td>{{item.SoGioThucHanh}}</td>
                        <td>{{item.Thu}}</td>
                        <td>{{item.Tiet}}</td>
                        <td>{{item.SoTiet}}</td>
                        <td>{{item.TenPH}}</td>
                        <td>{{item.NgayBatDau| date:'MM/dd/yyyy'}} -> {{item.NgayKetThuc| date:'MM/dd/yyyy'}}</td>
                        <td><input type="checkbox" checklist-model="user.roles" ng-click="check();vuotsotinchi(item.MaMH,item.Thu,item.Tiet,item.Sotiet)" checklist-value="item" ng-model="justanothercheckedvar"></td>
                    </tr>

                    <tr ng-repeat="item in danhSachMonHocKhoa" ng-hide="(checkdacomonhoc(item.MaMH,item.Thu,item.Tiet,item.Sotiet)).indexOf(1)>-1">
                        <td>{{item.MaMH}}</td>
                        <td>{{item.TenMH}}</td>
                        <td>{{item.MaNhom}}</td>
                        <td>{{item.SoGioThucHanh}}</td>
                        <td>{{item.SoTinChi}}</td>
                        <td></td>
                        <td>{{item.MaLop}}</td>
                        <td></td>
                        <td> </td>
                        <td>{{item.SoGioThucHanh}}</td>
                        <td>{{item.Thu}}</td>
                        <td>{{item.Tiet}}</td>
                        <td>{{item.SoTiet}}</td>
                        <td>{{item.TenPH}}</td>
                        <td>{{item.NgayBatDau| date:'MM/dd/yyyy'}} -> {{item.NgayKetThuc| date:'MM/dd/yyyy'}}</td>
                        <td><input type="checkbox" checklist-model="user.roles" ng-click="check();vuotsotinchi(item.MaMH,item.Thu,item.Tiet,item.Sotiet)" checklist-value="item" ng-model="justanothercheckedvar"></td>
                    </tr>

                    <tr ng-repeat="item in monHocTheoTen" ng-hide="(checkdacomonhoc(item.MaNhom,item.Thu,item.Tiet,item.Sotiet)).indexOf(1)>-1">
                        <td>{{item.MaMH}}</td>
                        <td>{{item.TenMH}}</td>
                        <td>{{item.MaNhom}}</td>
                        <td>{{item.SoGioThucHanh}}</td>
                        <td>{{item.SoTinChi}}</td>
                        <td></td>
                        <td>{{item.MaLop}}</td>
                        <td></td>
                        <td> </td>
                        <td>{{item.SoGioThucHanh}}</td>
                        <td>{{item.Thu}}</td>
                        <td>{{item.Tiet}}</td>
                        <td>{{item.SoTiet}}</td>
                        <td>{{item.TenPH}}</td>
                        <td>{{item.NgayBatDau| date:'MM/dd/yyyy'}} -> {{item.NgayKetThuc| date:'MM/dd/yyyy'}}</td>
                        <td><input type="checkbox" checklist-model="user.roles" ng-click="check();vuotsotinchi(item.MaMH,item.Thu,item.Tiet,item.Sotiet)" checklist-value="item" ng-model="justAnotherCheckedVar"></td>

                    </tr>



                </tbody>

            </table>
        </div>
    </div>






</div>
