﻿﻿

<!-- Content Header (Page header) -->
<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#" ui-sref="trangchu_sv"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#" ui-sref="thongtincanhan_sv">Thông tin cá nhân   </a></li>

    </ol>
</section>
<!-- Main content -->
<!-- Default box -->


<div class="container-fluid">
    <div class="row">

        <div class="col-md-5"  style="margin:auto">

            
                <table class="table table-striped  table-bordered" style="border:solid #ddd 1px;" ng-repeat="item in thongTinCaNhan">
                    <caption style="color:red;caption-side:top"><b>Thông tin tài khoản:</b></caption>
                    <tr>
                        <th style="text-align:left">Tài khoản </th>
                        <td style="text-align:left">{{item.MaSoSV}} </td>
                    </tr>
                    <tr>
                        <th style="text-align:left">Họ và tên </th>
                        <td style="text-align:left">{{item.HoLot}} {{item.Ten}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:left">Lớp</th>
                        <td style="text-align:left">{{item.TenLop}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:left">Ngành</th>
                        <td style="text-align:left">{{item.TenNganh}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:left">Khoa</th>
                        <td style="text-align:left">{{item.TenPhongKhoa}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:left">Khóa</th>
                        <td style="text-align:left">{{item.NienKhoa}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:left">Hệ đào tạo</th>
                        <td style="text-align:left">{{item.HeDaoTao}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:left">Mật khẩu </th>
                        <td style="text-align:left"><a ui-sref="doimatkhau" class="btn btn-xs btn-primary">Đổi mật khẩu</a> </td>
                    </tr>
                </table>
           
        </div>

    </div>

    <br />
    <div class="row">

        <div class="col-md-5 "  style="margin:auto">
          
            <table class="table table-striped table-bordered" style="border:solid #ddd 1px;">
                <caption style="color: red;caption-side:top">
                    <b>Thông tin liên lạc:</b>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
                        Sửa
                    </button>
                </caption>

                <tr>
                    <td><b>Tài khoản </b></td>
                    <td>{{thongtin.MaSoSV}} </td>
                </tr>
                <tr>
                    <td><b>Số điện thoại 1 </b></td>
                    <td> <a href="tel:0983 959 281">{{thongtin.DienThoai}} </a> </td>
                </tr>
                <tr>
                    <td> <b>Số điện thoại 2 </b></td>
                    <td>  <a href="tel:0965 800 268">{{thongtin.DienThoai}}</a></td>
                </tr>
                <tr>
                    <td> <b>Email liên lạc 1 </b> </td>
                    <td> <a href="mailto:khoa.le@tinnghiaco.com ">{{thongtin.Email}} </a>
                </tr>
                <tr>
                    <td> <b>Email liên lạc 2 </b> </td>
                    <td>
                        <a href="mailto:khoa.le@gmail.com">{{thongtin.Email}} </a>
                    </td>
                </tr>

            </table>
        

    </div>

</div>









</div>
<div class="container">
    <div class="row" id="of">


        <div class="modal fade bs-example-modal-lg" id="off" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="border-radius: 10px;
                     margin: 15% 0px;height:520px">
                    <div class="modal-body">
                        <h1 style="text-align:center;color:red">THÔNG TIN SINH VIÊN</h1>
                        <div class="row">

                            <div class="col-md-12">

                                <table class="table table-striped table-bordered" style="width:90%!important;border:solid #ddd 1px;margin:auto" ng-repeat="item in thongTinCaNhan">
                                    <tr>
                                        <td> <b>Tài khoản </b></td>
                                        <td>{{item.MaSoSV}} </td>
                                    </tr>
                                    <tr>
                                        <td><b>Họ và tên </b></td>
                                        <td>{{item.HoLot}} {{item.Ten}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Lớp</b></td>
                                        <td>{{item.TenLop}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Ngành</b></td>
                                        <td>{{item.TenNganh}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Khoa</b></td>
                                        <td>{{item.TenPhongKhoa}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Khóa</b></td>
                                        <td>{{item.NienKhoa}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Hệ đào tạo</b></td>
                                        <td>{{item.HeDaoTao}}</td>
                                    </tr>

                                </table>

                            </div>

                        </div>

                        <br />
                        <form class="form-horizontal" data-toggle="validator" name="frmUpdateTTCN" role="form" ng-submit="update() ">
                            <div class="row">

                                <div class="col-md-12">


                                    <table class="table table-striped table-bordered" style="width:90%!important;border:solid #ddd 1px;margin:auto">


                                        <tr>
                                            <td><b>Số điện thoại 1 </b></td>
                                            <td class="invalid"> <input pattern="[0-9]{1,12}" data-error="nhập số không được nhập ký tự" required title="nhập số không được nhập ký tự " type="tel" name="tel" maxlength="12" class="form-control" ng-model="thongtin.DienThoai" /> </td>


                                        </tr>
                                        <tr>
                                            <td><b>Số điện thoại 2 </b></td>
                                            <td> <input type="text" class="form-control" /> </td>
                                        </tr>
                                        <tr>
                                            <td><b>Email liên lạc 1  </b></td>
                                            <td> <input type="email" data-error="định dạng email không hợp lệ " name="email" required title="định dạng email không hợp lệ" placeholder="Email" class="form-control" ng-model="thongtin.Email" /></td>
                                        </tr>
                                        <tr>
                                            <td><b>Email liên lạc 2 </b> </td>
                                            <td> <input type="text" class="form-control" /></td>
                                        </tr>

                                    </table>



                                </div>

                            </div>
                            <div class="row" style="margin-top:10px">
                                <div class="col-md-1" style="margin:auto">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                        <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal">Hủy</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
