﻿<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
    </ol>
</section>

<div class="container-fluid">
    <div class="row" ng-controller="trangChuController" style="height:30%">
        <div class="col-md-4 col-6 col-sm-5 col-xl-3 " style="height:50%" >
            <div id="viecphailam">
                <div><a ui-sref="viecphailam"><span id="sovieclam">{{demvieclamvienchuc}}</span><span>Việc phải làm</span></a></div>
                <div><a ui-sref="dondanop"><span id="sovieclam">{{demdonvienchuc}}</span><span>Đơn đã nộp</span></a></div>
            </div>
        </div>

        <div class="col-md-8 col-12 col-sm-7  col-xl-9 " style="margin-top: 10px;height:50%">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger"><b>Nhắc nhở:</b></li>
                <li class="list-group-item" ng-repeat="item in nhacNho"><i class="fa fa-chevron-circle-right"> </i>&nbsp;&nbsp; <a ui-sref="chitietnhacnho({MaSoNN:{{item.MaSoNN}}})"> {{item.NoiDungNhac}}</a></li>
            </ul>
            <div class="box-footer">
                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getNhacNho(page)"></pager-directive>
            </div>
        </div>
        
    </div>




    <div class="row" style="margin-top:10px" ng-controller="trangChuController">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success "><b>Thông báo:</b></li>
                <li class="list-group-item" ng-repeat="item in thongBao"><i class="fa fa-chevron-circle-right"> </i>&nbsp;&nbsp; <a ui-sref="thongbao({MaSoTB:{{item.MaSoTB}}})">{{item.NoiDung}} </a></li>

            </ul>

            <div class="box-footer">
                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getThongBao(page)"></pager-directive>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:10px;margin-bottom:10px" ng-controller="trangChuController">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info "><b>Tin tức và sự kiện:</b></li>
                <li class="list-group-item" ng-repeat="item in tinTuc"><i class="fa fa-chevron-circle-right"> </i>&nbsp;&nbsp; <a ui-sref="tintuc({MaTinTuc:{{item.MaTinTuc}}})">{{item.NoiDung}} </a>  </li>
            </ul>
            <div class="box-footer">
                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{TotalCount}}" search-func="getTinTuc(page)"></pager-directive>
            </div>

        </div>
       
    </div>
   


</div>
